
<div class="fake-view product-block">
  <span> {{ fake_view_text_prefix }}</span>
  <span class="js-fake-view text-theme" data-min="{{ fake_view_min }}" data-max="{{ fake_view_max }}" data-duration="{{ fake_view_duration | times: 1000 }}"></span>
  <span> {{ fake_view_text_suffix }}</span>
</div>
