{%- style -%}
  .featured-over .article__photo-wrapper{
    background:var(--g-color-heading);
    --bg-overlay-blog: {{ gradient_bg }};
  }
  .featured-over .article__photo-wrapper:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--bg-overlay-blog);
    z-index:1;
  }
  .featured-content-article{
    z-index:2;
  }
  .featured-over h1, .featured-over .blog__meta{
    color:white;
  }
{%- endstyle -%}
<div class="featured-over">
    <div class="content-block mb-5 text-center">
            <div class="content-block__full-image--large featured-img">
              <div class="article__photo-container mb-4 overflow-hidden">
                <div class="article__photo-wrapper h{{ image_size }}px d-flex align-items-center" >
                  {%- if article.image and enable_image -%}
                       <img
                        srcset="
                          {%- if article.image.width >= 165 -%}{{ article.image | image_url: width: 165 }} 165w,{%- endif -%}
                          {%- if article.image.width >= 360 -%}{{ article.image | image_url: width: 360 }} 360w,{%- endif -%}
                          {%- if article.image.width >= 533 -%}{{ article.image | image_url: width: 533 }} 533w,{%- endif -%}
                          {%- if article.image.width >= 720 -%}{{ article.image | image_url: width: 720 }} 720w,{%- endif -%}
                          {%- if article.image.width >= 940 -%}{{ article.image | image_url: width: 940 }} 940w,{%- endif -%}
                          {%- if article.image.width >= 1066 -%}{{ article.image | image_url: width: 1066 }} 1066w,{%- endif -%}
                          {{ article.image | image_url }} {{ article.image.width }}w
                        "
                        src="{{ article.image | image_url: width: 1920 }}"
                        sizes="(min-width: {{ settings.container }}px) {{ settings.container | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                        alt="{{article.title | escape }}"
                        class="lazyload scale-in"
                        data-sizes="auto"
                        data-aspectratio="{{ article.image.aspect_ratio }}"
                        loading="lazy"
                        width="{{ article.image.width }}"
                        height="{{ article.image.height }}"
                      > 
                  {%- endif -%}
                  <div class="container position-relative featured-content-article">
                    <div class="row justify-content-center text-{{ align }}">
                        <div class="col-md-8 ">
                            <h1 class="h3 mb-4">{{ article.title }}</h1>
                            <p class="blog__meta txt-body-70 d-flex align-items-center flex-wrap {% if align == 'left' %}justify-content-start {% else %} justify-content-center {% endif %} ">
                              {%- if enable_date -%}
                                <span class="meta-c pr-3 mr-3 blog_date align-items-center d-inline-flex mb-2 mb-lg-0"> {%- render 'icon-date' -%}{{ article.published_at | time_tag: format: 'month_day_year' }} </span>
                              {%- endif -%}
                              {%- if enable_author -%}
                                <span class="blog_user pr-3 meta-c mr-3 align-items-center d-inline-flex mb-2 mb-lg-0">
                                    {%- render 'icon-user' -%}
                                    {{ article.author | default: "Author" }}
                                </span> 
                              {%- endif -%}
                              {%- if enable_comment -%}
                                <span class="blog_comment align-items-center d-inline-flex meta-c">
                                  {%- render 'icon-comment' -%}
                                  {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                                </span>
                              {%- endif -%}
                              
                            </p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
    </div>
  </div>
 