
<div class="{{ container }}">
  <div class="header-top__wrap d-flex pt-2 align-items-center w-100">
      <div class="d-flex d-lg-none toggle-menu-mobile align-items-center">
          {%- render 'button-toggle-menu-mobile' -%}
          <span class="modal__toggle-search-mobile" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icon-search' %}
          </span>
        </div>
      <div class="col_bottom__left d-flex align-items-center">
            {%- if enable_menu_vertical and sl_menu_vertical == 'click-menu' -%}
              <div class="site-nav__item d-none d-lg-flex">
                <button class="pl-0 pr-2 site-nav__link btn site-click-menu">
                  <svg aria-hidden="true" fill="none" focusable="false" width="24" class="icon-humbeger" viewBox="0 0 24 24">
                    <path d="M1 19h22M1 12h22M1 5h22" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"></path>
                  </svg>
                </button>
              </div>
          {%- endif -%}
          {%- render 'header-search', link_list_search: section.settings.link_list_search, e_search: section.settings.sidebar_search -%}
          <div class="d-none d-lg-flex align-items-center">
              {%- liquid
                assign enable_image = section.settings.enable_image
                assign enable_name = section.settings.enable_name 
                if section.settings.e_hd_currency and localization.available_countries.size > 1
                  render 'localization' id: 'HeaderCountryForm', enable_image: enable_image, header-left : 'header-left' , enable_name: enable_name
                endif
              if section.settings.enable_language_selector and localization.available_languages.size > 1 
                  render 'localization-language', id: 'HeaderLanguageForm', enable_name: enable_name
                endif
              -%}
            </div>
      </div>
      <div class="d-flex align-items-center justify-content-center justify-content-lg-start col-logo ">
          <div class="pl-lg-0 ml-lg-0">
          {%- render 'site-logo' -%}
          </div>
      </div>
      <div class="header-bottom__right col-bottom__right">
          {%- render 'header-login' -%}
          {%- render 'block-wishlist' -%}
          {%- render 'block-cart' -%}
          {%- if section.settings.enable_sidebar_option -%}
            {%- for block in blocks -%}
              {%- if block.type == 'option-sidebar' -%}
                {%- render 'option-sidebar', block: block -%}
              {%- endif -%}
            {%- endfor -%}
          {% endif %}
      </div>
  </div>
</div>
<div class="d-none d-lg-flex col-menu">
  <div class="{{ container }}">
  {%- if enable_menu_vertical and sl_menu_vertical == 'hover-menu' -%}
    <nav class="nav-bar d-none d-lg-block" role="navigation">
      <ul class="site-nav">
        {%- for link in linklists[main_linklist].links -%}
          <li class="site-nav__item site-nav__item-normal {% if link.active %} site-nav--active{% endif %}" >
              <a data-link="tab-{{ link.title | strip | downcase | handle }}" href="{{ link.url }}" 
                class="site-nav__link {% if link.links != blank %} outer-menu-item site-navtab {% endif %}">
                <span class="site-nav__title">{%- render 'processMenuTitle' , itemName: link.title -%}</span>
                {%- render 'processMenuLabel' , itemName: link.title -%}
              </a>
            </li>
        {%- endfor -%}
      </ul>
    </nav>
  {%- else-%}
  <nav class="nav-bar d-none d-lg-block text-center" role="navigation">
    <ul class="site-nav">
      {%- for link in linklists[main_linklist].links -%}
        {%- liquid
          assign hasMega = false
          assign titleCheckMega = link.title | strip | split: '[' | first | downcase
          
          for block in blocks
            assign type = block.type
            assign block = block
            assign menu_title = block.settings.menu_title | strip | downcase 

            if titleCheckMega == menu_title
              assign hasMega = true
              assign intMega = forloop.index
            break 
            endif 
          endfor
        
        -%}
        {%- if hasMega -%}
      <li class="site-nav__item site-nav__item-mega {% if link.active %} site-nav--active{% endif %}">
        <a href="{{ link.url }}" class="site-nav__link dropdown-toggle" {% if link.active %} aria-current="page"{% endif %}>
          <span class="site-nav__title">{%- render 'processMenuTitle' , itemName: link.title -%}</span>
          {%- render 'processMenuLabel' , itemName: link.title -%}
          {% render 'icon-caret' %}
        </a>
        <div class="site-nav__dropdown meganav meganav-{{ intMega }}" >
          {% capture megamenu_product %}
          {%- liquid
            assign link_column = ''
            assign menu_width = block.settings.menu_width
            assign menu_column = block.settings.menu_column
            assign enable_menu_product = block.settings.enable_menu_product
            assign menu_product_width = block.settings.menu_product_width
          
            case menu_column
              when 1
              assign link_column = 'col-sm-12'
              when 2
              assign link_column = 'col-sm-6'
              when 3
              assign link_column = 'col-sm-4'
              when 4
              assign link_column = 'col-sm-3'
              when 5
              assign link_column = 'col-1-5'
              when 6
              assign link_column = 'col-sm-2'
              else 
              assign link_column = 'col-sm-2'
            endcase
            -%}
          <div class="{{ menu_width }}">
            <div class="row">
              {%- if link.links != blank -%}
              <div class="mega-col mega-link {% if enable_menu_product == false %} col-12 {% else %} col {% endif %}">
                <div class="row">
                  {%- if link.links != blank -%}
                  {%- for childlink in link.links -%}
                  <div class="{{ link_column }} d-col-link">
                    <div class="mega-col-inner ">
                      <div class="menu-title">
                        <a href="{{ childlink.url }}" >
                          {%- render 'processMenuTitle' , itemName: childlink.title -%}
                          {%- render 'processMenuLabel' , itemName: childlink.title -%}
                        </a>
                      </div>
                      <div class="widget-inner">
                        <ul class="nav-links">
                          {%- if childlink.links != blank -%}
                          {%- for grandchildlink in childlink.links -%}
                          <li>
                            <a href="{{ grandchildlink.url }}" >
                              {%- render 'processMenuTitle' , itemName: grandchildlink.title -%}
                              {%- render 'processMenuLabel' , itemName: grandchildlink.title -%}
                            </a>
                          </li>
                          {%- endfor -%}
                          {%- endif -%}
                        </ul>
                      </div>
                    </div>
                  </div>
                  {%- endfor -%}
                  {%- endif -%}
                </div>
              </div>
              {%- endif -%}
          
              {% if enable_menu_product %}
                <div class="mega-col col" style="max-width:{{ menu_product_width }}%;flex:0 0 {{ menu_product_width }}%;">    
                  <div class="row">
                    {% for i in (1..6) %}
                        {%- liquid
                          assign menu_product_var = 'menu_product_' | append: i 
                          assign menu_product = block.settings[menu_product_var]
                        -%}
                        {% if menu_product != blank %}
                          <div class="products_menu col mt-3 d-col-link">
                            {%- render 'product-card', product: menu_product -%}
                          </div>
                        {% endif %}
                    {% endfor %}
                  </div>
                
                  
                </div>
              {% endif %}
            </div>
          </div>
          
          {% endcapture %}
          {%- liquid
            case type
            when 'menu-product'
              echo megamenu_product 
            when 'menu-collection'
              render 'megamenu-collection', intMega: intMega, link: link, block: block
            when 'menu-banner'
              render 'megamenu-banner', intMega: intMega, link: link, block: block
            else
              render 'megamenu-banner-classic', intMega: intMega, link: link, block: block
          endcase
          -%}
          
        </div>
      </li>
      {%- elsif link.links != blank -%}
      <li class="site-nav__item site-nav__item-normal {% if link.active %} site-nav--active{% endif %}">
        <a href="{{ link.url }}" class="site-nav__link dropdown-toggle" {% if link.active %} aria-current="page"{% endif %}>
          <span class="site-nav__title">{%- render 'processMenuTitle' , itemName: link.title -%}</span>
          {%- render 'processMenuLabel' , itemName: link.title -%}
          {% render 'icon-caret' %}
        </a>
        <div class="site-nav__dropdown meganav">
          <div class="meganav__nav">
            {%- render 'site-nav', link: link -%}
          </div>
        </div>
      </li>
      {%- else -%}
      <li class="site-nav__item{% if link.active %} site-nav--active{% endif %}">
        <a href="{{ link.url }}" class="site-nav__link"{% if link.active %} aria-current="page"{% endif %}>
          <span class="site-nav__title">{%- render 'processMenuTitle' , itemName: link.title -%}</span>
          {%- render 'processMenuLabel' , itemName: link.title -%}
        </a>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  </nav>
{%- endif -%}
  </div>
</div>
  