
<style>
  html {
  scrollbar-gutter: stable;
}
.loading-overlay_x{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    z-index:999999999;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:36px;
}
.loading-overlay_x.fadeout {
  {% unless  settings.loading_animation == "2" %}
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    animation: fadeOut 1s ease;
    transition: visibility 1s linear 1s;
  {% else %}
    transform:translateY(-100%);
    transition:transform 1s 1s;
    {% endunless %}
}
.loader__image__holder{
    animation: pulse-loading 2s infinite ease-in-out;
}
.loader--image{
  max-width:{{ settings.loading_image_size }}px;
}
@keyframes fadeOut{
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
@keyframes pulse-loading{
0% {
    opacity: 1;
}
50% {
    opacity: .25;
}
100% {
    opacity: 1;
}
}
.loader-image-2{
display:flex;
flex-direction:column;
gap:36px;
}
.preloader-indicator {
    width: 100%;
}
.indicator-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 3px;
    background-color: rgba(136, 158, 168, 0.2);
}
.indicator-fill {
    width: 0%;
    height: 100%;
    background-color: #b1e4e3; 
    transition:.5s;
}
.loading-overlay_x.fading-out .indicator-fill{
  width:100%;
}
.loading-overlay_x.fadeout .loader-image-2{
    opacity: 0;
    transform: scale(0.8, 0.8);
    transition:opacity 1s, transform 1s;
}
.loader__image__holder_3{
position:relative;
transform:scale(1.2);
transition:1s;
}
.loading-overlay_x.fading-out .loader__image__holder_3{
transform:scale(1);
}
.loader_hider{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
transition:1s;
}
.loading-overlay_x.fading-out .loader_hider{
  transform: translate3d(130%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
</style>
<div class="loading-overlay_x" style="background:{% if settings.loading_animation == '2' %}{{ settings.color_primary }}{% else %}{{ settings.loading_background }}{% endif %}">
  {% if settings.loading_animation == "1" %}
  <div class="loader loader--image">
    <div class="loader__image__holder">
      <img src="{{ settings.loading_image | image_url: width: 400 }}" width="{{ settings.loading_image_size}}" height="auto" loading="eager" sizes="150px" fetchpriority="high" class="loader__image">
    </div>
  </div>
  {% elsif  settings.loading_animation == "2" %}
    <div class="loader loader--image loader-image-2">
    <div class="loader__image__holder_2">
      <img src="{{ settings.loading_image | image_url: width: 400 }}" width="{{ settings.loading_image_size }}" height="auto" loading="eager" sizes="150px" fetchpriority="high" class="loader__image">
    </div>
    <div class="preloader-indicator">
      <div class="indicator-wrapper">
        <div class="indicator-fill" style="height: 3px;"></div>
      </div>
    </div>
  </div>
  {% else %}
     <div class="loader loader--image loader--image_3">
    <div class="loader__image__holder_3">
      <img src="{{ settings.loading_image | image_url: width: 400 }}" width="{{ settings.loading_image_size}}" height="auto" loading="eager" sizes="150px" fetchpriority="high" class="loader__image">
      <div class="loader_hider" style="background:{{ settings.loading_background }}"></div>
    </div>
    
  </div>
  {% endif %}
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const loader = document.querySelector('.loading-overlay_x');
    {% if  settings.loading_animation == "1" %}
    loader.classList.add('fadout');
    setTimeout(() => {
      loader.style.display = 'none';
    },500)
    {% elsif  settings.loading_animation == "2" %}
    loader.classList.add('fading-out');
    setTimeout(() => {
      loader.classList.add('fadeout');
     // loader.style.display = 'none';
    },500)
    {% else %}
    loader.classList.add('fading-out');
    setTimeout(() => {
      loader.classList.add('fadeout');
     // loader.style.display = 'none';
    },1000)
    {% endif %}
  });
</script>