
<noscript>
  {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
    <div class="localization-form__select">
      {%- comment -%} <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2> {%- endcomment -%}
      <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
        {%- for language in localization.available_languages -%}
          <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
            {{ language.endonym_name | capitalize }}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
    <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
  {%- endform -%}
</noscript>

<localization-form>
  {%- liquid
    if margin == 'topbar'
        assign class_localization = 'localization-form mr-0'
    else
        assign class_localization = 'localization-form mr-lg-3'
    endif
-%}
  {%- form 'localization', id: id, class: class_localization -%}
    <div class="no-js-hidden">
      {%- comment -%} <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2> {%- endcomment -%}
      <div class="disclosure">
        <button type="button" class="disclosure__button localization-form__select localization-selector  link--text caption-large" aria-expanded="false" aria-controls="{{ idlist }}" aria-describedby="FooterLanguageLabel">
          {{ localization.language.endonym_name | capitalize }}
          {% render 'icon-caret' %}
        </button>
        <div class="disclosure__list-wrapper {{ header-left }}" hidden>
          <ul id="{{ idlist }}" role="list" class="disclosure__list list-unstyled {% unless enable_name %} disable_name {% endunless %}">
            {%- for language in localization.available_languages -%}
              <li class="disclosure__item" tabindex="-1">
                <a class=" link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active link{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                  {{ language.endonym_name | capitalize }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
      <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
    </div>
  {%- endform -%}
</localization-form>