<div class="modal-body p-0">
    <div class="row m-0  {% if image_right %}flex-lg-row-reverse {% endif %}">
      <div class="col-lg-6 col-12 p-0 bg-newsletter"></div>
      <div class="popup-newsletter--content d-flex  flex-column col p-4 p-lg-5 justify-content-center {{ section.settings.text_align }}"> 
        {%- if subtitle != blank -%}
        <div class="subtop mb-3">{{ subtitle }}</div>
        {%- endif -%}
        {% if pnewletter_title != blank %}
        <h3 class="modal-title popup-newsletter--title mb-2 {{ pnew_size_heading }}">
          {{ pnewletter_title | escape }}
        </h3>
        {% endif %}
        {% if pnewletter_description != blank %}
        <div class="popup-newsletter--description pb-4 mb-2">
          {{ pnewletter_description }}
        </div>
        {% endif %}

        {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
        <p class="form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
        {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="input-group form-group flex-column mb-0">
          <input id="popupNewsletter" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" class="form-control pr-3 w-100 mb-3" autocapitalize="off">
          <label for="popupNewsletter" class="label--hidden">{{ 'general.newsletter_form.newsletter_placeholder' | t }}</label>
          <div>
            <button type="submit" class="btn btn-theme js-btnPopupNewsletter w-100" name="commit">
              <span class="d-sm-inline">{{ button }}</span>
            </button>
          </div>
          {%- if pnewletter_description_sub != bank -%}
            <div class="rte txt-body-60 small pt-4">
              {{ pnewletter_description_sub }}
            </div>
          {%- endif -%}
         
        </div> 
        {% endif %}
        {% endform %}
        <div class="site-newsletter__list">
            {%- render 'block-social' -%}
          </div>
      </div>
    </div>
  </div>