{{ 'quantity-bundles.css' | asset_url | stylesheet_tag }}

<script src="{{ 'quantity-bundles.js' | asset_url }}" defer></script>

{% style %}
  {% for scheme in settings.color_schemes -%}
    {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
    .color-{{ scheme.id }} .gradient {
      --color-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
      color: rgb(var(--color-base-text));
      /* --color-foreground: {{ scheme.settings.selected_break_foreground.red }},{{ scheme.settings.selected_break_foreground.green }},{{ scheme.settings.selected_break_foreground.blue }};
      --color-foreground-unselected: {{ scheme.settings.unselected_break_foreground.red }},{{ scheme.settings.unselected_break_foreground.green }},{{ scheme.settings.unselected_break_foreground.blue }}; */
      {% if scheme.settings.gradient_accent_unselected_break != empty %}
        --gradient-background: {{ scheme.settings.gradient_accent_unselected_break }};
      {% else %}
        --gradient-background: {{ scheme.settings.background }};
      {% endif %}
      {% if scheme.settings.gradient_accent_selected_break != empty %}
        --gradient-background-selected: {{ scheme.settings.gradient_accent_selected_break }};
      {% else %}
        --gradient-background-selected: {{ scheme.settings.colors_accent_1 }};
      {% endif %}


      {% if scheme.settings.badge_gradient != empty %}
        --color-badge-background: {{ scheme.settings.badge_gradient }};
      {% else %}
        --color-badge-background: {{ scheme.settings.badge_background }};
      {% endif %}


      {% if scheme.settings.benefits_gradient != empty %}
        --color-benefits-background: {{ scheme.settings.benefits_gradient }};
      {% else %}
        --color-benefits-background: {{ scheme.settings.benefits_background }};
      {% endif %}
    }

    .color-{{ scheme.id }} {

    {% liquid
      assign background_color = scheme.settings.background
      assign background_color_brightness = background_color | color_brightness
      if background_color_brightness <= 26
        assign background_color_contrast = background_color | color_lighten: 50
      elsif background_color_brightness <= 65
        assign background_color_contrast = background_color | color_lighten: 5
      else
        assign background_color_contrast = background_color | color_darken: 25
      endif
    %}
    --color-base-text: {{ scheme.settings.colors_text.red }}, {{ scheme.settings.colors_text.green }}, {{ scheme.settings.colors_text.blue }};
    --color-base-text: {{ scheme.settings.unselected_break_foreground.red }}, {{ scheme.settings.unselected_break_foreground.green }}, {{ scheme.settings.unselected_break_foreground.blue }};
    --color-base-text-selected: {{ scheme.settings.selected_break_foreground.red }}, {{ scheme.settings.selected_break_foreground.green }}, {{ scheme.settings.selected_break_foreground.blue }};
    --color-shadow: {{ scheme.settings.colors_text.red }}, {{ scheme.settings.colors_text.green }}, {{ scheme.settings.colors_text.blue }};
    --color-base-background-1: {{ scheme.settings.colors_background_1.red }}, {{ scheme.settings.colors_background_1.green }}, {{ scheme.settings.colors_background_1.blue }};
    --color-base-background-2: {{ scheme.settings.colors_background_2.red }}, {{ scheme.settings.colors_background_2.green }}, {{ scheme.settings.colors_background_2.blue }};
    --color-base-solid-button-labels: {{ scheme.settings.colors_solid_button_labels.red }}, {{ scheme.settings.colors_solid_button_labels.green }}, {{ scheme.settings.colors_solid_button_labels.blue }};
    --color-base-outline-button-labels: {{ scheme.settings.colors_outline_button_labels.red }}, {{ scheme.settings.colors_outline_button_labels.green }}, {{ scheme.settings.colors_outline_button_labels.blue }};
    --color-base-accent-1: {{ scheme.settings.colors_accent_1.red }}, {{ scheme.settings.colors_accent_1.green }}, {{ scheme.settings.colors_accent_1.blue }};
    --color-base-accent-2: {{ scheme.settings.colors_accent_2.red }}, {{ scheme.settings.colors_accent_2.green }}, {{ scheme.settings.colors_accent_2.blue }};
    --payment-terms-background-color: {{ scheme.settings.colors_background_1 }};

    --accent-color: {{ scheme.settings.accent_color.red }}, {{ scheme.settings.accent_color.green }}, {{ scheme.settings.accent_color.blue }};

    --color-badge-background: {{ scheme.settings.badge_background.red }}, {{ scheme.settings.badge_background.green }}, {{ scheme.settings.badge_background.blue }};
    --color-badge-foreground: {{ scheme.settings.badge_foreground.red }}, {{ scheme.settings.badge_foreground.green }}, {{ scheme.settings.badge_foreground.blue }};

    --color-benefits-background: {{ scheme.settings.benefits_background.red }}, {{ scheme.settings.benefits_background.green }}, {{ scheme.settings.benefits_background.blue }};
    --color-benefits-foreground: {{ scheme.settings.benefits_foreground.red }}, {{ scheme.settings.benefits_foreground.green }}, {{ scheme.settings.benefits_foreground.blue }};

    --gradient-base-background-1: {% if scheme.settings.gradient_background_1 != blank %}{{ scheme.settings.gradient_background_1 }}{% else %}{{ scheme.settings.colors_background_1 }}{% endif %};
    --gradient-base-background-2: {% if scheme.settings.gradient_background_2 != blank %}{{ scheme.settings.gradient_background_2 }}{% else %}{{ scheme.settings.colors_background_2 }}{% endif %};
    --gradient-base-accent-1: {% if scheme.settings.gradient_accent_unselected_break != blank %}{{ scheme.settings.gradient_accent_unselected_break }}{% else %}{{ scheme.settings.colors_accent_1 }}{% endif %};
    --gradient-base-accent-2: {% if scheme.settings.gradient_accent_selected_break != blank %}{{ scheme.settings.gradient_accent_selected_break }}{% else %}{{ scheme.settings.colors_accent_2 }}{% endif %};

  }
  {% endfor %}
{% endstyle %}

{% liquid
  assign has_second_option = false
  if product.options.size >= 2
    assign has_second_option = true
  endif

  assign has_badge = false

  for i in (1..4)
    assign tier_badge_id = 'tier_' | append: i | append: '_badge'
    assign tier_badge = block.settings[tier_badge_id]
    assign has_badge = true
  endfor

  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign skip_unavailable = block.settings.skip_unavailable
%}
<nitro-quantity-bundles
  class="
    quantity-bundles
    color-{{ block.settings.color_scheme_2 }}
    quantity-bundles--space-images
    {% if has_badge %} quantity-bundles--has-badge{% endif %}
    {% if block.settings.full_width_pickers %} quantity-bundles-full-width-pickers{% endif %}
    {% if block.settings.display_selected_indicator %} quantity-bundles--with-indicator{% endif %}
  "
  id="quantity-bundles-{{ section.id }}"
  data-section="{{ section.id }}"
  {% if has_second_option %}
    data-update-unavailable="true"
  {% endif %}
  data-form="{{product_form_id}}"
  data-update-prices="{{ block.settings.update_prices }}"
  data-money-format="{{ shop.money_format | escape }}"
  data-skip-non-existent="true"
  data-skip-unavailable="{{ skip_unavailable }}"
  style="--image-width:{{ block.settings.image_width }}%;--border-radius:{{ block.settings.border_radius | divided_by: 10.0 }}rem;--border-width:{{ block.settings.border_width | divided_by: 10.0 }}rem;{% if block.settings.hide_pickers_overlay %}--pickers-overlay-opacity:0.3;--pickers-hover-overlay-opacity:0.3;{% endif %}--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"
  {{ block.shopify_attributes }}
>
  {% assign has_variants = false %}
  {% assign price = product.selected_or_first_available_variant.price %}
  {% if block.settings.headline != blank %}
    <h3 class="quantity-bundles__title">
      <span>{{ block.settings.headline }}</span>
    </h3>
  {% endif %}
  <div class="quantity-bundles-container">
    {%- for i in (1..4) -%}
      {% liquid
        assign tier_quantity_id = 'tier_' | append: i | append: '_quantity'
        assign tier_percentage_off_text_id = 'tier_' | append: i | append: '_percentage_off_text'
        assign tier_fixed_amount_off_id = 'tier_' | append: i | append: '_fixed_amount_off'
        assign tier_compare_price_id = 'tier_' | append: i | append: '_compare_price'
        assign tier_price_id = 'tier_' | append: i | append: '_price'

        assign selected_variant = product.selected_or_first_available_variant
        assign input_index = 'input_' | append: i
        assign tier_index = 'tier_' | append: i

        # Badge Settings
        assign tier_badge_id = 'tier_' | append: i | append: '_badge'
        assign tier_badge_style_id = 'tier_' | append: i | append: '_badge_style'
        assign tier_badge_size_id = 'tier_' | append: i | append: '_badge_size'
        assign tier_badge_size_mobile_id = 'tier_' | append: i | append: '_badge_size_mobile'
        assign tier_badge_element_id = 'tier_' | append: i | append: '_badge_element'
        assign tier_badge_roundness_id = 'tier_' | append: i | append: '_badge_roundness'
        assign tier_benefit_position_id = 'tier_' | append: i | append: '_benefit_position'

        assign tier_image_id = 'tier_' | append: i | append: '_image'
        assign tier_label_id = 'tier_' | append: i | append: '_label'
        assign tier_benefit_id = 'tier_' | append: i | append: '_benefit'
        assign tier_benefit_transparent_id = 'tier_' | append: i | append: '_benefit_transparent'
        assign tier_benefit_color_id = 'tier_' | append: i | append: '_benefit_color'
        assign tier_caption_id = 'tier_' | append: i | append: '_caption'

        # Price Settings
        assign tier_price_text_id = 'tier_' | append: i | append: '_price_text'
        assign tier_compare_price_text_id = 'tier_' | append: i | append: '_compare_price_text'

        # Variant Selector Settings
        assign tier_quantity = block.settings[tier_quantity_id]
        assign tier_percentage_off_text = block.settings[tier_percentage_off_text_id]
        assign tier_fixed_amount_off = block.settings[tier_fixed_amount_off_id]
        assign tier_compare_price = block.settings[tier_compare_price_id]
        assign tier_price = block.settings[tier_price_id]

        assign tier_badge = block.settings[tier_badge_id]
        assign tier_badge_style = block.settings[tier_badge_style_id]
        assign tier_badge_element = block.settings[tier_badge_element_id]
        assign tier_badge_size = block.settings[tier_badge_size_id]
        assign tier_badge_size_mobile = block.settings[tier_badge_size_mobile_id]
        assign tier_badge_roundness = block.settings[tier_badge_roundness_id]
        assign tier_benefit_position = block.settings[tier_benefit_position_id]

        assign tier_image = block.settings[tier_image_id]
        assign tier_label = block.settings[tier_label_id]
        assign tier_benefit = block.settings[tier_benefit_id]
        assign tier_benefit_transparent = block.settings[tier_benefit_transparent_id]
        assign tier_benefit_color = block.settings[tier_benefit_color_id]
        assign tier_caption = block.settings[tier_caption_id]

        assign tier_price_text = block.settings[tier_price_text_id]
        assign tier_compare_price_text = block.settings[tier_compare_price_text_id]

        assign enable_variant_selectors = block.settings.enable_variant_selectors
        assign enable_variant_selectors_on_quantity_of_1 = block.settings.enable_variant_selectors_on_quantity_of_1
        assign pickers_label = block.settings.pickers_label

        if tier_quantity == 0
          continue
        endif

        assign percentage_discount = tier_percentage_off_text | plus: 0
        assign percentage_left = 100 | minus: percentage_discount | divided_by: 100.00
        assign fixed_amount_off = tier_fixed_amount_off | times: 100
        assign tier_price = price | times: tier_quantity | times: percentage_left | minus: fixed_amount_off | round: 0

        assign compare_price = price
        if tier_compare_price == 'compare_price' and selected_variant.compare_at_price > price
          assign compare_price = selected_variant.compare_at_price
        endif
        assign tier_compare_price = compare_price | times: tier_quantity

        assign tier_price_difference = tier_compare_price | minus: tier_price
        assign tier_price_difference_rounded = tier_price_difference | divided_by: 100.00 | round | times: 100
        assign tier_price_each = tier_price | divided_by: tier_quantity
        assign tier_compare_price_each = tier_compare_price | divided_by: tier_quantity

        assign preselected = block.settings.preselected
        assign quantity_id = 'quantity' | append: i
      %}
      <input
        id="{{quantity_id}}"
        aria-label="Quantity"
        type="radio"
        name="bundle_quantity"
        value="{{ tier_quantity }}"
        form="{{ product_form_id }}"
        {% if preselected == tier_index %}
          checked
        {% endif %}
        data-input="{{input_index}}"
      >
      <label
        for="{{quantity_id}}"
        class="gradient quantity-bundle{% if tier_badge != blank %} quantity-bundle--badge{% else %} quantity-bundle--no-badge{% endif %} quantity-bundle--badge-style-{{ tier_badge_style }} quantity-bundle--benefit-{{ tier_benefit_position }}"
        data-quantity="{{ tier_quantity }}"
        data-input="{{input_index}}"
        data-percentage-left="{{ percentage_left }}"
        data-fixed-discount="{{ fixed_amount_off }}"
      >
        {% if tier_badge != blank %}
          <{{ tier_badge_element }}
            class="quantity-bundle__badge dynamic-price variant-price-update color-{{ block.settings.color_scheme_2 }} gradient"
            data-text="{{ tier_badge }}"
            style="
              --badge-border-radius: {{ tier_badge_roundness }}px;
              --gradient-background: var(--color-badge-background);
              --color-base-text: var(--color-badge-foreground);
              --badge-font-size: {{ tier_badge_size }}px;
              --badge-font-size-mobile: {{ tier_badge_size_mobile }}px;
            "
          >
            {% render 'replace-text',
              text: tier_badge,
              quantity: tier_quantity,
              price: tier_price,
              compare_price: tier_compare_price,
              amount_saved: tier_price_difference,
              amount_saved_rounded: tier_price_difference_rounded,
              price_each: tier_price_each,
              compare_price_each: tier_compare_price_each
            %}
          </{{ tier_badge_element }}>
        {% endif %}
        <div class="quantity-bundle__image-and-content">
          {% if tier_image != blank %}
            <div class="quantity-bundle__image">
              <div class="image-content__image-container overflow-hidden">
                <div
                  class="image-content__image-wrapper"
                  style="padding-top:{{ 1 | divided_by: tier_image.aspect_ratio | times: 100 }}%;"
                >
                  {%- assign image = tier_image -%}
                  <img
                    srcset="
                      {%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if image.width >= 940 -%}{{ image | image_url: width: 940 }} 940w,{%- endif -%}
                      {%- if image.width >= 1066 -%}{{ image | image_url: width: 1066 }} 1066w,{%- endif -%}
                      {{ image | image_url }} {{ image.width }}w
                    "
                    src="{{ image | image_url: width: 1066 }}"
                    sizes="(min-width: {{ settings.container }}px) {{ settings.container | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                    alt="{{ image.alt | escape }}"
                    class=" lazyload scale-in"
                    data-sizes="auto"
                    data-aspectratio="{{ image.aspect_ratio }}"
                    loading="lazy"
                    width="{{ image.width }}"
                    height="{{ image.height }}"
                  >
                </div>
              </div>
            </div>
          {% endif %}
          <div class="quantity-bundle__content">
            <div class="quantity-bundle__left">
              <span class="quantity-bundle__label">
                {%- if tier_label != blank -%}
                  <span
                    class="quantity-bundle__label-text dynamic-price variant-price-update"
                    data-text="{{ tier_label }}"
                  >
                    {% render 'replace-text',
                      text: tier_label,
                      quantity: tier_quantity,
                      price: tier_price,
                      compare_price: tier_compare_price,
                      amount_saved: tier_price_difference,
                      amount_saved_rounded: tier_price_difference_rounded,
                      price_each: tier_price_each,
                      compare_price_each: tier_compare_price_each
                    %}
                  </span>
                {%- endif -%}
                {% if tier_benefit != blank %}
                  <span
                    class="
                      gradient quantity-bundle__benefit {% if tier_benefit_transparent %}
                        quantity-bundle__benefit--transparent
                      {% endif %}  accent-color-{{ block.settings.color_scheme_2 }} gradient dynamic-price variant-price-update
                    "
                    data-text="{{ tier_benefit }}"
                    style="
                      --gradient-background: var(--color-benefits-background);
                      --color-base-text: var(--color-benefits-foreground);
                    "
                  >
                    {% render 'replace-text',
                      text: tier_benefit,
                      quantity: tier_quantity,
                      price: tier_price,
                      compare_price: tier_compare_price,
                      amount_saved: tier_price_difference,
                      amount_saved_rounded: tier_price_difference_rounded,
                      price_each: tier_price_each,
                      compare_price_each: tier_compare_price_each
                    %}
                  </span>
                {% endif %}
              </span>
              {% if tier_caption != blank and tier_price_difference != 0 %}
                <span
                  class="quantity-bundle__caption dynamic-price variant-price-update"
                  data-text="{{ tier_caption }}"
                >
                  {% render 'replace-text',
                    text: tier_caption,
                    quantity: tier_quantity,
                    price: tier_price,
                    compare_price: tier_compare_price,
                    amount_saved: tier_price_difference,
                    amount_saved_rounded: tier_price_difference_rounded,
                    price_each: tier_price_each,
                    compare_price_each: tier_compare_price_each
                  %}
                </span>
              {% endif %}
            </div>
            <div class="quantity-bundle__right dynamic-price">
              {% if tier_price_text != blank %}
                <span
                  class="quantity-bundle__price variant-price-update"
                  data-text="{{ tier_price_text }}"
                >
                  {% render 'replace-text',
                    text: tier_price_text,
                    quantity: tier_quantity,
                    price: tier_price,
                    compare_price: tier_compare_price,
                    amount_saved: tier_price_difference,
                    amount_saved_rounded: tier_price_difference_rounded,
                    price_each: tier_price_each,
                    compare_price_each: tier_compare_price_each
                  %}
                </span>
              {% endif %}
              {% if tier_compare_price_text != blank %}
                <span
                  class="quantity-bundle__compare-price variant-price-update"
                  {% if tier_compare_price <= tier_price %}
                    hidden
                  {% endif %}
                  data-text="{{ tier_compare_price_text }}"
                >
                  {% render 'replace-text',
                    text: tier_compare_price_text,
                    quantity: tier_quantity,
                    price: tier_price,
                    compare_price: tier_compare_price,
                    amount_saved: tier_price_difference,
                    amount_saved_rounded: tier_price_difference_rounded,
                    price_each: tier_price_each,
                    compare_price_each: tier_compare_price_each
                  %}
                </span>
              {% endif %}
            </div>
          </div>
        </div>
        {% if product.has_only_default_variant == false and enable_variant_selectors %}
          {% if tier_quantity != 1 or enable_variant_selectors_on_quantity_of_1 %}
            <style>
              .selector-wrapper.product-form__item{ display: none; }     
            </style>
            <div class="quantity-bundle__variants">
              {% assign has_variants = true %}
              {% if pickers_label != blank %}
                <span class="quantity-bundle__variants__label">
                  {{ pickers_label }}
                </span>
              {% endif %}
              {% for selectorItem in (1..tier_quantity) %}
                {% render 'nitro-variants-select',
                  id: selectorItem,
                  product_form_id: product_form_id,
                  index: selectorItem,
                  block: block
                %}
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}
      </label>
    {%- endfor -%}
  </div>

  <script data-has-variants="{{ has_variants }}" type="application/json">
    {{ product.variants | json }}
  </script>
</nitro-quantity-bundles>
