<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="UTF-8">
  <title>{{ shop.name }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">

  {% render 'social-meta-tags' %}
  {%- render 'header-css' -%}
  {%- render 'header-js' -%}
  
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
  
  {{ content_for_header }}
</head>

<body class="template-password">
  <div class="position-relative template-password-page h-100">
  {% comment %} <a href="#LoginModal" class="password-login-link js-modal-open-login-modal text-white">
    {% render 'icon-lock' %}
    {{ 'general.password_page.password_link' | t }}
  </a> {% endcomment %}

  <div class="password-page page-width text-center" role="main">
    <div class="password-page__inner">
      <div class="password-page__content">
      {{ content_for_layout }}
      </div>
    </div>
  </div>

  <div id="LoginModal" class="modal">
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width text-center py-5">
        <p class="h4 text-white mb-5 mt-3">{{ 'general.password_page.login_form_heading' | t }}</p>
        <div class="password-login-form px-3">
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group">
              <input type="password" name="password" id="Password" class="input-group__field input--content-color form-control rounded-0" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
              <div class="input-group-append ml-2">
                <span class="input-group__btn">
                  <button type="submit" name="commit" class="btn btn--narrow btn-theme btn-white">
                    {{ 'general.password_page.login_form_submit' | t }}
                  </button>
                </span>
              </div>
             
            </div>
          {% endform %}
        </div>
        <p class="mb-3">{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
    <button type="button" class="modal__close js-modal-close text-link">
      {% render 'icon-close' %}
      <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
    </button>
  </div>
</div>
</body>
</html>
