<!-- advanced-content.liquid -->
{%-liquid
  assign text_color = section.settings.text_color
-%}
<style>
  .customstyle{{ section.id }}{
    position: relative;
    background-position: {{ section.settings.e_position }} !important;
    background-repeat: {{ section.settings.e_repeat }} !important;
    background-size: {{ section.settings.e_size }} !important;
    {% if text_color != 'rgba(0,0,0,0)' %}
      --g-font-color-subtop: {{ text_color }};
      --g-color-heading :  {{ text_color }};
      --color-body-text : {{ text_color }};
      --color-body-text-rgb: {{ text_color.red }}, {{ text_color.green }},  {{ text_color.blue }} ;
    {% endif %}
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  .customstyle{{ section.id }}::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    content: "";
    height: {{ section.settings.rangebg }}%;
    background-color: {{ section.settings.bgbefore }};
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
</style>
<section class="customstyle{{ section.id }} lazyload {{ section.settings.text_color }}"
    data-bgset="{% render 'bgset', image: section.settings.image_bg %}"
    data-sizes="auto"
    data-parent-fit="cover" 
   data-section-id="{{ section.id }}" >
  {%- render 'style-section' -%}
  <div class="{{ section.settings.section_width }}">
    <div class="section-block">
      {%- render 'section-heading' -%}
      <div class="row {% unless section.settings.padding %} m-0{% endunless %} {% if section.settings.col_center %} justify-content-center {% endif %}">
        {%- for block in section.blocks -%}
          {%- liquid
            case block.settings.width 
            when 'auto' 
              assign block_width = 'col-lg col-12' 
            when '20%' 
              assign block_width = 'col-1-5 col-md-6 col-12' 
            when '25%' 
              assign block_width = 'col-lg-3 col-md-6 ' 
            when '33%' 
              assign block_width = 'col-lg-4 col-md-6 ' 
            when '41%' 
              assign block_width = 'col-lg-5 col-md-12 ' 
            when '50%' 
              assign block_width = 'col-lg-6 ' 
            when '58%' 
              assign block_width = 'col-lg-7 col-md-12 ' 
            when '66%' 
              assign block_width = 'col-lg-8 col-md-12 ' 
            when '75%' 
              assign block_width = 'col-lg-9 col-md-12 ' 
            when '100%' 
              assign block_width = 'col-12 ' 
          endcase 
          -%}
          <div class="{{ block_width }} mb-4 mb-sm-0 align-self-{{ block.settings.align }} adv-{{ block.type }} {% unless section.settings.padding %} p-0{% endunless %}" {{ block.shopify_attributes }}>
            <div class="grid__item-inner grid__item-inner--{{ block.type }}">
              {%- case block.type -%}
                {%- when 'html' -%}
                  <div data-aos="{{ section.settings.animation }}" data-aos-duration="500">
                    {%- if block.settings.subtitle != blank -%}
                      <div class="subtop mb-3">{{ block.settings.subtitle }}</div>
                    {%- endif -%}
                    {%- if block.settings.title != blank -%}
                    <h3 class="mb-3 {{ block.settings.size_text }} ">{{ block.settings.title }}</h3>
                    {%- endif -%}
                    {%- if block.settings.content != blank -%}
                      <div class="rte-setting">{{ block.settings.content }}</div>
                    {%- endif -%}
                    {%- if block.settings.answer_content != blank -%}
                      <div>
                      {{ block.settings.answer_content }}
                    </div>
                    {%- endif -%}
                    {%- if block.settings.button != blank -%}
                      <div class="mt-5">
                        <a href="{{ block.settings.link }}" class="btn {{ block.settings.style_btn }} ">
                          {{ block.settings.button }}
                        </a>
                      </div>
                      {%- endif -%}
                  </div>

                {%- when 'video' -%}


                  {%- if block.settings.show_overlay -%}
                    <style>
                      #VideoSection--{{ section.id }}.video-section__cover-text {
                        color: {{ block.settings.overlay_text }};
                      }

                      #VideoSection--{{ section.id }}.video-section__load-player-button-triangle {
                        border-left-color: {{ block.settings.overlay_text }};
                      }

                      #VideoSection--{{ section.id }}.video-section__load-player-button.animated .video-section__load-player-button-circle, #VideoSection--{{ section.id }}.video-section__load-player-button-circle {
                        border-color: {{ block.settings.overlay_text }};
                      }

                      #VideoSection--{{ section.id }} .video-section__cover-overlay {
                        background-color: {{ block.settings.overlay_color }};
                        opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
                      }
                    </style>
                  {%- endif -%}

                  <div id="VideoSection--{{ section.id }}" class="video-section video-section--{{ block.settings.cover_image_height }}" 
                    data-section-id="{{ section.id }}" 
                    data-section-type="video" 
                    data-video-id="{{ block.settings.video_url.id }}" 
                    data-video-type="{{ block.settings.video_url.type }}"
                    data-aos="{{ section.settings.animation }}" data-aos-delay="{{ forloop.index | times: 100 }}">
                    <div class="video-section__body-overlay"></div>
                    <div class="video-section__modal">
                      <div class="video-wrapper modal-header ">
                        <button class="video-section__player-close close">
                          <span class="visually-hidden">{{ 'video.close' | t }}
                          </span>
                          {%- render 'icon-close' -%}
                        </button>
                        <div class="video-section__player"></div>
                      </div>
                    </div>
                    <div class="video-section__cover">
                      <div class="video-section__cover-background">
                        {%- if block.settings.cover_image == blank -%}
                          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- else -%}
                          <div class="position-relative image-content__image-wrapper " style="padding-top:{{ 1 | divided_by: block.settings.cover_image.aspect_ratio | times: 100 }}%;">
                            {%- liquid
                              assign height = block.settings.cover_image.width | divided_by: block.settings.cover_image.aspect_ratio | round
                              assign width = block.settings.cover_image.width | round
                              assign sizes = '100vw'
                              assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'  
                            -%}
                            {{
                              block.settings.cover_image
                              | image_url: width: 2560
                              | image_tag: loading: 'lazy', width: width, height: height, sizes: sizes, widths: widths, class:'image-content__image lazyload scale-in'
                            }}
                          </div>
                        {%- endif -%}
                      </div>
                      <div class="video-section__cover-overlay"></div>
                      <div class="video-section__cover-content">
                        <button class="video-section__load-player-button video-section__load-player-button--large">
                          <span class="visually-hidden">{{ 'video.play' | t }}
                          </span>
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 120 120" class="video-text">
                            <defs>
                            <path d="M 60, 60 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0" id="txt-path"></path>
                            </defs>
                            <text>
                            <textPath startOffset="0" xlink:href="#txt-path"> {{ block.settings.circle_caption }}</textPath>
                            </text>
                            </svg>
                          <div class="video-section__load-player-icon">
                            <div class="video-section__load-player-mark"></div>
                            <div class="video-section__load-player-button-circle"></div>
                            <div class="video-section__load-player-button-triangle"></div>
                          </div>
                        </button>
                        <p class="video-section__error"></p>
                      </div>
                    </div>
                  </div>

                {%- when 'image' -%}
                  <style>
                    .block-image-{{ block.id }}{
                      --o-width-image : {{ block.settings.width_image }}%;
                      width:var(--o-width-image);
                      margin:0 auto;
                    }
                  </style>
                  <div class="{% if block.settings.padding-left %} pl-lg-5 {% endif %}{% if block.settings.padding-right %} pr-lg-5 {% endif %}" 
                    data-aos="{{ section.settings.animation }}" data-aos-delay="{{ forloop.index | times: 200 }}">
                  
                    {%- if block.settings.enable_top == true -%}
                      {%- if block.settings.content != blank -%}
                        <div class="position-relative">
                          {{ block.settings.content }}
                        </div>
                      {%- endif -%}
                    {%- endif -%}
                    <div class="block-image image-content__image-container block-image-{{ block.id }}">
                      {%- if block.settings.image != blank -%}
                      <a href="{{ block.settings.image_link }}" class="d-block image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;" >
                      {% assign img_url = block.settings.image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
                      <img src="{{ block.settings.image | image_url: width: 1, height: 1 }}" 
                        class="lazyload scale-in w-100" 
                        data-src="{{ img_url }}" 
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}" />
                    </a>
                    {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                    {%- if block.settings.enable_top == false -%}
                    {%- if block.settings.content != blank -%}
                      <div class="position-relative">
                        {{ block.settings.content }}
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                    
                  </div>
                  
                </div>
                {%- when 'product_item' -%}
                  <div data-aos="{{ section.settings.animation }}" data-aos-delay="{{ forloop.index | times: 200 }}">
                    {%- assign productLookbook = all_products[block.settings.product] -%}
                    {%- if productLookbook != blank -%}
                      {%- render 'product-card', product: productLookbook -%}
                    {%- else -%}
                      {%- render 'product-grid-blank' -%}
                    {%- endif -%}
                  </div>
                {%- when 'product_list' -%}
                  <div class="{% if forloop.last == true %} mb-0 {% else %} mb-5 mb-lg-0 {% endif %}" data-aos="{{ section.settings.animation }}" data-aos-delay="{{ forloop.index | times: 200 }}">
                    {%- assign collection = collections[block.settings.mini_collection] -%}
                    {%- if collection != blank -%}
                      {%- if block.settings.title != blank -%}
                        <h4 class="mb-2">
                          {{ block.settings.title }}
                        </h4>
                      {%- endif -%}
                      {%- for product in collection.products limit: block.settings.limit_product -%}
                        <div class="media adv-productlist py-4 {% unless forloop.last %}border-bottom {% endunless %}" style="border-bottom-color: {{ block.settings.p_border }}!important;">
                          <a href="{{ product.url | within: collection }}"><img class="mr-3 lazyload adv-img" 
                            data-src="{{ product.featured_image | image_url: width: 150 }}" 
                            src="{{ product.featured_image | image_url: width: 1, height: 1 }}"
                            loading="lazy"
                            width="{{ product.featured_image.width }}"
                            height="{{ product.featured_image.height }}"></a>
                          <div class="media-body">
                            <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="h6 mb-2 d-block">{{ product.title }}
                            </a>
                            {%- if product.available -%}
                              <div class="product-card__price">
                                {%- if product.compare_at_price > product.price -%}
                                  {%- if product.price_varies -%}
                                    {%- assign sale_price = product.price | money -%}
                                    {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                                  {%- else -%}
                                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}
                                    </span>
                                    <s class="product-card__regular-price">{{ product.compare_at_price | money }}
                                    </s>
                                    <span class="visually-hidden">{{ 'products.product.sale_price' | t }}
                                    </span>
                                    {{ product.price | money }}
                                  {%- endif -%}
                                {%- else -%}
                                  {%- if product.price_varies -%}
                                    {%- assign price = product.price | money -%}
                                    {{ 'products.product.from_text_html' | t: price: price }}
                                  {%- else -%}
                                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}
                                    </span>
                                    {{ product.price | money }}
                                  {%- endif -%}
                                {%- endif -%}
                              </div>
                            {%- else -%}
                              <div class="product-card__availability">
                                {{ 'products.product.sold_out' | t }}
                              </div>
                            {%- endif -%}
                          </div>
                        </div>
                      {%- endfor -%}
                    </div>
                  {%- else -%}
                    <h4 class="mb-2">
                      Collection title
                    </h4>
                    {%- assign limit =  block.settings.limit_product -%}
                    {%- for i in (1..limit) -%}
                      <div class="media py-4 {% unless forloop.last %}border-bottom{% endunless %}">
                        <div class="mr-3 border">
                          {%- capture current -%}
                            {%- cycle 1, 2, 3, 4, 5, 6 -%}
                          {%- endcapture -%}
                          <div style="width: 74px;">
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                        </div>
                        <div class="media-body">
                          <div class="product-card__name">{{ 'homepage.onboarding.product_title' | t }}
                          </div>
                          <div class="product-card__price">
                            {%- cycle '$19.99', '$28.37', '$33.22', '$41.56', '$55.21', '$62.98' -%}
                          </div>
                        </div>
                      </div>
                    {%- endfor -%}
                  {%- endif -%}
                {%- when 'bgvideo' -%}
                  {%-liquid
                    assign link_video = block.settings.link_video
                    assign height_video = block.settings.height_video
                    assign height_video_mobile =block.settings.height_video_mobile
                  -%}
                  {% if link_video != blank %}
                    <div class="video-section video-section--{{ block.id }} advanced-video" data-aos="{{ section.settings.animation }}" data-aos-delay="{{ forloop.index | times: 200 }}" 
                    style="--or-height-advvideo:{{ height_video }}px;--or-height-advvideo-mobile:{{ height_video_mobile }}px;">
                      <div class="htmlhero-video ">
                        <video id="Mp4{{ block.id }}"  class="lazyload" loop="" muted="" playsinline="" autoplay="">
                          <source  src="{{ link_video }}" type="video/mp4">
                        </video>
                      </div>
                    </div>
                  {% else if %}
                    <div class="hero-video">
                      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {% endif %}
                  {%- when 'promo' -%}
                    {%- liquid
                      assign promo_banner_height = block.settings.promo_banner_height
                      assign promo_banner_height_mobile = block.settings.promo_banner_height_mobile
                      assign image = block.settings.image
                      assign promo_subheading = block.settings.promo_subheading
                      assign promo_heading = block.settings.promo_heading
                      assign promo_size_title = block.settings.promo_size_title
                      assign promo_paragraph = block.settings.promo_paragraph
                      assign promo_btn = block.settings.promo_button
                      assign promo_link = block.settings.promo_link
                      assign promo_color = block.settings.promo_color
                      assign promo_overlay = block.settings.promo_overlay
                      assign promo_opacity = block.settings.promo_opacity  
                      assign style_btn = block.settings.style_btn

                      assign promo_position = block.settings.promo_position
                      case promo_position
                      when 'top-left'
                        assign positiontxt = 'align-items-start justify-content-start'
                        when 'top-center'
                        assign positiontxt = 'align-items-start justify-content-center text-center'
                        when 'top-right'
                        assign positiontxt = 'align-items-start justify-content-end text-right'
                        when 'mid-left'
                        assign positiontxt = 'align-items-center justify-content-start'
                        when 'mid-center'
                        assign positiontxt = 'align-items-center justify-content-center text-center'
                        when 'mid-right'
                        assign positiontxt = 'align-items-center justify-content-end text-right'
                        when 'bot-left'
                        assign positiontxt = 'align-items-end justify-content-start'
                        when 'bot-center'
                        assign positiontxt = 'align-items-end justify-content-center text-center'
                        when 'bot-right'
                        assign positiontxt = 'align-items-end justify-content-end text-right'
                        else 
                        assign positiontxt = 'align-items-end justify-content-start'
                      endcase
                    -%}
                    <div class="{% if block.settings.padding-left %} pl-lg-5 {% endif %}{% if block.settings.padding-right %} pr-lg-5 {% endif %}" 
                      data-aos="{{ section.settings.animation }}" data-aos-delay="{{ forloop.index | times: 100 }}">
                      <div class=" {% if block.settings.sub_title_block != blank  or block.settings.title_block != blank %} mb-5 {% endif %} d-flex  flex-column text-lg-left text-center">
                        {%- if block.settings.sub_title_block != blank -%}
                          <span class="subtop">{{ block.settings.sub_title_block }} </span>
                        {%- endif -%}
                        {%- if block.settings.title_block != blank -%}
                        <h3 class="py-2">{{ block.settings.title_block }}</h3>
                      {%- endif -%}
                        </div>
                    <div class="image-content__image-container overflow-hidden promo-advanced">
                      <div class="image-content__image-wrapper" style="--promo-h-desktop:{{ promo_banner_height }}px;--promo-h-mobile:{{ promo_banner_height_mobile }}px;">
                        {%- if image != blank -%}
                          {% assign img_url = image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
                          <img class="image-content__image lazyload scale-in"
                              src="{{ image | image_url: width: 1, height: 1 }}"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                              data-aspectratio="{{ image.aspect_ratio }}"
                              data-sizes="auto"
                              alt="{{ image.alt | escape }}"
                              loading="lazy"
                              width="{{ image.width }}"
                              height="{{ image.height }}">
                        {%- else -%}
                          <div class="image-content__image">
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                        {%- endif -%}
                          
                      </div>
                      <div class="position-absolute promo_advance-content d-flex {{ positiontxt }}" style="--g-font-color-subtop:{{ promo_color }}; --g-color-heading:{{ promo_color }}; --color-body-text: {{ promo_color }}">
                          <a class="promo_advance--link position-absolute promo-overlay" href="{{ promo_link }}" 
                          style="--or-pro-opacity:{{ promo_opacity | divided_by: 100.00 }};--or-pro-overlay:{{ promo_overlay.red }},{{ promo_overlay.green }},{{ promo_overlay.blue }};" ></a>
                          <div class="position-relative promotion_menu--txt">
                              {%- if promo_subheading != blank -%}
                                  <div class="subtop mb-1"> {{ promo_subheading }}</div>
                              {%- endif -%}
                              {%- if promo_heading != blank -%}
                                  <div class="{{ promo_size_title }} {{ block.settings.space_heading }}"> {{ promo_heading }}</div>
                              {%- endif -%}
                              {%- if promo_paragraph != blank -%}
                                  <div class="mb-3" > {{ promo_paragraph }}</div>
                              {%- endif -%}
                              {%- if promo_btn != blank -%}
                                  <a class="{{ style_btn }}" href="{{ promo_link }}"> {{ promo_btn }}</a>
                              {%- endif -%}
                          </div>
                      </div>
                  </div>
                </div>
              {%- endcase -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Advanced Content",
  "max_blocks": 12,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "range",
      "id": "rangebg",
      "label": "Overlay Height",
      "max": 100,
      "min": 0,
      "step": 10,
      "unit": " %",
      "default": 0
    },
    {
      "type": "color",
      "id": "bgbefore",
      "label": "Overlay Color",
      "default": "transparent"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "e_size",
      "label": "Background Size",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ]
    },
    {
      "type": "select",
      "id": "e_repeat",
      "label": "Background Repeat",
      "default": "no-repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No-Repeat"
        },
        {
          "value": "repeat",
          "label": "Repeat"
        }
      ]
    },
    {
      "type": "select",
      "id": "e_position",
      "label": "Background Position",
      "options": [
        {
          "value": "top left",
          "label": "Top Left"
        },
        {
          "value": "top center",
          "label": "Top Center"
        },
        {
          "value": "top right",
          "label": "Top Right"
        },
        {
          "value": "left center",
          "label": "Left Center"
        },
        {
          "value": "center center",
          "label": "Center Center"
        },
        {
          "value": "center right",
          "label": "Center Right"
        },
        {
          "value": "bottom left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom right",
          "label": "Bottom Right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "header",
      "content": "Text Heading"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Subtitle Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
      {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Custom content"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title And Description Colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "checkbox",
      "id": "padding",
      "label": "Enable Padding",
      "default": true
    },
    {
      "type": "range",
      "id": "gutter_padding",
      "label": "Spacing Column",
      "max": 40,
      "min": 0,
      "step": 1,
      "unit": " px",
      "default": 30
    },
    {
      "type": "checkbox",
      "id": "col_center",
      "label": "Enable Center Column",
      "default": false
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "html",
      "name": "Custom HTML",
      "settings": [
        
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "size_text",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "label": "Heading Size"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "HTML"
        },
        {
          "type": "richtext",
          "id": "answer_content",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-underline btn-underline-white",
          "options": [
            {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
          ]
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container Width",
          "default": "33%",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "41%",
              "label": "41%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "58%",
              "label": "58%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "align",
          "label": "Align",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Mid"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Container Width",
          "default": "33%",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "41%",
              "label": "41%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "58%",
              "label": "58%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "align",
          "label": "Vertical Alignment",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Mid"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "width_image",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Width Image",
          "default": 100
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image Link To"
        },
        {
          "type": "checkbox",
          "id": "enable_top",
          "label": "Enable HTML Top",
          "default": false
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "HTML"
        },
        {
          "type": "checkbox",
          "id": "padding-left",
          "label": "Enable Padding Left",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "padding-right",
          "label": "Enable Padding Right",
          "default": false
        }
      ]
    },
    {
      "type": "product_item",
      "name": "Product Item",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Container Width",
          "default": "33%",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "41%",
              "label": "41%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "58%",
              "label": "58%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "align",
          "label": "Align",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Mid"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    },
    {
      "type": "product_list",
      "name": "Product List",
      "settings": [
        {
          "type": "collection",
          "id": "mini_collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title Collection",
          "default": "Title Collection"
        },
        {
          "type": "text",
          "id": "limit_product",
          "label": "Limit Products",
          "default": "3"
        },
        {
          "type": "color",
          "id": "p_border",
          "label": "Border Color",
          "default": "#e9e9e9"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container Width",
          "default": "33%",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "align",
          "label": "Align",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Mid"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ]
        }
      ]
    },
    {
      "type": "promo",
      "name": "Promo",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Container Width",
          "default": "33%",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "align",
          "label": "Align",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Mid"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "header",
          "content": "Title Block"
        },
        {
          "type": "text",
          "id": "sub_title_block",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "title_block",
          "label": "Title Block"
        },
        {
          "type": "header",
          "content": "Banner"
        },
        {
          "type": "range",
          "id": "promo_banner_height",
          "min": 200,
          "max": 800,
          "step": 10,
          "unit": "px",
          "label": "Height Banner",
          "default": 520
        },
        {
          "type": "range",
          "id": "promo_banner_height_mobile",
          "min": 200,
          "max": 800,
          "step": 10,
          "unit": "px",
          "label": "Height Banner Mobile",
          "default": 400
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "promo_subheading",
          "label": "Subheading",
          "default": "Sub Heading "
        },
        {
          "type": "text",
          "id": "promo_heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "promo_size_title",
          "label": "Size Title",
          "default": "h3",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ]
        },
        {
          "type": "select",
          "id": "space_heading",
          "default": "mb-2",
          "options": [
            {
              "value": "mb-0",
              "label": "0"
            },
            {
              "value": "mb-1",
              "label": "1"
            },
            {
              "value": "mb-2",
              "label": "2"
            },
            {
              "value": "mb-3",
              "label": "3"
            },
            {
              "value": "mb-4",
              "label": "4"
            },
            {
              "value": "mb-5",
              "label": "5"
            }
          ],
          "label": "Heading Space"
        },
        {
          "type": "richtext",
          "id": "promo_paragraph",
          "label": "Paragraph 1",
          "default": "<p>Paragraph </p>"
        },
        {
          "type": "text",
          "id": "promo_button",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "promo_link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-underline btn-underline-white",
          "options": [
            {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
          ]
        },
        {
          "type": "header",
          "content": "Color Promo"
        },
        {
          "type": "color",
          "id": "promo_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "promo_overlay",
          "label": "Background Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "promo_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Opacity Background",
          "default": 0
        },
        {
          "type": "select",
          "id": "promo_position",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "mid-left",
              "label": "Middle Left"
            },
            {
              "value": "mid-center",
              "label": "Middle Center"
            },
            {
              "value": "mid-right",
              "label": "Middle Right"
            },
            {
              "value": "bot-left",
              "label": "Bottom Left"
            },
            {
              "value": "bot-center",
              "label": "Bottom Center"
            },
            {
              "value": "bot-right",
              "label": "Bottom Right"
            }
          ],
          "default": "mid-center",
          "label": "Text Position"
        },
        {
          "type": "checkbox",
          "id": "padding-left",
          "label": "Enable Padding Left",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "padding-right",
          "label": "Enable Padding Right",
          "default": false
        }
      ]
    },
    {
      "type": "bgvideo",
      "name": "Background Video",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Container Width",
          "default": "33%",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "link_video",
          "label": "Link Video",
          "info": "Upload video in your host"
        },
        {
          "type": "range",
          "id": "height_video",
          "min": 200,
          "max": 800,
          "step": 10,
          "unit": "px",
          "label": "Height Video",
          "default": 520
        },
        {
          "type": "range",
          "id": "height_video_mobile",
          "min": 200,
          "max": 800,
          "step": 10,
          "unit": "px",
          "label": "Height Video Mobile",
          "default": 400
        }
        
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Container Width",
          "default": "33%",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "align",
          "label": "Align",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Mid"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video Link",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        {
          "type": "text",
          "id": "circle_caption",
          "label": "Text Circle",
          "default": "Fashion2 style store"
        },
        {
          "type": "header",
          "content": "Cover"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "checkbox",
          "id": "show_overlay",
          "label": "Show Overlay",
          "default": true
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Opacity",
          "default": 30
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Advanced Content",
      "category": "Text",
      "blocks": [
        {
          "type": "html"
        }
      ]
    }
  ]
}
{% endschema %}