{{ 'beerslider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'beerslider.js' | asset_url }}" defer="defer"></script>
{%- render 'style-section' -%}
<style>
    .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
</style>
<div class="customstyle{{ section.id }} before-after-section beforeafter-{{ section.id }}" 
data-aos="{{ section.settings.animation }}"
 data-section-id="{{ section.id }}" 
data-section-type="beforeafter">
    <div class="{{ section.settings.setwidth }}">
        <div class="section-block">
            {%- render 'section-heading' -%}
            <div class="before-after-block">
                <div id="beer-slider-{{section.id}}" class="beer-slider" data-beer-label="{%- if section.settings.after_caption != blank -%}{{ section.settings.after_caption }} {%- endif -%}">
                    {%- if section.settings.image2 != blank -%}
                        {%- capture sizes -%}
                            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                            (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                        {%- endcapture -%}
                        {{
                            section.settings.image2
                            | image_url: width: 1500
                            | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500', class: 'lazyload scale-in'
                        }}
                        {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg svg-1' }}
                    {%- endif -%}
                <div class="beer-reveal" data-beer-label="{%- if section.settings.before_caption != blank -%}{{ section.settings.before_caption }}{%- endif -%}">
                    {%- if section.settings.image != blank -%}
                    {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}
                    {{
                        section.settings.image
                        | image_url: width: 1500
                        | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500', class: 'lazyload scale-in'
                    }}
                    {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg svg-2' }}
                    {%- endif -%}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Before/After Image",
  "class": "index-section",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Section"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Sub Title Top",
      "default": "Sub Heading"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Sub Title Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Before/after"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Showcase your product benefit by using before/after image comparison."
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Align Heading",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title and Description colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Sub Title Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "header",
      "content": "Image "
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Before Image",
      "info": "2000 x 1200px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "After Image",
      "info": "Dimensions must match before image."
    },
    {
      "type": "text",
      "id": "before_caption",
      "label": "Before Text",
      "default": "Before"
    },
    {
      "type": "text",
      "id": "after_caption",
      "label": "After Text",
      "default": "After"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Before/After Image",
      "category": "Image"
    }
  ]
}
{% endschema %}
