<!-- faq-accordion.liquid -->
<style>
   .customstyle{{ section.id }}{ 
      position: relative;
      z-index: {{ section.settings.zindex }};
      background-position:{{ section.settings.e_pos }} !important;
      background-repeat:{{ section.settings.e_repeat }} !important;
      background-size:{{ section.settings.e_size }} !important;
    }
    .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
    .card-faqs{
        border-bottom: 1px solid #ebebeb;
        padding: ;
    }
    .card-faqs:first-child{
        border-top:1px solid #ebebeb;
    }
    .card-faqs-heading{
        cursor: pointer;
        position: relative;
        padding-right: 60px;
        
    }
    .faq-heading{
      padding-top:1.25rem;
      padding-bottom: 1.25rem;
    }
    .faq-heading .faq-icon{
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 14px;
        text-align: center;
        position: absolute;
        top: 10px;
        right: 0;
    }
    .faq-heading .faq-icon i{
        font-size: 14px;
    }
    .faq-heading .faq-icon i::before{
        content: "\e92d";
    }
    .faq-heading.collapsed .faq-icon i::before{
        content: "\e93d";
    }
    .faq-heading.collapsed .faq-icon{
        background-color: transparent;
    }
    .card-faqs .card-body{
      padding-top: 0;
      padding-bottom: 1.5rem;
    }
</style>
  <section class="customstyle{{ section.id }}  lazyload " 
  data-aos="{{ section.settings.animation }}"  
  data-bgset="{% render 'bgset', image: section.settings.image_bg %}"
  data-sizes="auto"
  data-parent-fit="cover" 
  >
  {%- render 'style-section' -%}
    <div class="{{ section.settings.setwidth }}">
        {%- render 'section-heading' -%}
        <div class="row {% if section.settings.e_reverse %} flex-row-reverse {% endif %} justify-content-center">
          {%- if section.settings.e_small == true -%}
              <div class="col-lg-9">
                <div class="row {% if section.settings.e_reverse %} flex-row-reverse {% endif %}">
          {%- endif -%}
            <div class="{% if section.settings.e_right == false %} col-md-12 {% else %}col-md-6 {% endif %} col-12" data-aos="{{ section.settings.animation }}" data-aos-duration="500">
                {%- if section.settings.faq_content != blank -%}
                    <div class="mb-5 {% if section.settings.e_reverse %} pl-lg-5 {% else %} pr-lg-5 {% endif %}">
                        {{ section.settings.faq_content }}
                    </div>
                {%- endif -%}
                {%- if section.blocks.size > 0 -%}
                    <div id="accordion-faqs" class="{{ section.settings.s_accordion }} {% if section.settings.e_right %} {% if section.settings.e_reverse %} pl-lg-5 {% else %} pr-lg-5 {% endif %} {% endif %}  mb-5 mb-lg-0">
                    {%- for block in section.blocks -%}
                        <div class="card-faqs">
                            <div class="card-faqs-heading" >
                                <h4 class="mb-0 {{ section.settings.title_size }}">
                                    <span class="faq-heading d-flex align-items-center {% if forloop.first == true and section.settings.e_first_open %}{% else %}collapsed{% endif %}" data-toggle="collapse" data-target="#faq-{{ block.id }}" aria-expanded="{%- if  forloop.first == true and section.settings.e_first_open -%} true {%- else -%} false {%- endif -%}" aria-controls="faq-{{ block.id }}">
                                        <span class="faq-icon">
                                        <i class="icon-plus"></i>
                                        </span>
                                        {{ block.settings.faq_title }}
                                    </span>
                                </h4>
                            </div>
                            <div id="faq-{{ block.id }}" class="pl-2 collapse {% if  forloop.first == true and section.settings.e_first_open %}show{% endif %}" aria-labelledby="headingOne" data-parent="#accordion-faqs">
                                <div class="card-body px-0">
                                    {{ block.settings.faq_description }}
                                </div>
                            </div>
                        </div>
                    
                    {%- endfor -%}
                </div>
                {%- endif -%}
            </div>
            {% if section.settings.e_right %}
            <div class="col-12 col-md-6" data-aos="{{ section.settings.animation }}" data-aos-duration="800">
                
                {%- if section.settings.image_right == blank -%}
                {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- else -%}
                <div class="position-relative overflow-hidden">
                    <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.image_right.aspect_ratio | times: 100 }}%;">
                        {%- assign image = section.settings.image_right -%}
                        <img
                          srcset="
                            {%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
                            {%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
                            {%- if image.width >= 940 -%}{{ image | image_url: width: 940 }} 940w,{%- endif -%}
                            {%- if image.width >= 1066 -%}{{ image | image_url: width: 1066 }} 1066w,{%- endif -%}
                            {{ image | image_url }} {{ image.width }}w
                          "
                          src="{{ image | image_url: width: 1066 }}"
                          sizes="(min-width: {{ settings.container }}px) {{ settings.container | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                          alt="{{ image.alt | escape }}"
                          class="image-content__image lazyload scale-in"
                          data-sizes="auto"
                          data-aspectratio="{{ image.aspect_ratio }}"
                          loading="lazy"
                          width="{{ image.width }}"
                          height="{{ image.height }}"
                        >
                    </div>
                </div>
              {%- endif -%}
              
            </div>
            {%- endif -%}
            {%- if section.settings.e_small -%}
              </div>
            </div>
          {%- endif -%}
        </div>
        {%- if section.blocks.size == 0 -%}
        {%- render 'no-blocks' -%}
        {%- endif -%}
    </div>
  </section>
  
  {% schema %}
{
  "name": "Faqs Accordion",
  "class": "index-section",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Section"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "e_size",
      "label": "Background Size",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ]
    },
    {
      "type": "select",
      "id": "e_repeat",
      "label": "Background Repeat",
      "default": "no-repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No-Repeat"
        },
        {
          "value": "repeat",
          "label": "Repeat"
        }
      ]
    },
    {
      "type": "select",
      "id": "e_pos",
      "label": "Background Position",
      "default": "center center",
      "options": [
        {
          "value": "center center",
          "label": "Center"
        },
        {
          "value": "top center",
          "label": "Top Center"
        },
        {
          "value": "bottom center",
          "label": "Bottom Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Text Heading"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Sub Title Top",
      "default": "Sub Title Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Sub Title Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title FAQ"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Align Heading",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title Size",
      "default": "h4",
      "options": [
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Normal"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title and Description colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Sub Title Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "checkbox",
      "id": "e_first_open",
      "label": "Enable First Open",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "e_reverse",
      "label": "Enable Reverse Column",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "e_small",
      "label": "Enable Small Column",
      "default": true
    },
    {
      "type": "header",
      "content": "Block Left"
    },
    {
      "type": "textarea",
      "id": "faq_content",
      "label": "Block Left HTML"
    },
    {
      "type": "header",
      "content": "Block Right"
    },
    {
      "type": "checkbox",
      "id": "e_right",
      "label": "Enable Image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Right Image"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "textarea",
          "id": "faq_title",
          "label": "FAQ Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "faq_description",
          "label": "FAQ Answer",
          "default": "<p>Answer Description</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faqs Accordion",
      "category": "Text",
      "blocks": [
        {
          "type": "faq"
        },
        {
          "type": "faq"
        },
        {
          "type": "faq"
        }
      ]
    }
  ]
}
{% endschema %}
  