<!-- featured-collections-3.liquid -->
{%- liquid
  assign stylecol = section.settings.stylecollection
  assign hex2rgb_hex = section.settings.bg_overlay
  assign opacity = section.settings.opacity_overlay
  assign enable_count_item = section.settings.enable_count_item
  assign style_btn = section.settings.style_btn
%}
<style>
    .swipercollection{
      overflow-x:hidden;
    }
      .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
    @media (min-width: 750px){
      .swipercollection .swiper-button-next{
        right: -58px;
      }
      .swipercollection .swiper-button-prev{
        left: -58px;
      }
    }
    
    {%- if section.settings.nowrap -%}
    .swipercollection .swiper-container {
      overflow: visible;
    }
    {%- endif -%}
    .swiperco-{{ section.id }} .collection-card-3 .collection-card__image .hv-image:before{
      --color-gradient : {{ hex2rgb_hex.red }}, {{ hex2rgb_hex.green }}, {{ hex2rgb_hex.blue }};
      content:"";
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index:1;
      {%- if section.settings.enable_gradient -%}
        background: linear-gradient(0deg, rgba(var(--color-gradient), {{ opacity }} ) 0%, rgba(var(--color-gradient), 0) 70%);
      {%- else -%}
      background-color: rgb(var(--color-gradient), {{ opacity }});
      {%- endif -%}
      transition:opacity 0.3s ease;
    }
    .swiperco-{{ section.id }} .collection-card-3 .collection-card__image:hover .hv-image:before{
      opacity: .7;
    }
    {%- if section.settings.scrollbar -%}
    .swipercol-{{ section.id }}.swiper-padding{
        padding-bottom: 64px;
    }
    {%- endif -%}
    {% if section.settings.stylecollection == 'name' %} 
    .collection-card-3 .collection-card__meta{
      pointer-events:inherit;
    }
    {%- endif -%}
    .customstyle{{ section.id }} .collection-card__image .photo-wrapper.square{
      padding-top: 100% !important;
    }
    .customstyle{{ section.id }} .collection-card__image .photo-wrapper.landscape{
      padding-top:  75% !important;
    }
    .customstyle{{ section.id }} .collection-card__image .photo-wrapper.portrait{
      padding-top: 130% !important;
    }
    .customstyle{{ section.id }} .collection-card__image .photo-wrapper.wide{
      padding-top: 60% !important;
    }
    .collection-card__image .photo-wrapper.square img, .collection-card__image .photo-wrapper.landscape img, .collection-card__image .photo-wrapper.portrait img, .collection-card__image .photo-wrapper.wide img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    /* .collection-card__image .link-arrow{
      width: 24px;
      height:24px;
      color:
      display:flex;
      align-items:center;
      justify-content:center;
    } */
    .collection-card__image .link-arrow svg{
      width: 14px;
      height: auto;
      color:{{ section.settings.color }};
    }
    @media (max-width:749px){
        .swipercollection .swiper-container {
            overflow: visible;
        }
        .swipercollection .container-p .swiper-slide{
          width:60% !important;
        }
      }
    .customstyle{{ section.id }} .title-collection{
      --g-color-heading:{{ section.settings.color }};
    }
    {%- if stylecol == 'name' -%}
      .customstyle{{ section.id }} .item-counts{
        color:rgba({{ section.settings.color.red }},{{ section.settings.color.green }}, {{ section.settings.color.blue }}, 0.6 );
      }
    {%- else -%}
      .customstyle{{ section.id }} .item-counts{
        color:{{ section.settings.color }};
      }
      
    {%- endif -%}
   
  </style>
  
  <div class="customstyle{{ section.id }} swipercollection swiperco-{{section.id}}  {% if section.settings.stylecollection == 'name' %} collections-name {% endif %}"  >
      {%- render 'style-section' -%}
        <div >
        <div class="section-block" >
          <div class="{{ section.settings.setwidth }}">
            {%- render 'section-heading' -%}
          </div>
            <div class="{{ section.settings.setwidth }} container-p">
              <div class="swiper-wrapper-{{ section.id }}">
              <div id="swipercol-{{ section.id }}" class="collectionlist-wrapper swiper-container swipercol-{{section.id}} {% if section.settings.scrollbar %} swiper-padding {% endif %}" 
              data-section-id="{{ section.id }}"  
              data-section-type="swipercustom"
              data-perview-desktop="{{ section.settings.perviewDesktop }}"
              data-space-between="{{ section.settings.spaceBetween }}"
              data-perview-mobile="1.6"
              >
                <div class="collectionlist-slider swiper-wrapper" id="collection-list-{{ section.id }}">
                  {%- for block in section.blocks -%}
                  <div class="swiper-slide" {{ block.shopify_attributes }}>
                    {%- liquid
                      assign featured_collection = collections[block.settings.collection] 
                      assign featured_image = block.settings.image 
                      capture current 
                      cycle 1, 2, 3, 4, 5, 6 
                      endcapture 
                      assign collectionTitle = featured_collection.title | default: 'Collection title' 
                      assign enable_customize = block.settings.enable_customize
                      assign text_customize = block.settings.text_customize
                      assign url_customize = block.settings.url_customize
                    -%}
                    {%- capture url -%}
                      {%- if enable_customize -%} {{ url_customize | default : '#' }} {%- else -%} {{ featured_collection.url | default : '#' }} {%- endif -%}
                    {%- endcapture -%}
                    {%- capture title_customize -%}
                      {%- if enable_customize -%} {{ text_customize }} {%- else -%} {{ collectionTitle }} {%- endif -%}
                    {%- endcapture -%}
                      <div class="collection-card-3" {{ block.shopify_attributes }} data-aos="{{ section.settings.animation }}" data-aos-delay="{{ forloop.index | times: 100 }}" >
                        <div class="collection-card__image overflow-hidden position-relative image-content__image-container">
                          <a class="hv-image banner-theme photo-wrapper image-content__image-wrapper {{ section.settings.size_image_col }}" href="{{ url }}"
                            {%- if featured_image != blank -%} 
                              style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100 }}%;" 
                              {%- elsif featured_collection.image != blank -%}
                              style="padding-top:{{ 1 | divided_by: featured_collection.image.aspect_ratio | times: 100 }}%;" 
                              {%- else -%}
                              style=""
                              {%- endif -%}
                            >
                            {%- if featured_image != blank -%}
                              <img
                                srcset="
                                  {%- if featured_image.width >= 165 -%}{{ featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if featured_image.width >= 360 -%}{{ featured_image | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if featured_image.width >= 533 -%}{{ featured_image | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if featured_image.width >= 720 -%}{{ featured_image | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if featured_image.width >= 940 -%}{{ featured_image | image_url: width: 940 }} 940w,{%- endif -%}
                                  {%- if featured_image.width >= 1066 -%}{{ featured_image | image_url: width: 1066 }} 1066w,{%- endif -%}
                                  {{ featured_image | image_url }} {{ featured_image.width }}w
                                "
                                src="{{ featured_image | image_url: width: 720 }}"
                                sizes="(min-width: {{ settings.container }}px) {{ settings.container | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="{{ collectionTitle }}"
                                class="lazyload scale-in"
                                data-sizes="auto"
                                data-aspectratio="{{ featured_image.aspect_ratio }}"
                                loading="lazy"
                                width="{{ featured_image.width }}"
                                height="{{ featured_image.height }}"
                              >   
                            {%- elsif featured_collection.image != blank -%}
                              {%-  assign featured_image = featured_collection.image -%}
                              <img
                                srcset="
                                  {%- if featured_image.width >= 165 -%}{{ featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if featured_image.width >= 360 -%}{{ featured_image | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if featured_image.width >= 533 -%}{{ featured_image | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if featured_image.width >= 720 -%}{{ featured_image | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if featured_image.width >= 940 -%}{{ featured_image | image_url: width: 940 }} 940w,{%- endif -%}
                                  {%- if featured_image.width >= 1066 -%}{{ featured_image | image_url: width: 1066 }} 1066w,{%- endif -%}
                                  {{ featured_image | image_url }} {{ featured_image.width }}w
                                "
                                src="{{ featured_image | image_url: width: 720 }}"
                                sizes="(min-width: {{ settings.container }}px) {{ settings.container | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="{{ collectionTitle }}"
                                class="lazyload scale-in"
                                data-sizes="auto"
                                data-aspectratio="{{ featured_image.aspect_ratio }}"
                                loading="lazy"
                                width="{{ featured_image.width }}"
                                height="{{ featured_image.height }}"
                              >   
                            {%- else -%}
                            {%- if section.settings.size_image_col == 'auto' -%}
                              {%- assign class = 'placeholder-svg' -%}
                             {%- else -%}
                               {%- assign class = 'placeholder-svg position-absolute' -%}
                             {%- endif -%}
                            {{ 'collection-' | append: current | placeholder_svg_tag: class }}
                            {%- endif -%}
                          </a>
                         {%- capture count -%}
                         {% assign c = featured_collection.products_count | plus: 0 %}
                          {{ featured_collection.products_count | default: 0 }} 
                          {%- if c > 1 -%}
                              {{ 'collections.general.items' | t }}
                          {%- else -%}
                              {{ 'collections.general.item' | t }}
                          {%- endif -%}
                         {%- endcapture -%}
                          {%- if stylecol == 'nameanditem' -%}
                            <div class="type-onimage position-absolute collection-card__meta w-100 d-flex flex-column h-100 justify-content-center p-4 text-center">
                              <h4 class="mb-1 title-collection {{ section.settings.size_title }}">
                              <a class="" href="{{ url }}">
                                  {{ title_customize }}
                                </a>
                              </h4>
                              {%- if enable_count_item -%}
                                <p class="item-counts ">{{ count }}</p> 
                              {%- endif -%}
                            </div>
                          {%- elsif stylecol == 'button' -%}
                              <div class=" position-absolute collection-card__meta w-100 d-flex flex-column h-100 justify-content-end p-4 text-center">
                                  <a class="btn btn-theme btn-white" href="{{ url }}">
                                    {{ title_customize }}
                                  </a>
                              </div>
                          {%- elsif stylecol == 'arrow' -%}
                          <div class=" position-absolute collection-card__meta w-100 d-flex flex-column h-100 justify-content-end p-4 text-left">
                            <div class="d-flex align-items-center">
                              <div class="flex-grow-1">
                                <h4 class="mb-0 title-collection {{ section.settings.size_title }}">
                                  <a class="" href="{{ url }}">
                                    {{ title_customize }}
                                  </a>
                                </h4>
                                {%- if enable_count_item -%}
                                  <p class="item-counts small">{{ count }}</p> 
                                {%- endif -%}
                              </div> 
                              <a class="link-arrow" href="{{ url }}"> 
                                <svg aria-hidden="true" focusable="false" role="presentation" width="33" height="34" viewBox="0 0 33 34" xmlns="http://www.w3.org/2000/svg">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M1 1.5h31m0 0v31m0-31-31 31" opacity="1"></path>
                                </svg>
                              </a>
                            </div>
                            </div>
                            {%- elsif stylecol == 'namesup' -%}
                            <div class=" position-static collection-card__meta w-100 d-flex flex-column h-100 justify-content-center pt-3 underimagesup text-center">
                              <h4 class="mb-0 title-collection {{ section.settings.size_title }}">
                                <a class="" href="{{ url }}">
                                  {{ title_customize }}
                                  {%- if enable_count_item -%}
                                  <sup class="txt-body-60">({{ featured_collection.products_count }})</sup>
                                  {%- endif -%}
                                </a>
                              </h4>
                            </div>
                          {%- else -%}
                            <div class=" position-static collection-card__meta w-100 d-flex flex-column h-100 justify-content-center pt-3 underimage text-center">
                              <h4 class="mb-0 title-collection {{ section.settings.size_title }}">
                                <a class="" href="{{ url }}">
                                  {{ title_customize }}
                                </a>
                              </h4>
                              {%- if enable_count_item -%}
                                <p class=" item-counts " >{{ count }}</p> 
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  {%- endfor -%}
                </div>
  
                {%- if section.settings.arrows -%}
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                {%- endif -%}
                {%- if section.settings.scrollbar -%}
                <div class="swiper-scrollbar"></div>
                {%- endif -%}
              </div>
              {%- if section.settings.button != blank -%}
                <div class="pt-5 text-center">
                  <a class="btn {{ style_btn }}" href="{{ section.settings.button_link }}">{{ section.settings.button }}</a>
                </div>
              {%- endif -%}
              {%- if section.blocks.size == 0 -%}
              {%- render 'no-blocks' -%}
              {%- endif -%}
            </div>
          </div>
          </div>
        </div>
      </div>
     
      
      {% schema %}
{
  "name": "Collection list Swiper",
  "class": "index-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Section"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Sub Title Top",
      "default": "Sub Title Top"
    },
        {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Sub Title Top with Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collection list"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "HTML / Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Align Heading",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title and Description colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Sub Title Top color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description color"
    },
    {
      "type": "header",
      "content": "Item"
    },
    {
      "type": "select",
      "id": "stylecollection",
      "label": "Style Collection",
      "default": "nameanditem",
      "options": [
        {
          "value": "nameanditem",
          "label": "On Image"
        },
        {
          "value": "name",
          "label": "Under Image"
        },
        {
          "value": "namesup",
          "label": "Under Image (Sub)"
        },
        {
          "value": "button",
          "label": "Button On Image"
        },
        {
          "value": "arrow",
          "label": "Arrow On Image"
        }
      ]
    },
    {
      "type": "select",
      "id": "size_image_col",
      "label": "Size Image Collection",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "Natural"
        },
        {
          "value": "square",
          "label": "Square (1:1)"
        },
        {
          "value": "landscape",
          "label": "Landscape (4:3)"
        },
        {
          "value": "portrait",
          "label": "Portrait (2:3)"
        },
        {
          "value": "wide",
          "label": "Wide (16:9)"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_count_item",
      "label": "Enable Number Item",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "Enable Gradient",
      "default": false
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bg_overlay",
      "label": "Background Overlay",
      "default": "#222222"
    },
    {
      "type": "range",
      "id": "opacity_overlay",
      "label": "Opacity Overlay",
      "max": 1,
      "min": 0,
      "step": 0.1,
      "unit": " op",
      "default": 0.2
    },
    {
      "type": "select",
      "id": "size_title",
      "label": "Size Name Collection",
      "default": "h4",
      "options": [
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h3",
          "label": "H3"
        }
      ]
    },
    {
      "type": "header",
      "content": "Button Link"
    },
    {
      "type": "select",
      "id": "style_btn",
      "label": "Style Button",
      "default": "btn-theme",
      "options": [
        {
          "value": "btn-theme",
          "label": "Button Box"
        },
        {
          "value": "btn-theme btn-white",
          "label": "Button Box White"
        },
        {
          "value": "btn-underline",
          "label": "Button Line"
        },
        {
          "value": "btn-underline btn-underline-white",
          "label": "Button Line White"
        },
        {
          "value": "btn-outline",
          "label": "Button Outline"
        },
        {
          "value": "btn-outline btn-outline-white",
          "label": "Button Outline White"
        }
      ]
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button",
      "default": "All Products"
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "range",
      "id": "perviewDesktop",
      "label": "Per View Desktop",
      "max": 12,
      "min": 1,
      "step": 1,
      "unit": " c",
      "default": 4
    },
    {
      "type": "range",
      "id": "spaceBetween",
      "label": "Space Between",
      "max": 60,
      "min": 0,
      "step": 1,
      "unit": " sp",
      "default": 30
    },
    {
      "type": "checkbox",
      "id": "nowrap",
      "label": "Wrap Box",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "scrollbar",
      "label": "Scroll Bar",
      "default": true
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "enable_customize",
          "label": "Enable Customize",
          "default": false
        },
        {
          "type": "text",
          "id": "text_customize",
          "label": "Text customize",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "url_customize",
          "label": "URL customize"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list Swiper",
      "category": "Products & Collections",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
      