<!-- featured-products.liquid -->
<style>
      .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
</style>
<div class="customstyle{{ section.id }} " >
  {%- render 'style-section' -%}
  <div class="{{ section.settings.section_width }}">
    <div class="section-block">
      {%- liquid
        render 'section-heading' 
        assign collection = collections[section.settings.collection] 
        assign rows = section.settings.rows 
      -%}
      {%- if collection != blank -%}
      {%- assign product_limit = rows -%}
      <div class="row  product-grid {% if section.settings.enable_creative %} psection-creative {% endif %} {% unless section.settings.padding %} m-0 {% endunless %}" data-aos="{{ section.settings.animation }}">
        {%- for product in collection.products limit: product_limit -%}
        <div class="{{ section.settings.colgrid }} col-md-6 col-sm-6 col-xs-6 col-6 {% unless section.settings.padding %} p-0 {% endunless %} col-item " 
          data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 50 }}" >
          {%- render 'product-card', product: product, collection: collection -%}
        </div>
        {%- endfor -%}
        {% if section.settings.txtbutton != blank %}
        <div class="text-center col-12">
          <a class="btn {{ section.settings.style_btn }}" href="{{ section.settings.urlbtn }}">{{ section.settings.txtbutton }}</a>
        </div>
        {% endif %}
      </div>
      {%- else -%}
      <div class="row  product-grid  {% if section.settings.enable_creative %} psection-creative {% endif %} ">
        {%- assign product_limit = rows -%}
        {%- for i in (1..product_limit) -%}
        <div class="{{ section.settings.colgrid }} col-sm-6 col-xs-6 col-item"  data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 50 }}">
          {%- render 'product-grid-blank' -%}
        </div>
        {%- endfor -%}
      </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Featured Products",
  "class": "index-section",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Subtitle Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Product list"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title And Description Colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "enable_creative",
      "label": "Enable Creative",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "padding",
      "label": "Padding",
      "default": true
    },
    {
      "type": "select",
      "id": "colgrid",
      "label": "Columns",
      "default": "col-lg-3",
      "options": [
        {
          "value": "col-1-5",
          "label": "5"
        },
        {
          "value": "col-lg-3",
          "label": "4"
        },
        {
          "value": "col-lg-4",
          "label": "3"
        },
        {
          "value": "col-lg-6",
          "label": "2"
        }
      ]
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Limit",
      "min": 1,
      "max": 16,
      "step": 1,
      "default": 4
    },
    {
      "type": "text",
      "id": "txtbutton",
      "label": "Text Button",
      "default": "show all",
      "info": "Input is blank it disable"
    },
    {
      "type": "url",
      "id": "urlbtn",
      "label": "Link Button"
    },
    {
      "type": "select",
      "id": "style_btn",
      "label": "Style Button",
      "default": "btn-underline btn-underline-white",
      "options": [
        {
          "value": "btn-theme",
          "label": "Button Box"
        },
        {
          "value": "btn-theme btn-white",
          "label": "Button Box White"
        },
        {
          "value": "btn-underline",
          "label": "Button Line"
        },
        {
          "value": "btn-underline btn-underline-white",
          "label": "Button Line White"
        },
        {
          "value": "btn-outline",
          "label": "Button Outline"
        },
        {
          "value": "btn-outline btn-outline-white",
          "label": "Button Outline White"
        }
      ]
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "category": "Products & Collections"
    }
  ]
}
{% endschema %}
