<!-- featured-articles-2.liquid -->
{%-liquid
  assign buttonall = section.settings.buttonall
  assign buttonall_link = section.settings.buttonall_link
  assign style_btn = section.settings.style_btn
  -%}
<style>
    .blog-section{{ section.id }}{
      position: relative;
      z-index: {{ section.settings.zindex }};
    }
    .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
    .blog-section{{ section.id }}::before{
      position: absolute;
      top:0;
      right:0;
      left:0;
      content: "";
      height: {{ section.settings.rangebg }}%;
      background-color: {{ section.settings.bgbefore }};
    }
    .blog-first .blog__item{
        position: relative;
    }
    .blog-first .blog__content{
        position: absolute;
        bottom: 0;
        left: 0;
        right:0;
    }
    .mask{
        background: linear-gradient(transparent,rgba(0,0,0,.8));
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .blog-list-right .blog__item{
        padding-bottom: 30px;
    }
    .article__photo-wrapper.portrait{
      padding-top: 120% !important;
      overflow: hidden;
    }
    .article__photo-wrapper.square{
      padding-top: 100% !important;
      overflow: hidden;
    }
    .article__photo-wrapper.landscape{
      padding-top: 75% !important;
      overflow: hidden;
    }
    .article__photo-wrapper.wide{
      padding-top: 56% !important;
      overflow: hidden;
    }
    .article__photo-wrapper.portrait img,.article__photo-wrapper.square img, .article__photo-wrapper.landscape img,.article__photo-wrapper.wide img{
      height: 100%;
      object-fit: cover;
    }
    .blog-first .article__photo-wrapper.landscape{
      padding-top: calc(75% + var(--g-hgutter)) !important;
    }
  </style>
  {%-liquid
    assign image_size = section.settings.image_size  
  -%}
  <div class="customstyle{{ section.id }} blog-section{{section.id}}" data-aos="{{ section.settings.animation }}">
    {%- render 'style-section' -%}
  <div class="{{ section.settings.section_width }}">
    <div class="section-block">
      {%- render 'section-heading' -%}
      <div class="bloglist-wrapper dots-negative " data-aos="{{ section.settings.animation }}">
        <div class="bloglist-slider row {% if section.settings.reverse %} flex-lg-row-reverse {% endif %}" >
          {%- assign blog = blogs[section.settings.blog] -%}
          {%- assign limit = 3 -%}
          {%- if blog != blank -%}
          <div class="col-lg-6">
          {%- for article in blog.articles limit: 1 -%}
            <div class="bloglist-item blog-first">
                <div class="blog__item pb-0">
                    {%- if article.image -%}
                        <div class="content-block__image mb-3">
                            <a href="{{ article.url }}">
                                <div class="article__photo-container">
                                <div class="article__photo-wrapper {{ image_size }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
                                    {%- assign img_url = article.image | image_url: width: 1 | replace: 'width=1', 'width={width}' -%}
                                    <img class="lazyload"
                                        src="{{ article.image | image_url: width: 1, height: 1 }}"
                                        data-src="{{ img_url }}"
                                        data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                        data-aspectratio="{{ article.image.aspect_ratio }}"
                                        data-sizes="auto"
                                        alt="{{ article.title | escape }}"
                                        loading="lazy"
                                        width="{{ article.image.width }}"
                                        height="{{ article.image.height }}">
                                </div>
                                </div>
                            </a>
                            <a href="{{ article.url }}" class="mask"></a>
                        </div>
                        {%- endif -%}
                        <div class="blog__content p-lg-4 p-4">
                          <div class="d-flex align-items-center">
                            <p class="blog__meta mb-3 font-family-2 text-white">
                            {{ article.published_at | time_tag: format: 'month_day_year' }}
                            </p>
                            <div class="blog_comment align-items-center d-flex mb-3 ml-4 text-white">
                              {% render 'icon-comment' %}
                              {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                            </div>
                          </div>
                        <h4 class="blog__title-link text-white"><a class="text-white" href="{{ article.url }}">{{ article.title }}</a></h4>
                    </div>
                </div>
            </div>
          {%- endfor -%}
          </div>
          <div class="col-lg-6 blog-list-right">
          {%- for article in blog.articles limit: limit offset: 1 -%}
            <div class="bloglist-item ">
                <div class="blog__item row align-items-center">
                    {%- if article.image -%}
                        <div class="content-block__image col-4">
                            <a href="{{ article.url }}">
                                <div class="article__photo-container mb-0">
                                <div class="article__photo-wrapper {{ image_size }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
                                    {%- assign img_url = article.image | image_url: width: 1 | replace: 'width=1', 'width={width}' -%}
                                    <img class="lazyload"
                                        src="{{ article.image | image_url: width: 1, height: 1 }}"
                                        data-src="{{ img_url }}"
                                        data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                        data-aspectratio="{{ article.image.aspect_ratio }}"
                                        data-sizes="auto"
                                        alt="{{ article.title | escape }}"
                                        loading="lazy"
                                        width="{{ article.image.width }}"
                                        height="{{ article.image.height }}">
                                </div>
                                </div>
                            </a>
                        </div>
                        {%- endif -%}
                        <div class="blog__content col">
                          <div class="d-flex align-items-center">
                            <p class="blog__meta mb-2 font-family-2 txt-body-70">
                            {{ article.published_at | time_tag: format: 'month_day_year' }}
                            </p>
                            <div class="blog_comment align-items-center d-flex mb-2 ml-4 txt-body-70">
                              {% render 'icon-comment' %}
                              {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                            </div>
                          </div>
                        <h5 class="blog__title-link"><a href="{{ article.url }}">{{ article.title }}</a></h5>
                    </div>
                </div>
            </div>
          {%- endfor -%}
        </div>
          {%- else -%}
          {%- for i in (1..limit) -%}
          <div class="bloglist-item col">
            {%- render 'blog-grid-blank' -%}
          </div>
          {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
      {%- if buttonall != blank -%}
        <div class="pt-3 text-center">
          <a href="{{ buttonall_link }}" class="btn {{ style_btn }}">
            {{ buttonall }}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
  </div>
  
  {% schema %}
{
  "name": "Blog Posts Special",
  "class": "index-section",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "text",
      "id": "zindex",
      "label": "Z Index Section",
      "default": "0"
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "range",
      "id": "rangebg",
      "label": "Overlay Height",
      "max": 100,
      "min": 0,
      "step": 10,
      "unit": " %",
      "default": 0
    },
    {
      "type": "color",
      "id": "bgbefore",
      "label": "Overlay Color",
      "default": "#E3C9B8"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Subtitle Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Blog posts Special"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title And Description Colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "label": "Blog",
      "id": "blog",
      "type": "blog"
    },
    {
      "type": "select",
      "id": "image_size",
      "options": [
        {
          "value": "auto",
          "label": "Adapt To Image"
        },
        {
          "value": "portrait",
          "label": "Portrait (2:3)"
        },
        {
          "value": "landscape",
          "label": "Landscape (4:3)"
        },
        {
          "value": "wide",
          "label": "Wide (16:9)"
        },
        {
          "value": "square",
          "label": "Square (1:1)"
        }
      ],
      "default": "auto",
      "label": "Image Ratio"
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "Reverse",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Button"
    },
    {
      "type": "text",
      "id": "buttonall",
      "label": "Button Bottom" 
    },
    {
      "type": "url",
      "id": "buttonall_link",
      "label": "Button Link"
    },
    {
      "type": "select",
      "id": "style_btn",
      "label": "Style Button",
      "default": "btn-theme",
      "options": [
        {
          "value": "btn-theme",
          "label": "Button Box"
        },
        {
          "value": "btn-theme btn-white",
          "label": "Button Box White"
        },
        {
          "value": "btn-underline",
          "label": "Button Line"
        },
        {
          "value": "btn-underline btn-underline-white",
          "label": "Button Line White"
        },
        {
          "value": "btn-outline",
          "label": "Button Outline"
        },
        {
          "value": "btn-outline btn-outline-white",
          "label": "Button Outline White"
        }
      ]
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Blog Posts Special",
      "category": "Text"
    }
  ]
}
{% endschema %}