<!-- featured-collections-1.liquid -->
<style>
  
  .customstyle{{ section.id }} .collection-card__image{
    border-radius:{{ section.settings.radius }}%;
    isolation: isolate;
  }
  @media(min-width:750px){
    .customstyle{{ section.id }}{
      --g-hgutter:{{ section.settings.space }}px;
    }
  }
      .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
</style>
<div class="customstyle{{ section.id }}"  data-aos="{{ section.settings.animation }}" >
{%- render 'style-section' -%}
  <div class="{{ section.settings.section_width }}">
    <div class="section-block">
      {%- render 'section-heading' -%}
      <div class="collectionlist-wrapper">
        <div class="collectionlist-slider swiper row" id="collection-list-{{ section.id }}"
            data-rows="{{ section.settings.rows }}"
            data-slidesToShow="{{ section.blocks.size }}"
            data-slidestoscroll="{{ section.blocks.size }}"
            data-arrows="{{ section.settings.arrows }}"
            data-dots="{{ section.settings.dots }}"
            data-draggable="{{ section.settings.draggable }}"
            data-infinite="{{ section.settings.infinite }}"
            data-section-id="{{ section.id }}"
            data-slidestoshow-mobile="2"
            {% if section.settings.enable_carousel %}
            data-section-type="slickCarousels"
            {% endif %}
          >
          <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
          <div class="col collectionlist-item carousel__slide-wrapper--{{ block.id }} swiper-slide" {{ block.shopify_attributes }} >
            {%- assign featured_collection = collections[block.settings.collection] -%}
            {%- assign featured_image = block.settings.image -%}
            {%- render 'collection-grid-item' , featured_image: featured_image, featured_collection: featured_collection, column: 'none', size_image: section.settings.size_image, headinglist: section.settings.size_text -%}
          </div>
          {%- endfor -%}
          </div>
          {%- if section.settings.arrows -%}
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          {%- endif -%}
          {%- if section.settings.dots -%}
          <div class="swiper-pagination"></div>
          {%- endif -%}
        </div>
      </div>
      {%- if section.blocks.size == 0 -%}
      {%- render 'no-blocks' -%}
      {%- endif -%}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Collection List",
  "class": "index-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Subtitle Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collection list"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title And Description Colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "select",
      "id": "size_image",
      "label": "Size Image",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "Natural"
        },
        {
          "value": "square",
          "label": "Square (1:1)"
        },
        {
          "value": "landscape",
          "label": "Landscape (4:3)"
        },
        {
          "value": "portrait",
          "label": "Portrait (2:3)"
        },
        {
          "value": "wide",
          "label": "Wide (16:9)"
        }
      ]
    },
    {
      "type": "range",
      "id": "radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "%",
      "label": "Border Radius",
      "default": 0
    },
    {
      "type": "range",
      "id": "space",
      "min": 10,
      "max": 80,
      "step": 5,
      "unit": "px",
      "label": "Spacing Column",
      "default": 15
    },
    {
          "type": "select",
          "id": "size_text",
          "default": "h4",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "label": "Name Collection Size"
        },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "Enable Carousel",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection List",
      "category": "Products & Collections",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
