{%- liquid
  assign layout_header = section.settings.layout_header
  assign header_border_color = section.settings.background | color_mix: section.settings.textcolor, 86
  assign type_sticky = section.settings.type_sticky
  assign height_header = section.settings.height_header
  assign enable_menu_vertical = section.settings.enable_menu_vertical  
  assign container = section.settings.section_width
  assign sl_menu_vertical = section.settings.sl_menu_vertical
  assign main_linklist = section.settings.main_linklist | default:"main-menu"
  assign blocks = section.blocks
  
-%}
{% render 'header-oncss', layout_header: layout_header, header_border_color: header_border_color, type_sticky: type_sticky %}
<!-- header.liquid -->
<style>
  .site-header__logo a{
    line-height:1;
  }
  .js_cart_message{
       text-align: left;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 10px;
  }
  discount-code h6{
    -webkit-text-fill-color:unset;
  }
  .modal-header .close:after, .modal-header .close:before {
--g-color-heading: #000;
}
{% if section.settings.enable_search == false %}
  .site-header__search-wrap{
    display:none;
  }
{% endif %}
</style>
<header class="{% if section.settings.menu_active == 'thick-line' %} thick-lineactive {% endif %} {{ layout_header }} size-header-{{ height_header }} section-{{ section.id }} site-header page-element is-moved-by-drawer header-{{ type_sticky }} {% if type_sticky == 'sticky' or type_sticky == 'sticky-top' %} site-header--sticky {% endif %} {% if section.settings.enable_transparent %} site-header--transparent {% if section.settings.enable_white %} site-header-white {% endif %} {% endif %} site-header--full {% if template contains 'index' %} index-header {% endif %} " 
  role="banner" 
  data-section-id="{{ section.id }}" 
  data-section-type="header" 
  data-sticky="{{ type_sticky }}" >

  <div class="header-bottom py-2 py-lg-0 ">
    <div class="">
      <div class="d-flex row-header align-items-center">
        {%- liquid
          case layout_header
          when 'logo-center-navigation-center'
            render 'header-logo-center-nav-center', container : container, enable_menu_vertical: enable_menu_vertical, sl_menu_vertical: sl_menu_vertical, main_linklist: main_linklist, blocks: blocks
          when 'logo-left-navigation-underleft'
            render 'header-logo-left-nav-left', container : container, enable_menu_vertical: enable_menu_vertical, sl_menu_vertical: sl_menu_vertical, main_linklist: main_linklist, blocks: blocks
          when 'logo-center-navigation-split'
            render 'header-logo-center-split', container : container, enable_menu_vertical: enable_menu_vertical, sl_menu_vertical: sl_menu_vertical, main_linklist: main_linklist, blocks: blocks
          when 'logo-center-navigation-drawer' 
            render 'header-logo-center-drawer', container : container
          else
            render 'header-logo-left' , container : container, layout_header : layout_header, enable_menu_vertical: enable_menu_vertical, sl_menu_vertical: sl_menu_vertical, main_linklist: main_linklist, blocks: blocks
          endcase
        -%}
      </div>
    </div>
  </div>
  {%- if enable_menu_vertical -%}
    {% unless layout_header == 'logo-center-navigation-split' or layout_header == 'logo-center-navigation-drawer' %}
      {% render 'slide-menu' %}
    {% endunless %}
  {%- endif -%}
</header>
<div class="group-fixed d-lg-flex d-none">
{% render 'show-newlleter' %}
{%- if settings.enable_compare  and settings.enable_popuptext -%} — {%- endif -%}
{%- render 'block-compare' -%}
</div>
{%- if template != 'customers/login' -%}
{% render 'popup-login' -%}
{%- endif -%}
{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image Dark"
    },
    {
      "type": "image_picker",
      "id": "logo_white",
      "label": "Logo image White"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 600,
      "step": 5,
      "unit": "px",
      "label": "Custom logo width",
      "default": 450
    },
    {
      "type": "header",
      "content": "Config Header"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent",
      "label": "Transparent header"
    },
    {
      "type": "checkbox",
      "id": "hover_transparent",
      "label": "Hover Transparent header ",
      "info": "work with transparent header"
    },
    {
      "type": "checkbox",
      "id": "enable_white",
      "label": "White Header",
      "info": "work with transparent header"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Width Header",
      "default": "container-fluid",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout_header",
      "label": "Layout",
      "default": "logo-left-navigation-left",
      "options": [
        {
          "value": "logo-left-navigation-left",
          "label": "Logo left, Navigation Left"
        },
        {
          "value": "logo-left-navigation-right",
          "label": "Logo left, Navigation right"
        },
        {
          "value": "logo-left-navigation-center",
          "label": "Logo left, Navigation Center"
        },
        {
          "value": "logo-center-navigation-left",
          "label": "Logo Center, Navigation left"
        },
        {
          "value": "logo-center-navigation-center",
          "label": "Logo Center, Navigation center"
        },
        {
          "value": "logo-left-navigation-underleft",
          "label": "Logo left, Navigation underleft"
        },
        {
          "value": "logo-center-navigation-split",
          "label": "Logo center, Navigation Split"
        },
        {
          "value": "logo-center-navigation-drawer",
          "label": "Logo center, Navigation drawer"
        }
      ]
    },
    {
      "type": "select",
      "id": "type_sticky",
      "label": "Type Sticky Header",
      "default": "sticky",
      "options": [
        {
          "value": "sticky",
          "label": "Sticky Header"
        },
        {
          "value": "sticky-top",
          "label": "Sticky Header hide on scrolldown"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "type": "select",
      "id": "height_header",
      "label": "Height Header",
      "default": "normal",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "General Header"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "textcolor",
      "label": "Text",
      "default": "#666"
    },
    {
      "type": "color",
      "id": "linkcolor",
      "label": "Link color",
      "default": "#666"
    },
    {
      "type": "color",
      "id": "linkhover",
      "label": "Link hover",
      "default": "#AD2C34"
    },
    {
      "type": "color",
      "id": "color_indicator",
      "label": "Background Number Cart Wishlist",
      "default": "#000000"
    },
     {
      "type": "color",
      "id": "txt_color_indicator",
      "label": "Text Number Cart Wishlist",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "color",
      "id": "menutext",
      "label": "Text",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "menutexthover",
      "label": "Text hover",
      "default": "#AD2C34"
    },
    {
      "type": "color",
      "id": "menudroptexttitle",
      "label": "Dropdown Title text",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "menudroptext",
      "label": "Dropdown text",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "menudropbg",
      "label": "Dropdown background",
      "default": "#3C3C3D"
    },
    {
      "type": "color",
      "id": "menudropborder",
      "label": "Dropdown Border",
      "default": "#f1f1f1"
    },
    {
      "type": "header",
      "content": "Menu Settings"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "font_family_menu",
      "label": "Font Family",
      "default": "--g-font-1",
      "options": [
        {
          "value": "--g-font-1",
          "label": "Heading"
        },
        {
          "value": "--g-font-2",
          "label": "Body"
        }
      ]
    },
    {
      "type": "text",
      "id": "font_sizemenu",
      "label": "Font Size Menu",
      "default": "16px"
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font Weight Menu",
      "default": "400",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ]
    },
    {
      "type": "range",
      "id": "menu_spacing",
      "label": "Menu Letter Spacing",
      "max": 1,
      "min": 0,
      "step": 0.1,
      "unit": " em",
      "default": 0
    },
    {
      "type": "range",
      "id": "menu_space",
      "label": "Menu Spacing",
      "max": 3,
      "min": 0,
      "step": 0.1,
      "unit": " em",
      "default": 1
    },
    {
      "type": "select",
      "id": "type_menu",
      "label": "Type Text",
      "default": "uppercase",
      "options": [
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ]
    },
    {
      "type": "header",
      "content": "Style Active & Hover"
    },
    {
      "type": "select",
      "id": "menu_active",
      "label": "Style Active Hover",
      "default": "thin-line",
      "options": [
        {
          "value": "thin-line",
          "label": "Thin Line"
        },
        {
          "value": "thick-line",
          "label": "Thick Line"
        }
      ]
    },
    {
      "type": "header",
      "content": "Menu labels"
    },
    {
      "type": "paragraph",
      "content": "💡 [In menu item titles](/admin/menus), use square brackets to create labels."
    },
    {
      "type": "paragraph",
      "content": "💡 Example: Home[new], Blog[hot], Shop[sale]"
    },
    {
      "type": "color",
      "id": "menu_label_text",
      "label": "Text color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "menu_label_new",
      "label": "New labels",
      "default": "#01bad4"
    },
    {
      "type": "color",
      "id": "menu_label_hot",
      "label": "Hot labels",
      "default": "#d24418"
    },
    {
      "type": "color",
      "id": "menu_label_sale",
      "label": "Sale labels",
      "default": "#ffa800"
    },
    {
      "type": "color",
      "id": "menu_label_other",
      "label": "Other labels",
      "default": "#848484"
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "label": "Enable Search",
      "default": true
    },
    {
      "id": "link_list_search",
      "type": "link_list",
      "label": "Quick Links Menu",
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "sidebar_search",
      "label": "Search Drawer",
      "default": false
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "e_hd_currency",
      "label": "Enable Currency Header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_image",
      "label": "Enable Image Currency",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_name",
      "label": "Enable Country Name",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "label": "Enable Language",
      "default": true
    },
    {
      "type": "header",
      "content": "Icon Cart Header"
    },
    {
      "type": "select",
      "id": "icon_cart",
      "label": "Style Cart",
      "default": "icon",
      "options": [
        {
          "value": "icon",
          "label": "Icon"
        },
        {
          "value": "text",
          "label": "Text"
        },
        {
          "value": "icon-text",
          "label": "Icon & Text"
        },
        {
          "value": "number",
          "label": "Number"
        }
      ]
    },
    {
      "type": "select",
      "id": "svg_cart",
      "label": "Icon Cart",
      "default": "cart-1",
      "options": [
        {
          "value": "cart-1",
          "label": "Icon Cart 1"
        },
        {
          "value": "cart-2",
          "label": "Icon Cart 2"
        },
        {
          "value": "cart-3",
          "label": "Icon Cart 3"
        },
        {
          "value": "cart-4",
          "label": "Icon Cart 4"
        },
        {
          "value": "cart-5",
          "label": "Icon Cart 5"
        },
        {
          "value": "cart-6",
          "label": "Icon Cart 6"
        },
        {
          "value": "cart-7",
          "label": "Icon Cart 7"
        }
      ]
    },
    {
      "type": "header",
      "content": "Icon Wishlist"
    },
    {
      "type": "select",
      "id": "icon_wishlist",
      "label": "Style Wishlist",
      "default": "icon",
      "options": [
        {
          "value": "icon",
          "label": "Icon"
        },
        {
          "value": "text",
          "label": "Text"
        },
        {
          "value": "text-2",
          "label": "Text (2)"
        },
        {
          "value": "icon-text",
          "label": "Icon & Text"
        },
        {
          "value": "number",
          "label": "Number"
        }
      ]
    },
    {
      "type": "header",
      "content": "Icon Login"
    },
    {
      "type": "select",
      "id": "icon_login",
      "label": "Style Login",
      "default": "icon",
      "options": [
        {
          "value": "icon",
          "label": "Icon"
        },
        {
          "value": "text",
          "label": "Text"
        },
        {
          "value": "icon-text",
          "label": "Icon & Text"
        }
      ]
    },
    {
      "type": "select",
      "id": "e_link_login",
      "label": "Link Login",
      "default": "link",
      "options": [
        {
          "value": "link",
          "label": "Link Login Page"
        },
        {
          "value": "popup",
          "label": "Popup"
        }
      ]
    },
    {
      "type": "header",
      "content": "Icon Search"
    },
    {
      "type": "select",
      "id": "icon_search",
      "label": "Style Search",
      "default": "icon",
      "options": [
        {
          "value": "icon",
          "label": "Icon"
        },
        {
          "value": "text",
          "label": "Text"
        },
        {
          "value": "icon-text",
          "label": "Icon & Text"
        }
      ]
    },
    {
      "type": "header",
      "content": "Sidebar Option"
    },
    {
      "type": "checkbox",
      "id": "enable_sidebar_option",
      "label": "Enable Sidebar Option",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "menu-product",
      "name": "Product List (Mega menu)",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu title"
        },
        {
          "type": "select",
          "id": "menu_width",
          "label": "Container",
          "default": "container",
          "options": [
            {
              "value": "container",
              "label": "Container"
            },
            {
              "value": "container-fluid",
              "label": "Container Fluid"
            }
          ]
        },
        {
          "type": "range",
          "id": "menu_column",
          "label": "Link Menu Column ",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 6
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "checkbox",
          "id": "enable_menu_product",
          "label": "Enable Product ",
          "default": true
        },
        {
          "type": "range",
          "id": "menu_product_width",
          "label": "Width Product column (%) ",
          "min": 20,
          "max": 100,
          "step": 5,
          "default": 25
        },
        {
          "type": "product",
          "id": "menu_product_1",
          "label": "Product 1"
        },
        {
          "type": "product",
          "id": "menu_product_2",
          "label": "Product 2"
        },
        {
          "type": "product",
          "id": "menu_product_3",
          "label": "Product 3"
        },
        {
          "type": "product",
          "id": "menu_product_4",
          "label": "Product 4"
        },
        {
          "type": "product",
          "id": "menu_product_5",
          "label": "Product 5"
        },
        {
          "type": "product",
          "id": "menu_product_6",
          "label": "Product 6"
        }
      ]
    },
    {
      "type": "menu-collection",
      "name": "Collection (Mega menu)",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu title"
        },
        {
          "type": "select",
          "id": "menu_width",
          "label": "Container",
          "default": "container",
          "options": [
            {
              "value": "container",
              "label": "Container"
            },
            {
              "value": "container-fluid",
              "label": "Container Fluid"
            }
          ]
        },
        {
          "type": "range",
          "id": "menu_column",
          "label": "Link Menu Column ",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 6
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "checkbox",
          "id": "enable_menu_collection",
          "label": "Enable Collection ",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_items_count",
          "label": "Enable Number Product ",
          "default": true
        },
        {
          "type": "select",
          "id": "image_size",
          "options": [
            {
              "value": "auto",
              "label": "Adapt to image"
            },
            {
              "value": "portrait",
              "label": "Portrait (2:3)"
            },
            {
              "value": "landscape",
              "label": "Landscape (4:3)"
            },
            {
              "value": "wide",
              "label": "Wide (16:9)"
            },
            {
              "value": "square",
              "label": "Square (1:1)"
            }
          ],
          "default": "auto",
          "label": "Image ratio"
        },
        {
          "type": "range",
          "id": "menu_collection_width",
          "label": "Width Colection column (%) ",
          "min": 25,
          "max": 100,
          "step": 5,
          "default": 25
        },
        {
          "type": "collection",
          "id": "menu_collection_1",
          "label": "Collection 1"
        },
        {
          "type": "collection",
          "id": "menu_collection_2",
          "label": "Collection 2"
        },
        {
          "type": "collection",
          "id": "menu_collection_3",
          "label": "Collection 3"
        },
        {
          "type": "collection",
          "id": "menu_collection_4",
          "label": "Collection 4"
        },
        {
          "type": "collection",
          "id": "menu_collection_5",
          "label": "Collection 5"
        },
        {
          "type": "collection",
          "id": "menu_collection_6",
          "label": "Collection 6"
        }
      ]
    },
    {
      "type": "menu-banner-classic",
      "name": "BannerClassic (Mega menu)",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu title"
        },
        {
          "type": "select",
          "id": "menu_width",
          "label": "Container",
          "default": "container",
          "options": [
            {
              "value": "container",
              "label": "Container"
            },
            {
              "value": "container-fluid",
              "label": "Container Fluid"
            }
          ]
        },
        {
          "type": "range",
          "id": "menu_column",
          "label": "Link Menu Column ",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 6
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "checkbox",
          "id": "enable_menu_banner",
          "label": "Enable Banner ",
          "default": true
        },
        {
          "type": "select",
          "id": "image_size",
          "options": [
            {
              "value": "auto",
              "label": "Adapt to image"
            },
            {
              "value": "portrait",
              "label": "Portrait (2:3)"
            },
            {
              "value": "landscape",
              "label": "Landscape (4:3)"
            },
            {
              "value": "wide",
              "label": "Wide (16:9)"
            },
            {
              "value": "square",
              "label": "Square (1:1)"
            }
          ],
          "default": "auto",
          "label": "Image ratio"
        },
        {
          "type": "range",
          "id": "menu_banner_width",
          "label": "Width Colection column (%) ",
          "min": 25,
          "max": 100,
          "step": 5,
          "default": 25
        },
        {
          "type": "header",
          "content": "Promotion 1"
        },
        {
          "type": "image_picker",
          "id": "menu_banner_image_1",
          "label": "Image 1"
        },
        {
          "type": "textarea",
          "id": "menu_banner_html_1",
          "label": "Des / Html"
        },
        {
          "type": "text",
          "id": "menu_banner_btn_1",
          "label": "Button 1"
        },
        {
          "type": "url",
          "id": "menu_banner_link_1",
          "label": "Link 1"
        },
        {
          "type": "header",
          "content": "Promotion 2"
        },
        {
          "type": "image_picker",
          "id": "menu_banner_image_2",
          "label": "Image 2"
        },
        {
          "type": "textarea",
          "id": "menu_banner_html_2",
          "label": "Des / Html"
        },
        {
          "type": "text",
          "id": "menu_banner_btn_2",
          "label": "Button 2"
        },
        {
          "type": "url",
          "id": "menu_banner_link_2",
          "label": "Link 2"
        },
        {
          "type": "header",
          "content": "Promotion 3"
        },
        {
          "type": "image_picker",
          "id": "menu_banner_image_3",
          "label": "Image 3"
        },
        {
          "type": "textarea",
          "id": "menu_banner_html_3",
          "label": "Des / Html"
        },
        {
          "type": "text",
          "id": "menu_banner_btn_3",
          "label": "Button 3"
        },
        {
          "type": "url",
          "id": "menu_banner_link_3",
          "label": "Link 3"
        },
        {
          "type": "header",
          "content": "Promotion 4"
        },
        {
          "type": "image_picker",
          "id": "menu_banner_image_4",
          "label": "Image 4"
        },
        {
          "type": "textarea",
          "id": "menu_banner_html_4",
          "label": "Des / Html"
        },
        {
          "type": "text",
          "id": "menu_banner_btn_4",
          "label": "Button 4"
        },
        {
          "type": "url",
          "id": "menu_banner_link_4",
          "label": "Link 4"
        },
        {
          "type": "header",
          "content": "Promotion 5"
        },
        {
          "type": "image_picker",
          "id": "menu_banner_image_5",
          "label": "Image 5"
        },
        {
          "type": "textarea",
          "id": "menu_banner_html_5",
          "label": "Des / Html"
        },
        {
          "type": "text",
          "id": "menu_banner_btn_5",
          "label": "Button 5"
        },
        {
          "type": "url",
          "id": "menu_banner_link_5",
          "label": "Link 5"
        },
        {
          "type": "header",
          "content": "Promotion 6"
        },
        {
          "type": "image_picker",
          "id": "menu_banner_image_6",
          "label": "Image 6"
        },
        {
          "type": "textarea",
          "id": "menu_banner_html_6",
          "label": "Des / Html"
        },
        {
          "type": "text",
          "id": "menu_banner_btn_6",
          "label": "Button 6"
        },
        {
          "type": "url",
          "id": "menu_banner_link_6",
          "label": "Link 6"
        }
      ]
    },
    {
      "type": "menu-banner",
      "name": "Banner Basic (Mega menu)",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu title"
        },
        {
          "type": "select",
          "id": "menu_width",
          "label": "Container",
          "default": "container",
          "options": [
            {
              "value": "container",
              "label": "Container"
            },
            {
              "value": "container-fluid",
              "label": "Container Fluid"
            }
          ]
        },
        {
          "type": "range",
          "id": "menu_column",
          "label": "Link Menu Column ",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 6
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "checkbox",
          "id": "enable_menu_banner",
          "label": "Enable Banner ",
          "default": true
        },
        {
          "type": "range",
          "id": "menu_banner_width",
          "label": "Width Banner column (%) ",
          "min": 25,
          "max": 100,
          "step": 5,
          "default": 25
        },
        {
          "type": "range",
          "id": "menu_banner_height",
          "label": "Height Banner (px) ",
          "min": 200,
          "max": 600,
          "step": 10,
          "default": 300
        },
        {
          "type": "select",
          "id": "menu_banner_size_title",
          "label": "Size Title",
          "default": "h3",
          "options": [
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            }
          ]
        },
        {
          "type": "header",
          "content": "Promotion 1"
        },
        {
          "type": "image_picker",
          "id": "menu_banner_image_1",
          "label": "Image 1"
        },
        {
          "type": "select",
          "id": "menu_banner_position_text_1",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "mid-left",
              "label": "Midle Left "
            },
            {
              "value": "mid-center",
              "label": "Midle Center "
            },
            {
              "value": "mid-right",
              "label": "Midle Right "
            },
            {
              "value": "bot-left",
              "label": "Bottom Left "
            },
            {
              "value": "bot-center",
              "label": "Bottom Center "
            },
            {
              "value": "bot-right",
              "label": "Bottom Right "
            }
          ],
          "default": "mid-center",
          "label": "Text Position"
        },
        {
          "type": "text",
          "id": "menu_banner_subheading_1",
          "label": "Sub Heading 1",
          "default": "Sub Heading 1"
        },
        {
          "type": "text",
          "id": "menu_banner_heading_1",
          "label": "Heading 1",
          "default": "Heading 1"
        },
        {
          "type": "richtext",
          "id": "menu_banner_paragraph_1",
          "label": "Paragraph 1",
          "default": "<p>Paragraph 1</p>"
        },
        {
          "type": "text",
          "id": "menu_banner_btn_1",
          "label": "Button 1"
        },
        {
          "type": "url",
          "id": "menu_banner_link_1",
          "label": "Link 1"
        },
        {
          "type": "header",
          "content": "Promotion 2"
        },
        {
          "type": "image_picker",
          "id": "menu_banner_image_2",
          "label": "Image 2"
        },
        {
          "type": "select",
          "id": "menu_banner_position_text_2",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "mid-left",
              "label": "Midle Left "
            },
            {
              "value": "mid-center",
              "label": "Midle Center "
            },
            {
              "value": "mid-right",
              "label": "Midle Right "
            },
            {
              "value": "bot-left",
              "label": "Bottom Left "
            },
            {
              "value": "bot-center",
              "label": "Bottom Center "
            },
            {
              "value": "bot-right",
              "label": "Bottom Right "
            }
          ],
          "default": "mid-center",
          "label": "Text Position"
        },
        {
          "type": "text",
          "id": "menu_banner_subheading_2",
          "label": "Sub Heading 2",
          "default": "Sub Heading 2"
        },
        {
          "type": "text",
          "id": "menu_banner_heading_2",
          "label": "Heading 2",
          "default": "Heading 2"
        },
        {
          "type": "richtext",
          "id": "menu_banner_paragraph_2",
          "label": "Paragraph 2",
          "default": "<p>Paragraph 2</p>"
        },
        {
          "type": "text",
          "id": "menu_banner_btn_2",
          "label": "Button 2"
        },
        {
          "type": "url",
          "id": "menu_banner_link_2",
          "label": "Link 2"
        },
        {
          "type": "header",
          "content": "Promotion 3"
        },
        {
          "type": "image_picker",
          "id": "menu_banner_image_3",
          "label": "Image 3"
        },
        {
          "type": "select",
          "id": "menu_banner_position_text_3",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "mid-left",
              "label": "Midle Left "
            },
            {
              "value": "mid-center",
              "label": "Midle Center "
            },
            {
              "value": "mid-right",
              "label": "Midle Right "
            },
            {
              "value": "bot-left",
              "label": "Bottom Left "
            },
            {
              "value": "bot-center",
              "label": "Bottom Center "
            },
            {
              "value": "bot-right",
              "label": "Bottom Right "
            }
          ],
          "default": "mid-center",
          "label": "Text Position"
        },
        {
          "type": "text",
          "id": "menu_banner_subheading_3",
          "label": "Sub Heading 3",
          "default": "Sub Heading 3"
        },
        {
          "type": "text",
          "id": "menu_banner_heading_3",
          "label": "Heading 3",
          "default": "Heading 3"
        },
        {
          "type": "richtext",
          "id": "menu_banner_paragraph_3",
          "label": "Paragraph 3",
          "default": "<p>Paragraph 3</p>"
        },
        {
          "type": "text",
          "id": "menu_banner_btn_3",
          "label": "Button 3"
        },
        {
          "type": "url",
          "id": "menu_banner_link_3",
          "label": "Link 3"
        }
      ]
    },
    {
      "type": "level_1",
      "name": "Banner Vertical Level 1",
      "settings": [
        {
          "type": "text",
          "id": "menu_title_lv1",
          "label": "Menu title"
        },
        {
          "type": "checkbox",
          "id": "enable_menu_banner_lv1",
          "label": "Enable Banner",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image_menu_lv1",
          "label": "Image"
        },
        {
          "id": "menu_gradient_bg_lv1",
          "type": "color_background",
          "label": "Background Gradient"
        },
        {
          "type": "select",
          "id": "menu_banner_position_text_lv1",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "mid-left",
              "label": "Midle Left "
            },
            {
              "value": "mid-center",
              "label": "Midle Center "
            },
            {
              "value": "mid-right",
              "label": "Midle Right "
            },
            {
              "value": "bot-left",
              "label": "Bottom Left "
            },
            {
              "value": "bot-center",
              "label": "Bottom Center "
            },
            {
              "value": "bot-right",
              "label": "Bottom Right "
            }
          ],
          "default": "bot-left",
          "label": "Text Position"
        },
        {
          "type": "text",
          "id": "subtitle_menu_banner_lv1",
          "label": "Sub Title Banner "
        },
        {
          "type": "text",
          "id": "title_menu_banner_lv1",
          "label": "Title Banner "
        },
        {
          "type": "select",
          "id": "menu_banner_size_title_lv1",
          "label": "Size Title",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "description_menu_banner_lv1",
          "label": "Description Banner", 
          "default": "<p></p>"
        },
        {
          "type": "text",
          "id": "button_menu_banner_lv1",
          "label": "Button Banner ",
          "default": "shop now"
        },
        {
          "type": "url",
          "id": "btn_link_menu_banner_lv1",
          "label": "Link Banner"
        }
      ]
    },
    {
      "type": "level_2",
      "name": "Banner Vertical Level 2",
      "settings": [
        {
          "type": "text",
          "id": "menu_title_lv2",
          "label": "Menu title"
        },
        {
          "type": "checkbox",
          "id": "enable_menu_banner_lv2",
          "label": "Enable Banner",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image_menu_lv2",
          "label": "Image"
        },
        {
          "id": "menu_gradient_bg_lv2",
          "type": "color_background",
          "label": "Background Gradient"
        },
        {
          "type": "select",
          "id": "menu_banner_position_text_lv2",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "mid-left",
              "label": "Midle Left "
            },
            {
              "value": "mid-center",
              "label": "Midle Center "
            },
            {
              "value": "mid-right",
              "label": "Midle Right "
            },
            {
              "value": "bot-left",
              "label": "Bottom Left "
            },
            {
              "value": "bot-center",
              "label": "Bottom Center "
            },
            {
              "value": "bot-right",
              "label": "Bottom Right "
            }
          ],
          "default": "bot-left",
          "label": "Text Position"
        },
        {
          "type": "text",
          "id": "subtitle_menu_banner_lv2",
          "label": "Sub Title Banner "
        },
        {
          "type": "text",
          "id": "title_menu_banner_lv2",
          "label": "Title Banner "
        },
        {
          "type": "select",
          "id": "menu_banner_size_title_lv2",
          "label": "Size Title",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "description_menu_banner_lv2",
          "label": "Description Banner", 
          "default": "<p></p>"
        },
        {
          "type": "text",
          "id": "button_menu_banner_lv2",
          "label": "Button Banner ",
          "default": "shop now"
        },
        {
          "type": "url",
          "id": "btn_link_menu_banner_lv2",
          "label": "Link Banner"
        }
      ]
    },
    {
      "type": "option-sidebar",
      "name": "Option Sidebar",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "sidebar_logo",
          "label": "Enable Logo",
          "default": true
        },
        {
          "type": "header",
          "content": "Block About"
        },
        {
          "type": "richtext",
          "id": "sidebar_description",
          "label": "About Sidebar"
        },
        {
          "type": "header",
          "content": "Block Image"
        },
        {
          "type": "checkbox",
          "id": "sidebar_image",
          "label": "Enable Block Image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "sidebar_image_1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "sidebar_image_2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "sidebar_image_3",
          "label": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "sidebar_image_4",
          "label": "Image 4"
        },
        {
          "type": "image_picker",
          "id": "sidebar_image_5",
          "label": "Image 5"
        },
        {
          "type": "image_picker",
          "id": "sidebar_image_6",
          "label": "Image 6"
        },
        {
          "type": "header",
          "content": "Menu"
        },
        {
          "type": "link_list",
          "id": "sidebar_link",
          "label": "Select menu"
        },
        {
          "type": "header",
          "content": "Contact"
        },
        {
          "type": "checkbox",
          "id": "sidebar_contact",
          "label": "Contact",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "sidebar_social",
          "label": "Social",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}