<!-- service.liquid -->

<style>
  .customstyle{{ section.id }}{
    --g-icon-text-width : {{ section.settings.size | append : 'px' }};
  }
   .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  .customstyle{{ section.id }} .iconx8 img{
  margin:0 auto;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
  .block-icon-text .iconx8 svg, .block-icon-text .iconx8 .icon, .block-icon-text .iconx8 [class^=icon-]{
    width: var(--g-icon-text-width );
    height: var(--g-icon-text-width );
    font-size: var(--g-icon-text-width );
    stroke:currentColor;
    fill:none;
    stroke-width:2px;
  }
  .block-icon-text .iconx8 img{
    width:var(--g-icon-text-width );
    height:auto;
  }
</style>

{%- liquid
  assign carousel =  section.settings.enable_carousel
  assign service_heading = section.settings.service_heading
  assign layout = section.settings.layout
-%}
<div class="customstyle{{ section.id }} block-icon-text {% if section.settings.layout == 'style-3' %} block-sv3 {% endif %}" data-aos="{{ section.settings.animation }}" >
  {%- render 'style-section' -%}
<div class="{{ section.settings.setwidth }}">
  <div class="section-block sv-bgsub-{{ section.id }}" style="padding:{{ section.settings.paddingbox }}">
    {%- render 'section-heading' -%}
    <div class="services-wrapper dots-negative">
      <div class="services-slider row mb-0{% if carousel %} swiper{% endif %}" id="service-list-{{ section.id }}"
           data-rows="{{ section.settings.rows }}"
           data-slidesToShow="{{ section.blocks.size }}"
           data-slidestoscroll="{{ section.blocks.size }}"
           data-arrows="{{ section.settings.arrows }}"
           data-dots="{{ section.settings.dots }}" 
           data-draggable="{{ section.settings.draggable }}" 
           data-infinite="{{ section.settings.infinite }}" 
           data-section-id="{{ section.id }}" 
           {% if carousel %}
           data-section-type="slickCarousels"
           {% endif %}>
        {%- if carousel -%}<div class="swiper-wrapper">{%- endif -%}
        {%- for block in section.blocks -%}
          {%- liquid
            assign type_icon = block.settings.type_icon
           -%}
        <div class="{% if carousel %}  col swiper-slide {% else %} {% if layout == 'style-1' %} col-12 {% else %} col-6 {% endif %} col-lg  mb-4 mb-lg-0  {% endif %} services-item carousel__slide-wrapper--{{ block.id }}"
        {{ block.shopify_attributes }} >
        <div data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}">
          {%- case layout -%}
          {%- when 'style-1' -%}
          <div class="media service-1 text-left" style="background-color:{{ block.settings.bgblock }};">
            <span class=" mr-4 iconx8" style="color:{{ section.settings.iconcolor }};">
              {% if type_icon == 'svg' %}
                {{ block.settings.icon | default: '[[ Icon ]]' }}
              {% else %}
                {%- if block.settings.image_icon != blank -%}
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                    (min-width: {{ settings.container }}px) {{ settings.container | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                  {%- endcapture -%}
                  {{
                    block.settings.image_icon
                    | image_url: width: 300
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: 'auto'
                  }}
                {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
              {% endif %}
            </span>
            <div class="media-body">
              {%- if block.settings.title != blank -%}
              <h5 class="mt-0 mb-2 {{ service_heading }}" style="color:{{ section.settings.titlecolor }};">{{ block.settings.title }}</h5>
              {%- endif -%}
              <div style="color:{{ section.settings.subcolor }};">{{ block.settings.description }}</div>
            </div>
          </div>
          {%- when 'style-2' -%}
          <div class="media service-2 text-center">
            <div class="media-body py-lg-5" style="background-color:{{ block.settings.bgblock }};">
                <div class="mb-3 iconx8" style="color:{{ section.settings.iconcolor }};">
                  {% if type_icon == 'svg' %}
                    {{ block.settings.icon | default: '[[ Icon ]]' }}
                  {% else %}
                    {%- if block.settings.image_icon != blank -%}
                      {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                      {%- capture sizes -%}
                        (min-width: {{ settings.container }}px) {{ settings.container | minus: 100 | divided_by: 2 }}px,
                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                      {%- endcapture -%}
                      {{
                        block.settings.image_icon
                        | image_url: width: 300
                        | image_tag: sizes: sizes, widths: widths, fetchpriority: 'auto'
                      }}
                    {%- else -%}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                  {% endif %}
              </div>
              {%- if block.settings.title != blank -%}
                <h5 class="mt-0 mb-2 {{ service_heading }}" {% if section.settings.titlecolor != "rgba(0,0,0,0)" and section.settings.titlecolor != blank %} style="--g-color-heading:{{ section.settings.titlecolor }};"{%  endif %}>{{ block.settings.title }}</h5>
              {%- endif -%}
              <div {% if section.settings.subcolor != "rgba(0,0,0,0)" and section.settings.subcolor != blank %} style="color:{{ section.settings.subcolor }};" {%  endif %}>{{ block.settings.description }}</div>
            </div>
          </div>
          {%- endcase -%}
        </div>
        </div>
        {%- endfor -%}
        {%- if carousel -%}</div>{%- endif -%}
        {%- if carousel and section.settings.arrows -%}
        <div class="swiper-button-prev"></div><div class="swiper-button-next"></div>
        {%- endif -%}
        {%- if carousel and section.settings.dots -%}
        <div class="swiper-pagination"></div>
        {%- endif -%}
      </div>
    </div>
    {%- if section.blocks.size == 0 -%}
    {%- render 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
</div>

{% schema %}
{
  "name": "Icons",
  "class": "index-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Sub Title Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title and Description colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Items "
    },
    {
      "type": "text",
      "id": "paddingbox",
      "label": "Inner Padding",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "color",
      "id": "iconcolor",
      "label": "Icon Color",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "titlecolor",
      "label": "Title Color",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "subcolor",
      "label": "Subtitle Color",
      "default": "#999999"
    },
    {
      "type": "range",
      "id": "size",
      "min": 14,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Size Icon",
      "default": 50
    },
    {
      "type": "select",
      "id": "service_heading",
      "label": "Heading Item",
      "default": "h5",
      "options": [
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Style",
      "default": "style-2",
      "options": [
        {
          "value": "style-1",
          "label": "Style 1"
        },
        {
          "value": "style-2",
          "label": "Style 2"
        }
      ]
    },
    {
      "type": "header",
      "content": "Carousel "
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "Enable Carousel"
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "icon_item",
      "name": "Icon",
      "settings": [
        {
          "type": "color",
          "id": "bgblock",
          "label": "Background Block"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Heading"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis."
        },
        {
          "type": "select",
          "id": "type_icon",
          "label": "Type Icon",
          "options": [
            {
              "value": "svg",
              "label": "SVG Or Icon"
            },
            {
              "value": "img",
              "label": "Image"
            }
          ],
          "default": "img"
        },
        {
          "type": "textarea",
          "id": "icon",
          "label": "Icon",
          "info": "You use Svg Icon with Source code svg"
        },
        {
          "type": "image_picker",
          "id": "image_icon",
          "label": "Icon Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icons",
      "category": "Image",
      "blocks": [
        {
          "type": "icon_item"
        },
        {
          "type": "icon_item"
        },
        {
          "type": "icon_item"
        },
        {
          "type": "icon_item"
        }
      ]
    }
  ]
}
{% endschema %}