
<!-- image-text-product.liquid -->
{%-liquid
    assign section_image = section.settings.section_image
    assign block_text_color = section.settings.block_text_color
    assign block_text_bg = section.settings.block_text_bg
    assign count = 0
    for block in section.blocks
      assign count = count | plus: 1
    endfor
-%}
<style>
    .customstyle{{ section.id }}{
      --g-gutter:{{ section.settings.gutter_padding }}px;
      --g-hgutter: {{ section.settings.gutter_padding | divided_by: 2 }}px;

      --color-body-text:{{ block_text_color }};
      --g-color-heading:{{ block_text_color }};
      --g-bg-block: {{ block_text_bg.red }}, {{ block_text_bg.green }}, {{ block_text_bg.blue }};
      --g-border-block : {{ block_text_bg | color_darken: 10 }};
      background:{{ section.settings.background }};
    }
    .image-content__image-container video{
    width:100%;
    height:100%;
    object-fit:cover;
    }
    @media(min-width:992px){
      .block-product-img .image-content__image-wrapper{
        padding-top: 0 !important;
      }
      .block-product-img .image-content__image-wrapper img{
        height:100%;
        object-fit:cover;
      }
    }
    
    .block-product-imgtxt{
        padding:5.5rem 5.5rem 5.5rem 5.5rem;
        background-color: rgb(var(--g-bg-block));
    }
    .container .block-product-imgtxt{
      padding:2.8rem;
    }
    .block-product-imgtxt .block-product-imgtxt__item{
        width: 50%;
        flex:0 0 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .block-product-imgtxt .block-product-imgtxt__item:nth-child(odd){
        border-right: 1px solid var(--g-border-block);
        border-bottom: 1px  solid var(--g-border-block);
        padding: 4rem 3rem 4rem 0rem;
    }
    .block-product-imgtxt .block-product-imgtxt__item:nth-child(even){
        border-bottom: 1px solid var(--g-border-block);
        padding: 4rem 0rem 4rem 3rem;
    }
    .block-product-imgtxt .block-product-imgtxt__item:nth-child({{ count | minus: 1 }}),.block-product-imgtxt .block-product-imgtxt__item:last-child{
      border-bottom: transparent;
    }
    {%- assign iwi_bc = section.settings.border_color -%}
    {%- if iwi_bc != blank and iwi_bc != 'rgba(0,0,0,0)' -%}
    {%- if iwi_bc contains 'gradient' -%}
    {%- comment -%} #113: Trennlinien als Gradient - border-image malt ueber die
        validen var-Basis-Borders (gerade Linien, kein Radius); die last-child-
        Regel (style none -> Breite 0) blendet die Bottom-Kante weiter aus. {%- endcomment -%}
    .block-product-imgtxt .block-product-imgtxt__item:nth-child(odd),
    .block-product-imgtxt .block-product-imgtxt__item:nth-child(even){
      border-image: {{ iwi_bc }} 1;
    }
    {%- else -%}
    {%- comment -%} #113: Solid-Override der automatischen Linienfarbe (Var-Route,
        Basisregeln lesen --g-border-block). {%- endcomment -%}
    .block-product-imgtxt .block-product-imgtxt__item{
      --g-border-block: {{ iwi_bc }};
    }
    {%- endif -%}
    {%- endif -%}
    @media(max-width:990px){
      .block-product-imgtxt{
        padding:1.5rem;
      }
      .block-product-imgtxt .block-product-imgtxt__item:nth-child(odd){
        padding: 3rem 1rem 3rem 0rem;
      }
      .block-product-imgtxt .block-product-imgtxt__item:nth-child(even){
        padding: 3rem 0rem 3rem 1rem;
      }
    }

  .c_align_center{
      align-items:center;
    text-align:center;
  }
    .c_align_right{
      align-items:flex-end;
    text-align:right;
  }
      .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  .container .block-product-imgtxt {
    padding: 0;
}
.block-product-imgtxt .block-product-imgtxt__item:nth-child(odd),
.block-product-imgtxt .block-product-imgtxt__item:nth-child(even) {
    padding: 3rem 1rem 3rem 1rem;
}
  }
</style>
{%- render 'style-section' -%}
<div class="customstyle{{ section.id }}" data-aos="{{ section.settings.animation }}" >
  <div class="{{ section.settings.section_width }}">
    <div class="section-block">
      <div class="row">
        <div class="col-lg-6 col-12">
            {%- if section_image != blank -%}
                <noscript>
                  <img src="{{ section_image | image_url: width: 600 }}" alt="{{ section_image.alt }}" class="image-content__image"
                    loading="lazy"
                    width="{{ section_image.width }}"
                    height="{{ section_image.height }}">
                </noscript>
                <div class="image-content__image-container overflow-hidden block-product-img h-100">
                  <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: section_image.aspect_ratio | times: 100 }}%;">
                    {% assign img_url = section_image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
                    <img class="image-content__image scale-in lazyload"
                      src="{{ section_image | image_url: width: 1, height: 1 }}"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                      data-aspectratio="{{ section_image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ section_image.alt | escape }}"
                      loading="lazy"
                      width="{{ section_image.width }}"
                      height="{{ section_image.height }}">
                  </div>
                </div>
              {% elsif section.settings.video_pick != blank %}
                <div class="image-content__image-container overflow-hidden block-product-img h-100">
                      <video width="700" height="auto" playsinline="" muted autoplay id="video" class="" loading="lazy">
                        <source src="{{ section.settings.video_pick }}" type="video/mp4">
                      </video>
                </div>
              {% elsif section.settings.video != blank %}
                <div class="image-content__image-container overflow-hidden block-product-img h-100">
                  {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true }}
                </div>

              {%- else -%}
                {%- capture b1_vid -%}{% render 'brand-video', handle: 'image-with-icons', autoplay: true, loop: true, muted: true, controls: false %}{%- endcapture -%}
                {%- if b1_vid != blank -%}
                <div class="image-content__image-container overflow-hidden block-product-img h-100">{{ b1_vid }}</div>
                {%- else -%}
                {%- capture b1_fb -%}{% render 'brand-image', handle: 'image-with-icons', slot: 1, width: 1500, class: 'image-content__image' %}{%- endcapture -%}
                <div class="image-content__image">
                  {%- if b1_fb != blank -%}{{ b1_fb }}{%- else -%}{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}{%- endif -%}
                </div>
                {%- endif -%}
              {%- endif -%}
        </div>
        <div class="col-lg-6 col-12">
            <div class="block-product-imgtxt d-flex flex-wrap h-100">
                {%- for block in section.blocks -%}
                    {%-liquid
                        assign icon_image = block.settings.icon_image
                        assign block_title = block.settings.block_title
                        assign block_des = block.settings.block_description
                    -%}
                        <div class="block-product-imgtxt__item flex-column c_align_{{ block.settings.alignment }}">
                            {%- if icon_image != blank -%}
                            <img class="mb-3" src="{{ icon_image | image_url: width: 300 }}" style="width:{{ block.settings.icon_width }}px"
                                loading="lazy" width="{{ icon_image.width }}" height="{{ icon_image.height }}" alt="{{ icon_image.alt }}">
                            {%- else -%}
                            {%- assign b1_icon_style = 'width:' | append: block.settings.icon_width | append: 'px' -%}
                            {%- capture b1_fb -%}{% render 'brand-image', handle: 'image-with-icons--text_icon', position: forloop.index, width: 300, class: 'mb-3 scale-in lazyloaded', style: b1_icon_style, alt: block_title %}{%- endcapture -%}
                            {%- if b1_fb != blank -%}{{ b1_fb }}{%- endif -%}
                            {%- endif -%}
                            {%- if block_title != blank -%}
                                <h6 class="mb-3"> {{ block_title }}</h6>
                            {%- endif -%}
                            {%- if block_des != blank -%}
                                <div> {{ block_des }}</div>
                            {%- endif -%}
                        </div>
                {%- endfor -%}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image With 4 Icons",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
     {
        "type": "color_background",
        "id": "background",
        "label": "Background"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "range",
      "id": "gutter_padding",
      "label": "Spacing Column",
      "max": 40,
      "min": 0,
      "step": 1,
      "unit": " px",
      "default": 30
    },
    {
        "type": "header",
        "content": "Block Image"
    },
    {
        "type": "image_picker",
        "id": "section_image",
        "label": "Image"
    },
    {
      "type": "text",
      "id": "video_pick",
      "label": "Video Link"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Or Video"
    },
    {
        "type": "header",
        "content": "Block Text"
      },
      {
        "type": "color",
        "id": "block_text_color",
        "label": "Block Text Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "block_text_bg",
        "label": "Block Text Background",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "border_color",
        "label": "Border Color",
        "info": "Divider lines between the icon fields. Empty = automatic (darkened block background)."
      },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "text_icon",
      "name": "Text Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "icon_width",
          "label": "Icon Width",
          "min":50,
          "max":500,
          "step":10,
          "default":80
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Title",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "block_description",
          "label": "Description",
          "default": "<p>Made of flax, a natural material that won’t irritate sensitive skin</p>"
        },
         {
      "type": "select",
      "id": "alignment",
      "label":"Alignment",
      "default":"center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
         {
          "value": "center",
          "label": "Center"
        },
         {
          "value": "right",
          "label": "Right"
        }
      ]
         }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With 4 Icons",
      "category": "Image",
      "blocks": [
        {
          "type": "text_icon"
        },
        {
          "type": "text_icon"
        },
        {
          "type": "text_icon"
        },
        {
          "type": "text_icon"
        }
      ]
    }
  ]
}
{% endschema %}