<!-- image-content-6.liquid -->
<style>
      .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
  .customstyle{{ section.id }} .rte-setting *{
    color:var(--color);
  }
</style>
<div class="customstyle{{ section.id }}" data-aos="{{ section.settings.animation }}">
    {%- render 'style-section' -%}
  <div class="{{ section.settings.section_width }}">
    <div class="section-block">
      <div class="row {% unless section.settings.enable_padding %} no-gutters {% endunless %}">
        {%- liquid
          case section.settings.size 
            when '50-50' 
              assign flex_size = 'col-md-6' 
              assign flex_size-right = 'col-md-6' 
            when '60-40' 
              assign flex_size = 'col-md-7' 
              assign flex_size-right = 'col-md-5' 
            else 
            assign flex_size = 'col-md-6' 
            assign flex_size-right = 'col-md-6' 
          endcase 
        -%}
        {%- for block in section.blocks -%}
          
            {%- case block.type -%}
              {%- when 'image_block' -%}
                {%- assign b1_pos = b1_pos | plus: 1 -%}
                {%-liquid
                  assign style_content = block.settings.style_content
                -%}
                <div class=" {% if forloop.last %} mb-lg-0{% else %} mb-lg-0 mb-5 {% endif %} flex__item flex {% if section.settings.align_center %}flex--center-vertical{% endif %} {{ flex_size }}" {{ block.shopify_attributes }}>
                <div class="flex__item">
                    <div class="image-content-6 image-content-{{ block.id }} {{ block.settings.e_image }}">
                      <style>
                      {%- if style_content == 'custom' -%}
                          .image-content-6{
                              position: relative;
                          }
                          {%- if block.settings.e_image == 'left' -%}
                          .image-content-{{ block.id }}.left .image-content-6-2{
                              position: absolute;
                              width: {{ block.settings.w_image }}%;
                              top:{{ block.settings.pos_image }}%;
                              left:0;
                              transform: translateY(-50%);
                              z-index:1;
                          }
                          .image-content-{{ block.id }}.left .image-content-6-1{
                              padding-left: 15%;
                          }
                          {%- else -%}
                          .image-content-{{ block.id }}.right .image-content-6-2{
                              position: absolute;
                              width: {{ block.settings.w_image }}%;
                              top:{{ block.settings.pos_image }}%;
                              right:0;
                              transform: translateY(-50%);
                              z-index:1;
                          }
                          .image-content-{{ block.id }}.right .image-content-6-1{
                              padding-right: 15%;
                          }
                          {%- endif -%}
                      {%- else -%}
                        .image-content-6{
                          display:flex;
                          margin: 0 auto;
                        }
                        .image-content-6 .image-content-6-1, .image-content-6 .image-content-6-2{
                          flex: 1 0 50%;
                        }
                        .image-content-6 .image-content-6-1:not(:last-child){
                          position: relative;
                          margin-top: 48px;
                          z-index: 1;
                        }
                        .image-content-6 .image-content-6-2{
                          position: relative;
                          z-index: 0;
                          margin-inline-end: -48px;
                          transform:translate(-48px);
                        }
                      {%- endif -%}
                        {% if block.settings.overlay_opacity > 0 %}
                          #VideoSection--{{ block.id }} .video-section__cover-overlay {
                            background-color: {{ block.settings.overlay_color }};
                            opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
                          }
                        {% endif %}
                       
                      </style>
                    
                        {%- if block.settings.image != blank -%}
                          <div class="image-content-6-1" >
                            <div class="image-content__image-container" data-aos="{{ section.settings.animation }}" data-aos-duration="500">
                                <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                                  {%- assign image = block.settings.image  -%}
                                  <img
                                    srcset="
                                      {%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                                      {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
                                      {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
                                      {%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
                                      {%- if image.width >= 940 -%}{{ image | image_url: width: 940 }} 940w,{%- endif -%}
                                      {%- if image.width >= 1066 -%}{{ image | image_url: width: 1066 }} 1066w,{%- endif -%}
                                      {{ image | image_url }} {{ image.width }}w
                                    "
                                    src="{{ image | image_url: width: 1066 }}"
                                    sizes="(min-width: {{ settings.container }}px) {{ settings.container | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                    alt="{{ image.alt | escape }}"
                                    class="image-content__image lazyload scale-in"
                                    data-sizes="auto"
                                    data-aspectratio="{{ image.aspect_ratio }}"
                                    loading="lazy"
                                    width="{{ image.width }}"
                                    height="{{ image.height }}"
                                  >
                                </div>
                                {%- if block.settings.enable_video -%}
                                <div id="VideoSection--{{ block.id }}" class="video-section" data-section-id="{{ block.id }}" data-section-type="video" data-video-id="{{ block.settings.video_url.id }}" data-video-type="{{ block.settings.video_url.type }}">
                                  <div class="video-section__body-overlay"></div>
                                  <div class="video-section__modal">
                                    <div class="video-wrapper  modal-header ">
                                      <button class="video-section__player-close close">
                                        <span class="visually-hidden">{{ 'video.close' | t }}
                                        </span>
                                        {%- render 'icon-close' -%}
                                      </button>
                                      <div class="video-section__player"></div>
                                    </div>
                                  </div>
                                  <div class="video-section__cover position-static">
                                    <div class="video-section__cover-overlay"></div>
                                    <div class="video-section__cover-content">
                                      <button class="video-section__load-player-button video-section__load-player-button--large">
                                        <span class="visually-hidden">{{ 'video.play' | t }}
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 120 120" class="video-text">
                                          <defs>
                                          <path d="M 60, 60 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0" id="txt-path"></path>
                                          </defs>
                                          <text>
                                          <textPath startOffset="0" xlink:href="#txt-path"> {{ block.settings.circle_caption }}</textPath>
                                          </text>
                                          </svg>
                                        <div class="video-section__load-player-icon">
                                          <div class="video-section__load-player-mark"></div>
                                          <div class="video-section__load-player-button-circle"></div>
                                          <div class="video-section__load-player-button-triangle"></div>
                                        </div>
                                      </button>
                                      <p class="video-section__error hide"></p>
                                    </div>
                                  </div>
                                </div>
                                {%- endif -%}
                            </div>
                            </div>
                          {%- else -%}
                          {%- capture b1_fb -%}{% render 'brand-image', handle: 'image-video-with-text--image_block', position: b1_pos, width: 1066, class: 'image-content__image scale-in lazyloaded' %}{%- endcapture -%}
                          <div class="image-content-6-1" >
                            <div class="image-content__image">
                            {%- if b1_fb != blank -%}{{ b1_fb }}{%- else -%}{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}{%- endif -%}
                            </div>
                          </div>
                        {%- endif -%}
                          <div class="image-content-6-2" >
                            {%- if block.settings.image2 != blank -%}
                          <div class="image-content__image-container image-content-2" data-aos="{{ section.settings.animation }}" data-aos-duration="1000">
                              <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image2.aspect_ratio | times: 100 }}%;">
                              {%- assign image = block.settings.image2  -%}
                              <img
                                srcset="
                                  {%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if image.width >= 940 -%}{{ image | image_url: width: 940 }} 940w,{%- endif -%}
                                  {%- if image.width >= 1066 -%}{{ image | image_url: width: 1066 }} 1066w,{%- endif -%}
                                  {{ image | image_url }} {{ image.width }}w
                                "
                                src="{{ image | image_url: width: 1066 }}"
                                sizes="(min-width: {{ settings.container }}px) {{ settings.container | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="{{ image.alt | escape }}"
                                class="image-content__image lazyload scale-in"
                                data-sizes="auto"
                                data-aspectratio="{{ image.aspect_ratio }}"
                                loading="lazy"
                                width="{{ image.width }}"
                                height="{{ image.height }}"
                              >
                              </div>
                            </div>
                            {%- else -%}
                              <div class="image-content__image">
                              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                              </div>
                        {%- endif -%}
                        </div>
                    </div>
                    
                  
                </div>
              </div>
              {%- when 'text_block' -%}
                <div class="flex__item flex {% if section.settings.align_center %}flex--center-vertical{% endif %} {{ flex_size-right }}" {{ block.shopify_attributes }}>
                <div class="h-100 flex  w-100 {% if section.settings.align_center %}flex--center-vertical{% endif %}" style="background-color:{{ block.settings.bgtext }} ;">
                  <div class="flex__item image-content__text text-{{ block.settings.align }} {% if block.settings.enable_padding_left %} pl-lg-5 {% endif %} {% if block.settings.enable_padding_right %} pr-lg-5 {% endif %}" 
                    style="max-width:500px;">
                    {%- if block.settings.subtitle != blank -%}
                      <div class="subtop mb-3" {% if block.settings.color_subtitle != 'rgba(0,0,0,0)' and block.settings.color_subtitle != blank %}style='--g-font-color-subtop:{{ block.settings.color_subtitle }}'{% endif %}>{{ block.settings.subtitle }}</div>
                    {%- endif -%}
                    {%- if block.settings.title -%}
                      <h2 class="mb-3 {{ block.settings.size_text }}" {% if block.settings.color_title != 'rgba(0,0,0,0)' and block.settings.color_title != blank %}style='--g-color-heading:{{ block.settings.color_title }}'{% endif %}>{{ block.settings.title }}</h2>
                    {%- endif -%}
                    {%- comment -%} #62: Description-Feld (id content) entfernt -
                        rendete DOPPELT zum Text Content (answer_content); der
                        Richtext ist der eine Text-Slot (Operator 18.07.). {%- endcomment -%}
                    {%- if block.settings.answer_content != blank -%}
                    <div class="rte-setting" style='--color:{{ block.settings.color_answer }}'>
                      {{ block.settings.answer_content }}
                    </div>
                    {%- endif -%}
                    {%- if block.settings.button != blank -%}
                      <div class="mt-5 mb-5">
                        <a href="{{ block.settings.link }}" class="btn {{ block.settings.style_btn }}">
                          {{ block.settings.button }}
                        </a>
                      </div>
                      {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endcase -%}
        {%- endfor -%}
      </div>
      {%- if section.blocks.size == 0 -%}
        {%- render 'no-blocks' -%}
      {%- endif -%}
    </div>
  </div>
  </div>
  
  
  {% schema %}
{
  "name": "Image (Video) With Text",
  "class": "index-section",
  "max_blocks": 2,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "select",
      "id": "size",
      "label": "Size Column",
      "default": "50-50",
      "options": [
        {
          "value": "50-50",
          "label": "50% - 50%"
        },
        {
          "value": "60-40",
          "label": "60% - 40%"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_padding",
      "label": "Enable Padding",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "align_center",
      "label": "Align Center",
      "default": true
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Text",
      "settings": [
        {
          "type": "color",
          "id": "bgtext",
          "label": "Background Text Block",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Subtitle"
        },
        {
          "type": "color",
          "id": "color_subtitle",
          "label": "Subtitle Color"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Title Color"
        },
        {
          "type": "select",
          "id": "size_text",
          "default": "h2",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "label": "Heading Size"
        },
        {
          "type": "richtext",
          "id": "answer_content",
          "label": "Text Content",
          "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "color",
          "id": "color_answer",
          "label": "Color Description"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Text",
          "default": "discover now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-underline",
          "options": [
            {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
          ]
        },
        {
          "type": "select",
          "id": "align",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "header",
          "content": "Padding"
        },
        {
          "type": "checkbox",
          "id": "enable_padding_left",
          "label": "Enable Padding Left",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_padding_right",
          "label": "Enable Padding Right",
          "default": false
        }
      ]
    },
    {
      "type": "image_block",
      "name": "Image",
      "settings": [
        {
          "type": "select",
          "id": "style_content",
          "label": "Style",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ],
          "default": "default"
        },
        {
          "type": "header",
          "content": "Style For Customize"
        },
        {
          "type": "range",
          "id": "w_image",
          "label": "Width Image Small",
          "max": 50,
          "min": 10,
          "step": 1,
          "unit": " %",
          "default": 40
        },
        {
          "type": "range",
          "id": "pos_image",
          "label": "Top Position Image Small",
          "max": 100,
          "min": 0,
          "step": 1,
          "unit": " %",
          "default": 50
        },
        {
          "type": "select",
          "id": "e_image",
          "label": "Position Image Small",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image 2"
        },
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "checkbox",
          "id": "enable_video",
          "label": "Enable Video",
          "default": false
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Opacity",
          "default": 30
        },
        {
          "type": "text",
          "id": "circle_caption",
          "label": "Text Circle",
          "default": "Fashion2 style store"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video Link",
          "accept": [
            "youtube",
            "vimeo"
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image (Video) With Text",
      "category": "Videos",
      "blocks": [
        {
          "type": "image_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
  