<!-- image-content.liquid -->
<style>
  .customstyle{{ section.id }}::before{
    position: absolute;
    top:0;
    content: "";
    {%- if section.settings.bg_pos == 'left' -%}
      left:0;
    {%- else -%}
      right:0;
    {%- endif -%}
    width:33%;
    height: {{ section.settings.rangebg }}%;
    background-color: {{ section.settings.bgbefore }};
  }
      .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  .img_text_block{
  overflow:hidden;
  }
  @media(max-width:749px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
    .customstyle{{ section.id }}::before{
      {%- if section.settings.bg_pos == 'left' -%}
        left:0;
        top:0;
        right:0;
        height:33%;
        width:100%;
        bottom:auto;
      {%- else -%}
        right:0;
        left:0;
        top:auto;
        bottom:0;
        height:33%;
        width:100%;
      {%- endif -%}
    }
  }
</style>
<div class="customstyle{{ section.id }} position-relative" >
  {%- render 'style-section' -%}
<div class="{{ section.settings.section_width }}">
  <div class="section-block">
    <div class="row {% unless section.settings.enable_padding %}no-gutters {% endunless %}">
      {%- liquid
        case section.blocks.size 
        when 1 
          assign flex_size = '' 
        when 2 
          assign flex_size = 'col-md-6' 
        when 3 
          assign flex_size = 'col-md-4' 
        else 
          assign flex_size = 'col-md-6' 
      endcase 
      -%}
      <div class="container">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when "heading" %}
              <h3 class="h3 text-{{ section.settings.align_heading }} mb-2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="{{ forloop.index | times : 200 }}">
              <span style="color:{{ block.settings.color }}">{{ block.settings.content }}</span>
              </h3>
            {% when "subheading" %}
            <div class="subtop text-{{ section.settings.align_heading }} text-top mb-2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="{{ forloop.index | times : 200 }}" style="color:{{ block.settings.color }}">{{ block.settings.content }}</div>
            {% endcase %}
        {% endfor %}
      </div>
      {%- for block in section.blocks -%}
        <div class="{% unless forloop.last %} mb-5 mb-lg-0 {% endunless %} flex__item flex {% if section.settings.align_center %}flex--center-vertical{% endif %} {{ flex_size }}" {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'image_block' -%}
              {%- assign b1_pos = b1_pos | plus: 1 -%}
              <div class="flex__item" data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}">
                {%- if block.settings.image != blank -%}
                  <div class="image-content__image-container overflow-hidden">
                    <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                        {%- assign image = block.settings.image  -%}
                        <img
                          srcset="
                            {%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
                            {%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
                            {%- if image.width >= 940 -%}{{ image | image_url: width: 940 }} 940w,{%- endif -%}
                            {%- if image.width >= 1066 -%}{{ image | image_url: width: 1066 }} 1066w,{%- endif -%}
                            {{ image | image_url }} {{ image.width }}w
                          "
                          src="{{ image | image_url: width: 1066 }}"
                          sizes="(min-width: {{ settings.container }}px) {{ settings.container | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                          alt="{{ image.alt | escape }}"
                          class="image-content__image lazyload scale-in"
                          data-sizes="auto"
                          data-aspectratio="{{ image.aspect_ratio }}"
                          loading="lazy"
                          width="{{ image.width }}"
                          height="{{ image.height }}"
                        >
                    </div>
                  </div>
                {%- else -%}
                  {%- capture b1_fb -%}{% render 'brand-image', handle: 'image-with-text--image_block', position: b1_pos, width: 1066, class: 'image-content__image scale-in lazyloaded' %}{%- endcapture -%}
                  <div class="image-content__image">
                    {%- if b1_fb != blank -%}{{ b1_fb }}{%- else -%}{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}{%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            {%- when 'text_block' -%}
              {%- assign text_color = block.settings.title_color -%}
              <div class="img_text_block h-100 flex  w-100 {% if section.settings.align_center %}flex--center-vertical{% endif %} {% if block.settings.enable_padding %} p-3 p-lg-5 {% endif %}" style="background-color:{{ block.settings.bgtext }} ;" data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}">
                <div class="flex__item image-content__text text-{{ block.settings.align }}"  {% if text_color != 'rgba(0,0,0,0)' %}
                  style="--g-font-color-subtop: {{ text_color }};--g-color-heading :  {{ text_color }};--color-body-text : {{ text_color }};--color-body-text-rgb: {{ text_color.red }}, {{ text_color.green }},  {{ text_color.blue }} ;"
                {% endif %} >
                <div class="row justify-content-{{- block.settings.block_align -}}">
                  {%- liquid
                    case block.settings.width 
                    when '50%' 
                      assign block_width = 'col-lg-6 col-12' 
                    when '58%' 
                      assign block_width = 'col-lg-7 col-12 ' 
                    when '66%' 
                      assign block_width = 'col-lg-8 col-12 ' 
                    when '75%' 
                      assign block_width = 'col-lg-9 col-12 ' 
                    when '100%' 
                      assign block_width = 'col-12' 
                  endcase 
                  -%}
                  <div class="{{ block_width }}">
                    {% if block.settings.replace_reviews %}
                        {%- comment -%} #75: align hing an section.settings.align_heading -
                            das Setting existiert in dieser Sektion nicht (leere text-Klasse,
                            Box blieb links). Text Alignment des Blocks ist die Quelle. {%- endcomment -%}
                        {%  render 'rating-custom', section: block , align : block.settings.align %}
                      {% else %}
                    {%- if block.settings.subtitle != blank -%}
                      <div class="subtop mb-3">{{ block.settings.subtitle }}</div>
                    {%- endif -%}
                  {% endif %}
                    {%- if block.settings.title != blank -%}
                    <h3 class="mb-3 {{ block.settings.size_text }} ">{{ block.settings.title }}</h3>
                    {%- endif -%}
                    {%- if block.settings.answer_content != blank -%}
                    {{ block.settings.answer_content }}
                    {%- endif -%}
                    {%- if block.settings.button != blank -%}
                      <div class="mt-5">
                        <a href="{{ block.settings.link }}" class="btn {{ block.settings.style_btn | default: 'btn-theme' }} ">
                          {{ block.settings.button }}
                        </a>
                      </div>
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
    {%- if section.blocks.size == 0 -%}
      {%- render 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
</div>

{% schema %}
{
  "name": "Image With Text",
  "class": "index-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "range",
      "id": "rangebg",
      "label": "Height Sub Background",
      "max": 100,
      "min": 0,
      "step": 10,
      "unit": " %",
      "default": 0
    },
    {
      "type": "color",
      "id": "bgbefore",
      "label": "Sub Background",
      "default": "transparent"
    },
    {
      "type": "select",
      "id": "bg_pos",
      "label": "Position Sub Background",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_padding",
      "label": "Enable Padding",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "align_center",
      "label": "Align Center",
      "default": true
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "content",
          "default": "Heading",
          "label": "Text"
        },
         {
          "type": "color",
          "id": "color",
          "label": "Color"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "content",
          "default": "Subheading",
          "label": "Subheading"
        },
         {
          "type": "color",
          "id": "color",
          "label": "Color"
        }
      ]
    },
    {
      "type": "text_block",
      "name": "Text",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Content Text Column",
          "default": "100%",
          "options": [
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "58%",
              "label": "58%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "color",
          "id": "bgtext",
          "label": "Background Text Block",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Text Color",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Subtitle"
        },
           {
                "type": "checkbox",
                "id": "replace_reviews",
                "label": "Replace Subtitle Top With Review"
              },
               {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
                  {
                "type": "select",
                "id": "reviews_type",
                "label": "Reviews Type",
                "default": "t_1",
                "options": [
                  {
                    "value": "t_1",
                    "label": "Review Type 1"
                  },
                  {
                    "value": "t_2",
                    "label": "Review Type 2"
                  },
                  {
                    "value": "t_3",
                    "label": "Review Type 3"
                  }
                ]
              },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "select",
          "id": "size_text",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "label": "Heading Size"
        },
        {
          "type": "richtext",
          "id": "answer_content",
          "label": "Description",
          "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-theme",
          "options": [
            {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
          ]
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Text",
          "default": "discover now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "checkbox",
          "id": "enable_padding",
          "label": "Enable Padding",
          "default": true
        },
        {
          "type": "select",
          "id": "block_align",
          "label": "Block Alignment",
          "options": [
            {
              "value": "start",
              "label": "Start"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "End"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "align",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "image_block",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With Text",
      "category": "Image",
      "blocks": [
        {
          "type": "image_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
