<!-- instagram-customize.liquid -->
{%-  liquid 
  assign enable_carousel = section.settings.enable_carousel
  case section.settings.image_size 
  when 'square' 
    assign himg = '100%' 
    when 'portrait' 
      assign himg = '120%' 
    when 'wide' 
      assign himg = '56%' 
    when 'landscape' 
      assign himg = '75%' 
  else
    assign himg = '100%' 
  endcase 
-%}
<style>
  .instagramoff-grid{
    display: grid;
    grid-template-columns: repeat({{ section.settings.column }},1fr);
    gap:{{ section.settings.gutter_padding | append: 'px' }};
    margin:0 !important;
  }
  .instagramoff-grid .col{
    padding:0 !important;
  }
  @media(max-width:749px){
    .instagramoff-grid{
      grid-template-columns: repeat(2,1fr);
    }
  }
   .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
</style>
{%- render 'style-section' -%}
<div class="customstyle{{ section.id }}" data-aos="{{ section.settings.animation }}" style="--h-image-insta:{{ himg }};">
  <div class="{{ section.settings.section_width }}">
  <div class="section-block">
    {%- render 'section-heading' -%}
    <div class="instagramoff-wrapper dots-negative">
      <div class="instagramoff-slider mb-0 {% if enable_carousel %} swiper {% else %} instagramoff-grid {% endif %} {% if section.settings.padding == false %} row mx-0 {% else %} row{% endif %}" id="service-list-{{ section.id }}"
           data-rows=""
           data-slidesToShow="{{ section.settings.column }}"
           data-slidestoscroll="1"
           data-arrows="{{ section.settings.arrows }}"
           data-dots="{{ section.settings.dots }}" 
           data-draggable="{{ section.settings.draggable }}" 
           data-infinite="{{ section.settings.infinite }}" 
           data-section-id="{{ section.id }}" 
           data-slidesToShow-mobile="2"
           data-speed="500"
           {%- if enable_carousel -%}
            data-section-type="slickCarousels"
           {%- endif -%}
           >
        {%- if enable_carousel -%}<div class="swiper-wrapper">{%- endif -%}
        {%- for block in section.blocks limit: section.settings.show -%}
          {% case block.type %}
            {% when 'image' %}
            <div class="{% if section.settings.padding == false %} col px-0 {% else %} col {% endif %}  carousel__slide-wrapper--{{ block.id }} {% if enable_carousel %} swiper-slide {% endif %}" {{ block.shopify_attributes }}>
              <div class="position-relative hv-image-brightness instagramoff-item"  data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}" >
                {%- if block.settings.image != blank -%}
                <a  href="{{ block.settings.image_link }}" title="{{ block.settings.image.alt | escape }}" class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                  (min-width: {{ settings.container }}px) {{ settings.container | minus: 100 | divided_by: 2 }}px,(min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                  {%- endcapture -%}
                  {{
                    block.settings.image
                    | image_url: width: 600
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: 'auto', class: "image-content__image lazyload scale-in"
                    }}
                </a>
                {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>
            </div>
           {% when 'video' %}
           <div class="{% if section.settings.padding == false %} col px-0 {% else %} col {% endif %}  carousel__slide-wrapper--{{ block.id }} {% if enable_carousel %} swiper-slide {% endif %}" {{ block.shopify_attributes }}>
            <div class="position-relative hv-image-brightness instagramoff-item instagramoff-itemvideo"  data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}" >
              {%- if block.settings.video != blank -%}
                 <a  href="{{ block.settings.image_link }}" class="d-block">
                {{   block.settings.video | video_tag: autoplay: block.settings.enable_play_video , loop: true, muted: true, controls: false, playsinline: true }}
                </a>
              {%- elsif block.settings.video_url != blank -%}
              <a  href="{{ block.settings.image_link }}" class="d-block">
                <video id="video-insta{{ section.id }}"  loop="" muted="" playsinline="" {% if block.settings.enable_play_video %} autoplay {% else %} preload="none" {% endif %} disablepictureinpicture controlslist="nodownload noplaybackrate"
                {% if block.settings.image_poster != blank %} poster="{{ block.settings.image_poster | image_url: width: 1920 }}" {% endif %}>
                  <source src="{{ block.settings.video_url }}" type="video/mp4">
              </video>
              </a>
              {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
          </div>
              
          {% endcase %}
        
        {%- endfor -%}
        {%- if enable_carousel -%}</div>{%- endif -%}
        {%- if enable_carousel and section.settings.arrows -%}
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        {%- endif -%}
        {%- if enable_carousel and section.settings.dots -%}
        <div class="swiper-pagination"></div>
        {%- endif -%}
      </div>
    </div>
    {%- if section.blocks.size == 0 -%}
    {%- render 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
</div>

{% schema %}
{
  "name": "Instagram Customize",
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Sub Title Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Instagram Customize"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title and Description colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Size Image"
    },
    {
      "type": "select",
      "id": "image_size",
      "options": [
        {
          "value": "portrait",
          "label": "Portrait (2:3)"
        },
        {
          "value": "landscape",
          "label": "Landscape (4:3)"
        },
        {
          "value": "wide",
          "label": "Wide (16:9)"
        },
        {
          "value": "square",
          "label": "Square (1:1)"
        }
      ],
      "default": "portrait",
      "label": "Image Ratio"
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "Enable Carousel",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    },
    {
      "type": "range",
      "id": "column",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Column",
      "default": 6
    },
    {
      "type": "range",
      "id": "show",
      "min": 1,
      "max": 20,
      "step": 1,
      "label": "Show",
      "default": 6
    },
    {
      "type": "checkbox",
      "id": "padding",
      "label": "Enable Padding",
      "default": true
    },
    {
      "type": "range",
      "id": "gutter_padding",
      "label": "Spacing Column",
      "max": 40,
      "min": 0,
      "step": 1,
      "unit": " px",
      "default": 30
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image Link To"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "id": "video_url",
          "type": "text",
          "label": "Link Video"
        },
        {
          "id": "video",
          "type": "video",
          "label": "Video"
        },
        {
          "id": "image_poster",
          "type": "image_picker",
          "label": "Image Poster"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link To"
        },
        {
          "type": "checkbox",
          "id": "enable_play_video",
          "label": "Enable Play",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Instagram Customize",
      "category": "Promotional",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "video"
        },
        {
          "type": "image"
        },
        {
          "type": "video"
        },
        {
          "type": "image"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}