<!-- brand-carousel.liquid -->
<style>
    .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
  .customstyle{{ section.id }} .brand-wrapper{
    position:relative;
  }
  {%  if section.settings.enable_overlay_edges %}
.customstyle{{ section.id }} .opacity_item_brand{
    position: absolute;
    height: 100%;
    width: 100px;
    z-index: 2;
    top:0;
}
{%  else %}
.customstyle{{ section.id }} .opacity_item_brand{
   display:none!important;
}
{% endif %}
.customstyle{{ section.id }} .slick-prev,.customstyle{{ section.id }} .slick-next{
z-index:4
}
{% if section.settings.automatic_sliding %}
.customstyle{{ section.id }} .slick-prev,.customstyle{{ section.id }} .slick-next{
display:none!important;
}
{% endif %}
.customstyle{{ section.id }} .opacity_item_brand.opacity_left{
    left: -15px;
    background: linear-gradient(90deg, {{ section.settings.overlay_color }}, transparent);
}
.customstyle{{ section.id }} .opacity_item_brand.opacity_right{
    right: -15px;
    background: linear-gradient(270deg, {{ section.settings.overlay_color }}, transparent);
}
  .brand-item{
    text-align: center;
  }
  .brand-item a{
    display: inline-block;
  }
  .brand-item a img{
    margin: 0 auto;
  }
  .brand-slider .slick-track{
    display: flex !important;
    align-items: center;
  }
</style>
{%- assign anim_speed = 50 | minus: section.settings.slidescroll | times: 90 | plus: 400 -%}
<div class="customstyle{{ section.id }} " data-aos="{{ section.settings.animation }}" >
  {%- render 'style-section' -%}
  <div class="{{ section.settings.section_width }}">
    <div class="section-block">
      {%- render 'section-heading' -%}
      <div class="brand-wrapper dots-negative">
        <div class="opacity_item_brand opacity_left"></div>
        <div class="brand-slider swiper row mb-0" id="collection-list-{{ section.id }}"
            data-rows="{{ section.settings.rows }}"
            data-slidesToShow="{{ section.settings.slidestoshow }}"
            data-slidestoscroll="1"
            data-arrows="{{ section.settings.arrows }}"
            data-dots="{{ section.settings.dots }}" 
            data-draggable="{{ section.settings.draggable }}" 
            data-infinite="{{ section.settings.infinite }}" 
            data-section-id="{{ section.id }}" 
            data-section-type="slickCarousels"
            
            {% if section.settings.automatic_sliding %}
            data-autoplay="true"
            data-speed="{{ anim_speed }}"     {% comment %} transition duration from 'Animation Speed' setting (higher = faster) {% endcomment %}
            data-autoplayspeed="0" {% comment %} No delay between transitions {% endcomment %}
            data-css-ease="linear" {% comment %} Critical for smooth motion {% endcomment %}
            {%  else %}
              data-speed="500"
            {% endif %}
            data-slidesToShow-mobile = "2">
          <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
          <div class="col brand-item swiper-slide carousel__slide-wrapper--{{ block.id }}" {{ block.shopify_attributes }}>
            <div data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}">
              <div class="image-content__image-container overflow-hidden mx-auto" style="width: {{ section.settings.width_image }}%;">
                <a href="{{ block.settings.link | default: '#' }}" 
                  class="image-content__image-wrapper d-block {% if section.settings.grayscale -%} hv-image-grayscale {% endif %}"
                  title="{{ block.settings.image.alt }}"
                  style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                  {% assign img_url = block.settings.image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
                  {%- if block.settings.image != blank -%}
                  <img class="lazyload scale-in"
                    src="{{ block.settings.image | image_url: width: 1, height: 1 }}" 
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                    data-src="{{ img_url }}" 
                    data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ block.settings.image.alt }}" 
                    loading="lazy"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}">
                  {%- else -%}
                  <div class="image-block__image">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                  {%- endif -%}
                </a>
              </div>
            </div>
          </div>
          {%- endfor -%}
          {% if section.blocks.size < section.settings.slidestoshow %}
            {%- for block in section.blocks -%}
          <div class="col brand-item swiper-slide carousel__slide-wrapper--{{ block.id }}" {{ block.shopify_attributes }}>
            <div data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}">
              <div class="image-content__image-container overflow-hidden mx-auto" style="width: {{ section.settings.width_image }}%;">
                <a href="{{ block.settings.link | default: '#' }}" 
                  class="image-content__image-wrapper d-block {% if section.settings.grayscale -%} hv-image-grayscale {% endif %}"
                  title="{{ block.settings.image.alt }}"
                  style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                  {% assign img_url = block.settings.image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
                  {%- if block.settings.image != blank -%}
                  <img class="lazyload scale-in"
                    src="{{ block.settings.image | image_url: width: 1, height: 1 }}" 
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                    data-src="{{ img_url }}" 
                    data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ block.settings.image.alt }}" 
                    loading="lazy"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}">
                  {%- else -%}
                  <div class="image-block__image">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                  {%- endif -%}
                </a>
              </div>
            </div>
          </div>
          {%- endfor -%}
          {% endif %}
          </div>
          {% if section.settings.arrows %}
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          {% endif %}
          {% if section.settings.dots %}
          <div class="swiper-pagination"></div>
          {% endif %}
        </div>
        <div class="opacity_item_brand opacity_right"></div>
      </div>
      {%- if section.blocks.size == 0 -%}
      {%- render 'no-blocks' -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Logo Carousel",
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Subtitle Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Logo Carousel"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title And Description Colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "checkbox",
      "id": "grayscale",
      "label": "Grayscale Effect",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "automatic_sliding",
      "label": "Automatic Slider",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    },
    {
      "type": "range",
      "id": "width_image",
      "label": "Width Image Of Column",
      "max": 100,
      "min": 20,
      "step": 1,
      "unit": "%",
      "default": 70
    },
    {
      "type": "range",
      "id": "slidestoshow",
      "label": "Show",
      "max": 18,
      "min": 1,
      "step": 1,
      "unit": "lm",
      "default": 5
    },
    {
      "type": "range",
      "id": "slidescroll",
      "label": "Animation Speed",
      "max": 50,
      "min": 1,
      "step": 1,
      "unit": "ste",
      "default": 30
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1 Row"
        },
        {
          "value": "2",
          "label": "2 Rows"
        },
        {
          "value": "3",
          "label": "3 Rows"
        }
      ]
    },
         {
        "type":"checkbox",
        "id":"enable_overlay_edges",
        "label": "Enable Blurry Edges",
        "default":true
    },  
    {
        "type":"color",
        "id":"overlay_color",
        "label": "Blurry Edge Color",
        "default":"#ffffff",
        "info":"Match this to the section’s background color for a seamless blend. For example, if the background is white, set it to white. Use 'Transparent' if you want to avoid blurry edges entirely."
    },  
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Logo Link To"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Carousel",
      "category": "Image",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}