<!-- newsletter.liquid -->
{%- liquid
  assign bg_image = section.settings.image_bg
  assign newletter_color = section.settings.newletter_color
-%}
<style>
  .customstyle{{ section.id }}{
    {% if newletter_color != blank %}
    {%- if newletter_color != 'rgba(0,0,0,0)' or newletter_color != 'transparent' -%}
      --g-color-heading : {{ newletter_color }};
      --g-font-color-subtop: {{ newletter_color }};
      --color-body-text : {{ newletter_color }};
      --color-body-text-rgb : {{ newletter_color.red }}, {{ newletter_color.green }}, {{ newletter_color.blue }};
      {%- endif -%}
    {% endif %}
    position: relative;
    z-index: {{ section.settings.zindex }};
    background-position: {{ section.settings.e_position }} !important;
    background-repeat:{{ section.settings.e_repeat }} !important;
    background-size:{{ section.settings.e_size }} !important;
  }
   .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
  .newsletter-section-{{ section.id }}::before{
      content:"";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: {{ section.settings.bg_overlay }};
      opacity: {{ section.settings.opacity_bg_overlay }};
  }
  {%- if section.settings.background_section != blank and section.settings.background_section != 'rgba(0,0,0,0)' -%}
  {%- comment -%} #116: "Background Color" hatte KEINEN Render-Konsumenten (nur
      Schema) - jetzt als Sektions-Grundfarbe unter Bild/Overlay; "Opacity
      Background" steuert ihre Deckkraft (color_modify-Alpha, Muster #109). {%- endcomment -%}
  .newsletter-section-{{ section.id }}{
    background-color: {{ section.settings.background_section | color_modify: 'alpha', section.settings.opacity_background }};
  }
  {%- endif -%}
  .mail-section .form-group {
    border:1px solid {{ section.settings.colorborder }};
    border-radius:var(--g-input-radius) !important;
  }
  
  .mail-section .form-group svg{
    width: 24px;
    height: 24px;
  }
  .mail-section .form-group input::placeholder{
      color: rgba(var(--color-body-text-rgb),0.6) !important;
  }
  .mail-section .form-group .form-control{
    border:none;
    box-shadow: none;
  }
  .mail-section .form-group .svg-email{
    width: 24px;
    height: 24px;
    fill: var(--g-color-heading);
    color:var(--g-color-heading);
  }
  .mail-section .form-group .btn{
    align-self: stretch;
  }
  .mail-section .form-group .btn .svg-submit{
    width: 24px;
    height: 24px;
    fill: var(--g-color-heading);
  }
  
</style>

<section class="customstyle{{ section.id }} lazyload newsletter-section-{{ section.id }}" 
  data-bgset="{% render 'bgset', image: bg_image %}"
  {%- if bg_image == blank -%}{%- capture b1_bg -%}{% render 'brand-image-src', handle: 'newsletter', slot: 1, width: 1920 %}{%- endcapture -%}{%- if b1_bg != blank %} style="background-image:url('{{ b1_bg }}');background-size:cover;background-position:center"{% endif -%}{%- endif -%}
  data-sizes="auto"
  data-parent-fit="cover" 
  data-section-id="{{ section.id }}"  
  data-aos="{{ section.settings.animation }}"
  data-section-type="newletter-section"  >
  {%- render 'style-section' -%}
  <div class="{{ section.settings.section_width }} text-center">
    {%- assign e_left = false -%}
    <div class="row d-flex justify-content-center">
      <div class="{% if e_left %} col-lg-11 {% else %} col-lg-6 {% endif %}">
        <div class="{% if section.settings.bg_inner %}bg-white {% endif %} px-lg-4 py-4 px-0">
          {%- render 'section-heading' , r_alignement: "center" -%} 
            <div class="form-vertical mail-section  {% if e_left %} col-lg-6 col-12  pt-2 {% else %} mt-n3  {% endif %}">
              {%- form 'customer', id: 'newletter-section' -%}
                {{ form.errors | default_errors }}
                {%- if form.posted_successfully? -%}
                  <p class="form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                {%- else -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <label for="NewsletterEmail-{{ section.id }}" class="label--hidden">{{ 'general.newsletter_form.newsletter_label' | t }}</label>
                  <div class=" form-group text-center input-group mb-0 align-items-center pl-4 pr-2 py-1">
                    {%- render 'icon-email' -%}
                    <input class="form-control" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="NewsletterEmail-{{ block.id }}" autocorrect="off" autocapitalize="off">
                    <button type="submit" class="btn" name="commit">
                      <span class="icon__fallback-text" >{{ 'general.newsletter_form.submit' | t }}</span>
                        <svg class="svg-submit" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.1433 11.6483L10.6733 7.17833L11.8517 6L18.3333 12.4817L11.8517 18.9633L10.6733 17.785L15.1433 13.315H5V11.6483H15.1433Z" />
                        </svg>
                    </button>
                  </div>
                {%- endif -%}
              {%- endform -%}
            </div>
        </div>
      </div>
    </div>
    
    
  </div>
</section>
{% schema %}
{
  "name": "Newsletter",
  "class": "index-section",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color",
      "info": "Base color of the section, visible behind or without the background image."
    },
    {
      "type": "range",
      "id": "opacity_background",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Opacity Background",
      "default": 1
    },
    {
      "type": "color",
      "id": "bg_overlay",
      "label": "Background Overlay",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "opacity_bg_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Opacity Overlay",
      "default": 0
    },
    {
      "type": "color",
      "id": "newletter_color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "colorborder",
      "label": "Border Color Input",
      "default": "#222222"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "e_size",
      "label": "Background Size",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ]
    },
    {
      "type": "select",
      "id": "e_repeat",
      "label": "Background Repeat",
      "default": "no-repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No-Repeat"
        },
        {
          "value": "repeat",
          "label": "Repeat"
        }
      ]
    },
    {
      "type": "select",
      "id": "e_position",
      "label": "Background Position",
      "options": [
        {
          "value": "top left",
          "label": "Top Left"
        },
        {
          "value": "top center",
          "label": "Top Center"
        },
        {
          "value": "top right",
          "label": "Top Right"
        },
        {
          "value": "left center",
          "label": "Left Center"
        },
        {
          "value": "center center",
          "label": "Center Center"
        },
        {
          "value": "center right",
          "label": "Center Right"
        },
        {
          "value": "bottom left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom right",
          "label": "Bottom Right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "checkbox",
      "id": "bg_inner",
      "label": "Background Inner",
      "default": true
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Subtitle Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title Newletters"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Title And Description Colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Forms"
    }
  ]
}
{% endschema %}
