<!-- password-header.liquid -->
<style>
    html,body{
      height:100%;
    }
   
    .template-password{
      --g-bg-pass:{{ section.settings.bg_password }};
      --g-pass:{{ section.settings.color_pass }};
      --g-bg-pass-rgba:{{ section.settings.bg_password.red }}, {{ section.settings.bg_password.green }}, {{ section.settings.bg_password.blue }};
      --g-pass-blur:{{ section.settings.blur_password }}px;
      --g-pass-opacity:{{ section.settings.opacity_password }};
      --color-body-text-rgb: var(--g-pass);
      
      --g-main-2:var(--g-pass);
      position:relative;
      background-color: var(--g-bg-pass);
    }
    
    h1,h2,h3,h4,h5,h6,p,a,.text-white,.password-footer,.social-sharing__link,.social-sharing .share-title,.btn-underline{
      color:var(--g-pass) !important;
    }
    /*.btn-underline{
    border-bottom-color:color:var(--g-pass) !important;
    }*/
    .input-group__field{
      border-radius: var(--g-input-radius)!important;
    }
    .password-modal__content{
      background-color: var(--g-bg-pass);
    }
    .template-password:before{
      content:"";
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-size:cover;
      filter: blur(var(--g-pass-blur));
    -webkit-filter: blur(var(--g-pass-blur));
    {% if section.settings.image_password != blank %}
      background-image:url("{{ section.settings.image_password | image_url: width: 1920 }}");
      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
      {% endif %}
    }
   .template-password .modal{
    background-color: rgba(var(--g-bg-pass-rgba),var(--g-pass-opacity));
    } 
    .template-password:after{
      content:"";
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
       background-color: rgba(var(--g-bg-pass-rgba),var(--g-pass-opacity));
      z-index:1;
    }
    .template-password-page{
      z-index:10;
    }
    .password-page__title{
      border-top:1px solid white;
      border-bottom:1px solid white;
    }
    .social-sharing{
    justify-content:center;
  }
  </style>
<div class="password-logo">
    <h1 class="h4 pb-4" itemscope itemtype="http://schema.org/Organization">
      {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
            <a href="/" itemprop="url" class="site-header__logo-link">
                   {{ section.settings.logo | image_url: width: 400 | image_tag:
                    widths: '50, 100, 150, 200, 250, 300, 400, 500',
                    height: section.settings.logo.height,
                    width: section.settings.logo_max_width,
                    alt: section.settings.logo.alt | default: shop.name
                  }}
            </a>
        {% else %}
            {{ shop.name }}
        {% endif %}
    </h1>
    <h2 class="password-page__title h1 py-4 mb-0">{{ section.settings.header | escape }}</h2>
    <div class="py-3">
    <a href="#LoginModal" class="password-login-link js-modal-open-login-modal text-uppercase d-inline-flex align-items-center small btn btn-underline" style="--g-btn-outline-color:var(--g-pass);">
      {% render 'icon-lock' %} {{ 'general.password_page.password_link' | t }}
    </a>
  </div>
 </div>





{% schema %}
{
  "name": "Header",
  "settings": [
    {
        "type": "image_picker",
        "id": "image_password",
        "label": "Background Image"
      },
      {
        "type": "range",
        "id": "blur_password",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Blur Background Image",
        "default": 8
      },
      {
        "type": "color",
        "id": "bg_password",
        "label": "Background Password Page",
        "default": "#282828"
      },
      {
        "type": "color",
        "id": "color_pass",
        "label": "Color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "opacity_password",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "unit": "px",
        "label": "Opacity Overlay",
        "default": 0.4
      }, 
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "default": "100"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
    }
  ]
}
{% endschema %}
