<!-- product-tab-2.liquid  -->
<style>
   .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
  @media (min-width:750px){
    .p-tabsplit .prdtab-content .image-split{
      padding-top:0 !important;
    }
  }
  .p-tabsplit .prdtab-content .image-split img{
   height:100%;
   object-fit:cover;
  }
  .p-tabsplit-right{
    row-gap:24px;
  }
  .p-tabsplit-right .product-card__info{
    padding:16px 0 0 0;
    margin-bottom:0;
  }
  .p-tabsplit-right .product-card--style2, .p-tabsplit-right .product-card--style3 {
    margin-bottom:0;
  }
  .p-tabsplit-right .product-card--style8{
    margin-bottom:6px;
  }
  @media (max-width: 991px){
    .p-tabsplit-right .product-card__info{
      padding: 8px 0 0 0;
    }
  }
  .p-tab2--text{
    padding:40px;
    background:rgba(var(--tab-overlay),var(--tab-opacity));
  }
</style>
<div class="customstyle{{ section.id }} p-tab2 p-tabsplit"  data-aos="{{ section.settings.animation }} ">
  {%- render 'style-section' -%}
  <div class="{{ section.settings.setwidth }}">
    <div class="section-block">
     
      <div id="producttabs-{{ section.id }}" data-section-id="{{ section.id }}" >
          <div class="row mb-3 align-items-center">
              <div class="col-lg-6 col-12 text-left">
                {%- if section.settings.title != blank -%}
                  <h3 class="{{ settings.size_text_heading }} mb-3">
                    <span>{{ section.settings.title }}</span>
                  </h3>
                  {%- endif -%}
              </div>
              <div class="col-lg-6 col-12 d-flex justify-content-lg-end">
                  <ul class="nav nav-tabs nav-tabs-1 mt-n3 mb-4 font-weight-bold text-right" role="tablist">
                      {%- for block in section.blocks -%}
                      <li class="nav-item">
                        <a class="nav-link nav-link-{{ block.id }} {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#prdtab2-{{block.id}}" role="tab" {{ block.shopify_attributes }}>
                          {{ block.settings.title }}
                        </a>
                      </li>
                      {%- endfor -%}
                  </ul>
              </div>
          </div>

        <div class="tab-content">
          {%- for block in section.blocks -%}
          {%- assign collection = collections[block.settings.collection] -%}
          {%- assign limit = section.settings.limit -%}
          <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="prdtab2-{{ block.id }}" role="tabpanel">
            <div class="prdtab-content row {% if section.settings.enable_reverse %} flex-row-reverse {% endif %}">
              {%- if collection != blank -%}
                  <div class="col-lg-6 col-12 mb-lg-0 mb-4">
                      {%- if block.settings.image != blank -%}
                      <div class="image-content__image-container h-100 overflow-hidden">
                          <div class="image-content__image-wrapper h-100 image-split" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                              {% assign image = block.settings.image  %}
                                  <img
                                    srcset="
                                      {%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                                      {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
                                      {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
                                      {%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
                                      {%- if image.width >= 940 -%}{{ image | image_url: width: 940 }} 940w,{%- endif -%}
                                      {%- if image.width >= 1066 -%}{{ image | image_url: width: 1066 }} 1066w,{%- endif -%}
                                      {{ image | image_url }} {{ image.width }}w
                                    "
                                    src="{{ image | image_url: width: 720 }}"
                                    sizes="(min-width: {{ settings.container }}px) {{ settings.container | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                    alt="{{ image.alt | escape }}"
                                    class="image-content__image lazyload scale-in"
                                    data-sizes="auto"
                                    data-aspectratio="{{ image.aspect_ratio }}"
                                    loading="lazy"
                                    width="{{ image.width }}"
                                    height="{{ image.height }}"
                                  >
                              {%- if block.settings.title != blank -%}
                                {%-liquid
                                  assign position_text = block.settings.position_text
                                  assign opacity_bgbox = block.settings.opacity_bgbox
                                  assign bg_overlay = block.settings.bg_overlay
                                  case position_text
                                    when 'top-left'
                                    assign positiontxt = 'align-items-start justify-content-start'
                                    when 'top-center'
                                    assign positiontxt = 'align-items-start justify-content-center text-center'
                                    when 'top-right'
                                    assign positiontxt = 'align-items-start justify-content-end text-right'
                                    when 'mid-left'
                                    assign positiontxt = 'align-items-center justify-content-start'
                                    when 'mid-center'
                                    assign positiontxt = 'align-items-center justify-content-center text-center'
                                    when 'mid-right'
                                    assign positiontxt = 'align-items-center justify-content-end text-right'
                                    when 'bot-left'
                                    assign positiontxt = 'align-items-end justify-content-start'
                                    when 'bot-center'
                                    assign positiontxt = 'align-items-end justify-content-center text-center'
                                    when 'bot-right'
                                    assign positiontxt = 'align-items-end justify-content-end text-right'
                                    else 
                                    assign positiontxt = 'align-items-end justify-content-start'
                                  endcase
                                -%}
                                  <div class="position-absolute p-tab2--text {{ positiontxt }} w-100 d-flex" 
                                    style="--tab-opacity:{{ opacity_bgbox | divided_by: 100.0 }}; --tab-overlay:{{ bg_overlay.red }}, {{ bg_overlay.green }}, {{ bg_overlay.blue }};">
                                      <div>
                                        <h3 style="--g-color-heading:{{ block.settings.colortabimage }}"><a href="{{ collection.url }}" style="color:{{ block.settings.colortabimage }}">{{ block.settings.title }}</a></h3>
                                        <a href="{{ collection.url }}" style="color:{{ block.settings.colortabimage }}">{{ collection.products_count | default: 0 }} {{ collection.products_count | pluralize: 'product', 'products' }}</a>
                                        {%- if block.settings.button != blank -%}
                                          <div class="mt-3">
                                            <a style="color:{{ block.settings.colortabimage }}" href="{{ block.settings.link }}" class="btn {{ block.settings.style_btn }}">
                                              {{ block.settings.button | escape }}
                                            </a>
                                          </div>
                                        {%- endif -%}  
                                      </div>
                                    </div>
                                  
                              {%- endif -%}
                          </div>
                      </div>
                      {%- else -%}
                          <div class="image-content__image">
                              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                      {%- endif -%}
                  </div>
                  <div class="col-lg-6 col-12">
                      <div class="row p-tabsplit-right">
                          {%- for product in collection.products limit: limit -%}
                              <div class="col-6">
                                  <div class="producttab-item " data-scroll data-scroll-speed="1">
                                      {%- render 'product-card', product: product -%}
                                  </div>
                              </div>
                          {%- endfor -%}
                      </div>
                  </div>
                  
              {%- else -%}
                  <div class="col-lg-6 col-12 mb-lg-0 mb-4">
                      {%- if block.settings.image == blank -%}
                      <div class="image-content__image">
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                      {%- endif -%}
                  </div>
                  <div class="col-lg-6 col-12">
                      <div class="row p-tabsplit-right">
                          {%- for i in (1..limit) -%}
                              <div class="col-6">
                                  <div class="producttab-item">
                                      {%- render 'product-grid-blank' -%}
                                  </div>
                              </div>
                          {%- endfor -%}
                      </div>
                  </div>
                  
              {%- endif -%}
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Product tab split",
  "class": "index-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Feft"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "bgsection",
      "label": "Background Section"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Product tab"
    },
    {
      "type": "range",
      "id": "limit",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Limit items",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "enable_reverse",
      "label": "Enable Reverse",
      "default": false
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title tab"
        },
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button text",
          "default": "discover now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-underline btn-underline-white",
          "options": [
            {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "colortabimage",
          "label": "Color Text on Image",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "bg_overlay",
          "label": "Background Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "opacity_bgbox",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Opacity Overlay",
          "default": 0
        },
        {
          "type": "select",
          "id": "position_text",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "mid-left",
              "label": "Midle Left "
            },
            {
              "value": "mid-center",
              "label": "Midle Center "
            },
            {
              "value": "mid-right",
              "label": "Midle Right "
            },
            {
              "value": "bot-left",
              "label": "Bottom Left "
            },
            {
              "value": "bot-center",
              "label": "Bottom Center "
            },
            {
              "value": "bot-right",
              "label": "Bottom Right "
            }
          ],
          "default": "mid-center",
          "label": "Text Position"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product tab split",
      "category": "Products & Collections",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}