<!-- product-with-image.liquid  -->
<style>
   .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
    .product-image{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        column-gap: var(--g-gutter);
        row-gap:var(--g-gutter) ;
    }
    @media (min-width:750px){
        {%- if section.settings.enable_reverse -%}
          .customstyle{{ section.id }} .product-image{
            grid-template-columns: 1fr repeat(1, var(--width-banner));
        }
        .customstyle{{ section.id }} .product-image__item {
          order:1;
        }
        {%- else -%}
          .customstyle{{ section.id }} .product-image{
            grid-template-columns: var(--width-banner) repeat(1, 1fr);
          }
        {%- endif -%}
        
    }
    .product-image__item .image-content__image-wrapper img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (max-width:749px){
        .product-image__item .image-content__image-container{
            min-height: 400px;
        }
    }
    .product-image__product .row{
        row-gap:var(--g-gutter) ;
    }
    .product-image__banner{
        --bg-overlay-rgba:0,0,0;
        --bg-opacity:0;
        width: 100%;
        top:0;
        left:0;
        height: 100%;
        padding: 2.5rem;
        background-color: rgba(var( --bg-overlay-rgba),var(--bg-opacity));
    }
    .product-video__banner{
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
</style>
<div class="customstyle{{ section.id }}"  data-aos="{{ section.settings.animation }} " style="--width-banner:{{ section.settings.width_banner | append: '%' }};">
  {%- render 'style-section' -%}
  <div class="{{ section.settings.section_width }}">
    <div class="section-block">
        {%- render 'section-heading' -%}
<div class="product-image {% if section.settings.pos_image == 'left_small' %} image_left_small {% elsif section.settings.pos_image == 'right_small' %} image_right_small  {% endif %}" data-aos="{{ section.settings.animation }}"  data-aos-delay="100">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'banner' -%}
                        {%- assign b1_pos = b1_pos | plus: 1 -%}
                    <div class="product-image__item ">
                         {%- liquid 
                            assign text_color = block.settings.colortabimage 
                            assign pos_banner = block.settings.pos_banner
                            case pos_banner
                            when 'top-left'
                            assign positiontxt = 'align-items-start justify-content-start'
                            when 'top-center'
                            assign positiontxt = 'align-items-start justify-content-center text-center'
                            when 'top-right'
                            assign positiontxt = 'align-items-start justify-content-end text-right'
                            when 'mid-left'
                            assign positiontxt = 'align-items-center justify-content-start'
                            when 'mid-center'
                            assign positiontxt = 'align-items-center justify-content-center text-center'
                            when 'mid-right'
                            assign positiontxt = 'align-items-center justify-content-end text-right'
                            when 'bot-left'
                            assign positiontxt = 'align-items-end justify-content-start'
                            when 'bot-center'
                            assign positiontxt = 'align-items-end justify-content-center text-center'
                            when 'bot-right'
                            assign positiontxt = 'align-items-end justify-content-end text-right'
                            else 
                            assign positiontxt = 'align-items-end justify-content-start'
                        endcase
                         -%}
                       
                      <div class="image-content__image-container h-100 overflow-hidden">
                        {%- if block.settings.image != blank -%}
                          <div class="image-content__image-wrapper h-100" >
                              {% assign img_url = block.settings.image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
                              <img class="image-content__image lazyload scale-in"
                                  src="{{ block.settings.image | image_url: width: 720 }}"
                                  data-src="{{ img_url }}"
                                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                                  data-sizes="auto"
                                  alt="{{ block.settings.image.alt | escape }}"
                                  loading="lazy"
                                  width="{{ block.settings.image.width }}"
                                  height="{{ block.settings.image.height }}"> 
                          </div>
                          {%- else -%}
                            {%- capture b1_fb -%}{% render 'brand-image', handle: 'product-with-image--banner', position: b1_pos, width: 1080, class: 'image-content__image scale-in lazyloaded' %}{%- endcapture -%}
                            <div class="image-content__image h-100 ">
                                {%- if b1_fb != blank -%}{{ b1_fb }}{%- else -%}{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}{%- endif -%}
                            </div>
                        {%- endif -%}
                        {%- if block.settings.video_link != blank -%}
                            {{ block.settings.video_link | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true, class: "product-video__banner  position-absolute" }}
                          {%- elsif block.settings.video != blank -%}
                            <video class="product-video__banner  position-absolute" id="Mp4{{ section.id }}"  loop="" muted="" playsinline="" autoplay="" >
                                <source src="{{ block.settings.video }}" type="video/mp4">
                            </video>
                        {%- endif -%}
                            <div class="product-image__banner position-absolute d-flex {{ positiontxt }}" style="
                                    --bg-overlay-rgba: {{ block.settings.bg_overlay_color.red }}, {{ block.settings.bg_overlay_color.green }}, {{ block.settings.bg_overlay_color.blue }};
                                    --bg-opacity: {{ block.settings.bg_opacity }};
                                    {%- if text_color != 'transparent' -%}
                                    --g-font-color-subtop: {{ text_color }};
                                    --g-color-heading :  {{ text_color }};
                                    --color-body-text : {{ text_color }};
                                    --color-body-text-rgb: {{ text_color.red }}, {{ text_color.green }},  {{ text_color.blue }} ;
                                {%- endif -%} ">
                                    <div  class="product-image__banner_in">
                                        {%- if block.settings.subtitle != blank -%}
                                            <div class="subtop mb-3">{{ block.settings.subtitle }}</div>
                                        {%- endif -%}
                                        {%- if block.settings.title != blank -%}
                                        <h3 class="mb-2 {{ block.settings.size_text }}"><a href="{{ block.settings.link }}" >{{ block.settings.title }}</a></h3>
                                        {%- endif -%}
                                        {%- if block.settings.description_body != blank -%}
                                            <div class="rte mb-3 txt-body">
                                            {{ block.settings.description_body }}
                                            </div>
                                        {%- endif -%}
                                    {%- if block.settings.button != blank and block.settings.link != blank -%}
                                        <div class="pt-3">
                                            <a href="{{ block.settings.link }}" class="btn {{ block.settings.style_btn }}">
                                            {{ block.settings.button | escape }}
                                            </a>
                                        </div>
                                        {%- endif -%}
                                    </div>
                            </div>
                            
                      </div>
                      
                    </div>
                    {%- when 'product' -%}
                        {%- liquid
                            assign limit = block.settings.limit
                            assign product_list = block.settings.product_list
                            case block.settings.column
                            when '1'
                              assign column = 'col-lg-12 col-6'
                            when '2'
                              assign column = 'col-lg-6 col-6'
                            when '3'
                              assign column = 'col-lg-4 col-6'
                            when '4'
                              assign column = 'col-lg-3 col-6'
                            else
                              assign column = 'col-lg-3 col-6'
                          endcase
                        -%}
                       
                        <div class="product-image__product">
                            <div class="row">
                                {%- if product_list != blank -%}
                                {%- for product in product_list limit: limit -%}
                                    <div class="{{ column }}" data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}" >
                                        <div class="product-image__card h-100" >
                                            {%- render 'product-card', product: product -%}
                                        </div>
                                    </div>
                                {%- endfor -%}
                                {%- else -%}
                                {%- for i in (1..limit) -%}
                                    <div class="col-6" data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}">
                                      {%- render 'product-grid-blank' -%}
                                    </div>
                                    {%- endfor -%}
                                {%- endif -%}
                            </div>
                        </div>
                {%- endcase -%}
            {%- endfor -%}
        </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Grid Image",
  "class": "index-section",
  "max_blocks": 2,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Subtitle Top"
    },
    {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
      {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Product list"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title And Description Colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "checkbox",
      "id": "enable_reverse",
      "label": "Reverse Banner",
      "default": false
    },
    {
      "type": "range",
      "id": "width_banner",
      "label": "Size Banner",
      "min": 20,
      "max": 70,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product_list",
          "id": "product_list",
          "limit": 6,
          "label": "Product List"
        },
        {
          "type": "select",
          "id": "column",
          "label": "Columns",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            }
          ]
        },
        {
          "type": "range",
          "id": "limit",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "Limit Items",
          "default": 4
        }
      ]
    },
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Subtitle"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title Banner"
        },
        {
          "type": "select",
          "id": "size_text",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "label": "Heading Size"
        },
        {
          "type": "textarea",
          "id": "description_body",
          "label": "Subtitle",
          "default": "Protection from the"
        },
        {
          "type": "select",
          "id": "pos_banner",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "mid-left",
              "label": "Middle Left"
            },
            {
              "value": "mid-center",
              "label": "Middle Center"
            },
            {
              "value": "mid-right",
              "label": "Middle Right"
            },
            {
              "value": "bot-left",
              "label": "Bottom Left"
            },
            {
              "value": "bot-center",
              "label": "Bottom Center"
            },
            {
              "value": "bot-right",
              "label": "Bottom Right"
            }
          ],
          "default": "mid-center",
          "label": "Text Position"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Text 1",
          "default": "discover now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link 1"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button 1",
          "default": "btn-underline btn-underline-white",
          "options": [
            {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video_link",
          "label": "Video"
        },
        {
          "type": "textarea",
          "id": "video",
          "label": "Link Video"
        },
        {
          "type": "color",
          "id": "colortabimage",
          "label": "Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "bg_overlay_color",
          "label": "Overlay Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "bg_opacity",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "unit": "op",
          "label": "Image Overlay Opacity",
          "default": 0.2
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Grid Image",
      "category": "Products & Collections",
      "blocks": [
        {
          "type": "banner"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}