<!-- quotes.liquid -->
{%-liquid
  assign text_color = section.settings.title_color
-%}
<style>
  .customstyle{{ section.id }}{
    background-position:center !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
    {% if text_color != 'transparent' and text_color != 'rgba(0,0,0,0)' %}
    --g-font-color-subtop: {{ text_color }};
    --g-color-heading :  {{ text_color }};
    --g-color-heading-rgb:{{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --color-body-text : {{ text_color }};
    --color-body-text-rgb: {{ text_color.red }}, {{ text_color.green }},  {{ text_color.blue }} ;
  {% endif %}
  }
  
    .customstyle{{ section.id }} .quote-wrap{
      {% if section.settings.enable_padding_inner %}
        padding: 2.5rem;
      {% else %}
        padding: 0;
      {% endif %}
    }
   .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
  @media (min-width:750px){
    .customstyle{{ section.id }} .quote-wrap{
      width:{{ section.settings.widthcolumn }}%;
    }
  }
  .customstyle{{ section.id }} .rating li.rated svg{
    fill: {{ section.settings.color_rated }};
  }
</style>
<quotes-section class="d-block customstyle{{ section.id }} {% if section.settings.image_bg != blank %} lazyload {% endif %}" 
data-aos="{{ section.settings.animation }}" 
style="{% if section.settings.image_bg != blank %}background-image:url({{ section.settings.image_bg | image_url: width: 1, height: 1 }}){% endif %}"
data-bgset="{% render 'bgset', image: section.settings.image_bg %}" loading="lazy">
  {%- render 'style-section' -%}
<div class="{{ section.settings.section_width }}">
  <div class="section-block">
    {%- render 'section-heading' -%}
    {%- if section.blocks.size > 0 -%}
    <div class="quotes-wrapper dots-negative " > 
      <div class="quotes-slider row swiper" id="Quotes-{{ section.id }}"
           data-rows="1"
           data-slidesToShow="{{ section.settings.show }}"
           data-slidestoscroll="{{ section.settings.show }}"
           data-arrows="{{ section.settings.arrows }}"
           data-dots="{{ section.settings.dots }}"
           data-draggable="{{ section.settings.draggable }}"
           data-infinite="{{ section.settings.infinite }}"
           data-section-id="{{ section.id }}"
           data-section-type="slickCarousels">
        <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
        <div class="quote__slide-wrapper carousel__slide-wrapper--{{ block.id }} swiper-slide" {{ block.shopify_attributes }}>
          {%- liquid
            assign style = section.settings.style
            assign title = block.settings.title
            assign quote = block.settings.quote
            assign rate = block.settings.rate
            assign avatar = block.settings.avatar
            assign author = block.settings.author
            assign info = block.settings.info
            assign bg_item = section.settings.bg_item
            assign size_text = section.settings.size_text
            assign aligntext = section.settings.aligntext

            case style
            when 'style-1'
            render 'quote-style-1', title: title, quote: quote, rate: rate, avatar: avatar, author: author, info: info, bg_item: bg_item, size_text: size_text, aligntext: aligntext, b1_handle: 'quotes--quote', b1_position: forloop.index
            when 'style-2'
            render 'quote-style-2', title: title, quote: quote, rate: rate, avatar: avatar, author: author, info: info, bg_item: bg_item, size_text: size_text, aligntext: aligntext, b1_handle: 'quotes--quote', b1_position: forloop.index
            endcase
          -%}

        </div>
        {%- endfor -%}
        </div>
        {%- if section.settings.arrows -%}
        <div class="swiper-button-prev"></div><div class="swiper-button-next"></div>
        {%- endif -%}
        {%- if section.settings.dots -%}
        <div class="swiper-pagination"></div>
        {%- endif -%}
      </div>
    </div>
    {%- endif -%}

    {%- if section.blocks.size == 0 -%}
    {%- render 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
</quotes-section >

{% schema %}
{
  "name": "Testimonials",
  "class": "index-section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Section"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Text Color",
      "default": "transparent"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Customer reviews"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default":"We are very furtunate to have formed excellent partnerships with many of our clients."
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Align Heading",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title And Description Colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "Item"
    },
    {
      "type": "select",
      "id": "aligntext",
      "label": "Text Align",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "style",
      "label": "Style Testimonial",
      "default": "style-1",
      "options": [
        {
          "value": "style-1",
          "label": "Style - 1"
        },
        {
          "value": "style-2",
          "label": "Style - 2"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_rate",
      "label": "Color Rate",
      "default": "#f1f1f1"
    },
    {
      "type": "color",
      "id": "color_rated",
      "label": "Color Rated",
      "default": "#ffd900"
    },
    {
      "type": "select",
      "id": "size_text",
      "default": "txt-body",
      "options": [
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "txt-body",
          "label": "Body"
        }
      ],
      "label": "Text Size"
    },
    {
      "type": "color",
      "id": "bg_item",
      "label": "Background Item",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "widthcolumn",
      "min": 50,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Width Of Column",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "enable_padding_inner",
      "label": "Enable Padding Inner",
      "default": true
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "range",
      "id": "show",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Show",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Quote",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Comment",
          "default": "Comment"
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author's name"
        },
        {
          "type": "text",
          "id": "info",
          "label": "Author's Info"
        },
        {
          "type": "range",
          "id": "rate",
          "min": 0,
          "max": 5,
          "step": 1,
          "label": "Rating",
          "default": 5
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": "Text",
          "default": "Add customer reviews and testimonials to showcase your store’s happy customers."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Testimonials/Reviews",
      "blocks": [
        {
          "type": "quote",
          "settings":{
          "title":"Perfect !",
          "avatar":"",
          "author":"John Doe",
          "info":"Verified Review",
          "rate":5,
          "quote":"I love this product. It delivers excellent quality, reliable performance, and great value, exceeding expectations consistently while being easy to use and worth every cent."
          }
        },
        {
          "type": "quote",
          "settings":{
          "title":"Amazing!",
          "avatar":"",
          "author":"John Doe",
          "info":"Verified Review",
          "rate":5,
          "quote":"I love this product. It delivers excellent quality, reliable performance, and great value, exceeding expectations consistently while being easy to use and worth every cent."
          }
        },
        {
          "type": "quote",
          "settings":{
          "title":"Awesome !",
          "avatar":"",
          "author":"John Doe",
          "info":"Verified Review",
          "rate":5,
          "quote":"I love this product. It delivers excellent quality, reliable performance, and great value, exceeding expectations consistently while being easy to use and worth every cent."
          }
        }
      ]
    }
  ]
}
{% endschema %}
