<!-- quotes.liquid -->
<style>
  .customstyle{{ section.id }}{
    background-position:center !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
  }
   .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  .quote__slide-wrapper-first .quote__slide{
    background:var(--f-bg);
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
  .quotes-wrapper-square .slick-prev,
  .quotes-wrapper-square .swiper-button-prev{
    left:-5px;
  }
  .quotes-wrapper-square .slick-next,
  .quotes-wrapper-square .swiper-button-next{
    right:-5px;
  }
</style>
<quotes-section class="d-block customstyle{{ section.id }} {% if section.settings.image_bg != blank %} lazyload {% endif %}" 
data-aos="{{ section.settings.animation }}" 
style="{% if section.settings.image_bg != blank %}background-image:url({{ section.settings.image_bg | image_url: width: 1, height: 1 }}){% endif %}"
data-bgset="{% render 'bgset', image: section.settings.image_bg %}" loading="lazy">
  {%- render 'style-section' -%}
<div class="{{ section.settings.setwidth }}">
  <div class="section-block">
    {%- render 'section-heading' -%}
    {%- if section.blocks.size > 0 -%}
    <div class="quotes-wrapper dots-negative quotes-wrapper-square" > 
      <div class="quotes-slider swiper row" id="Quotes-{{ section.id }}"
           data-rows="1"
           data-slidesToShow="{{ section.settings.show }}"
           data-slidestoscroll="{{ section.settings.show }}"
           data-arrows="{{ section.settings.arrows }}"
           data-dots="{{ section.settings.dots }}" 
           data-draggable="{{ section.settings.draggable }}" 
           data-infinite="{{ section.settings.infinite }}" 
           data-section-id="{{ section.id }}" 
           data-section-type="slickCarousels">
           <div class="swiper-wrapper">
           <div class="quote__slide-wrapper swiper-slide carousel__slide-wrapper--{{ block.id }} quote__slide-wrapper-first" {{ block.shopify_attributes }}
            style="
            {% if section.settings.f_bg != blank %}
            --f-bg:{{ section.settings.f_bg }};
            {% else %}
            --f-bg:{{ settings.branding_color }};
            {% endif %}
            --g-color-heading:{{ section.settings.f_color }};
            --color-body-text:{{ section.settings.f_color }};"
          >
            <div class="d-flex  quote__slide quote__style_1 text-left ">
                <div class="quote-wrap"  style="">
                {%- if section.settings.f_title != blank -%}
                    <h5 class="mb-3">{{ section.settings.f_title }}</h5>
                {%- endif -%}
                {%- if section.settings.first_description != blank -%}
                    <div class="text-body">{{ section.settings.first_description }}</div>
                {%- endif -%}
                </div>
            </div>
           </div>
        {%- for block in section.blocks -%}
        <div class="quote__slide-wrapper swiper-slide carousel__slide-wrapper--{{ block.id }}" {{ block.shopify_attributes }}
            style="
            --g-quote-square:{{ section.settings.border_item }}; 
            --g-rate:{{ section.settings.color_rated }};
            {%- if section.settings.color_item != 'rgba(0,0,0,0)' -%}
            --color-body-text:{{ section.settings.color_item }};
            --g-color-heading : {{ section.settings.color_item }};
            --color-body-text-rgb: {{ section.settings.color_item.red }}, {{ section.settings.color_item.green }}, {{ section.settings.color_item.blue }};
            {%- endif -%}"
          >
          {%- liquid
            assign quote = block.settings.quote
            assign rate = block.settings.rate
            assign avatar = block.settings.avatar
            assign author = block.settings.author_caption
            assign info = block.settings.author_info_caption
            assign bg_item = section.settings.bg_item
            assign size_text = section.settings.size_text
            assign aligntext = section.settings.aligntext
          -%}
          {% render 'quote-style-3', quote: quote, rate: rate, avatar: avatar, author: author, info: info, bg_item: bg_item, size_text: size_text, aligntext: aligntext %}
          
        </div>
        {%- endfor -%}
        </div>
        {%- if section.settings.arrows -%}
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        {%- endif -%}
        {%- if section.settings.dots -%}
        <div class="swiper-pagination"></div>
        {%- endif -%}
      </div>
    </div>
    {%- endif -%}

    {%- if section.blocks.size == 0 -%}
    {%- render 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
</quotes-section >

{% schema %}
{
  "name": "Testimonials Square",
  "class": "index-section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Sub Title Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
      {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "User reviews"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title and Description colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "header",
      "content": "First Block"
    },
    {
      "type": "text",
      "id": "f_title",
      "label": "Title First Block",
      "default": "We let our customers speak for themselves."
    },
    {
      "type": "textarea",
      "id": "first_description",
      "label": "Des First Block",
      "default": "4.98 average<br>213 reviews"
    },
    {
      "type": "color_background",
      "id": "f_bg",
      "label": "Background First Block",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "f_color",
      "label": "Color First Block",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Item"
    },
    {
      "type": "color",
      "id": "bg_item",
      "label": "Background Item",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "border_item",
      "label": "Border Item",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_item",
      "label": "Color Item",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_rate",
      "label": "Color Rate",
      "default": "#f1f1f1"
    },
    {
      "type": "color",
      "id": "color_rated",
      "label": "Color Rated",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "aligntext",
      "label": "Text Align",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "size_text",
      "default": "txt-body",
      "options": [
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "txt-body",
          "label": "Body"
        }
      ],
      "label": "Text Size"
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "range",
      "id": "show",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Show",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Quote",
      "settings": [
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "author_caption",
          "label": "Author",
          "default": "Author's name"
        },
        {
          "type": "text",
          "id": "author_info_caption",
          "label": "Author'S Info"
        },
        {
          "type": "range",
          "id": "rate",
          "min": 0,
          "max": 5,
          "step": 1,
          "label": "Rating",
          "default": 5
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": "Text",
          "default": "Add customer reviews and testimonials to showcase your store’s happy customers."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials Square",
      "category": "Testimonials/Reviews",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
