<style>
  .review-slider-is-{{ section.id }}{
    background:{{ section.settings.background }};
     padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
    {% if section.settings.h_s_color != blank %}
      {% if section.settings.h_s_color != "rgba(0,0,0,0)" %}
    --g-color-heading:{{ section.settings.h_s_color   }};
    --g-font-color-subtop:{{ section.settings.h_s_color   }};
      {% endif %}
    {% endif %}
  }

  .c_testimonial-header-r {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
  .justify-left{
    justify-content:flex-start;
  }
  .justify-center{
    justify-content:center;
  }
    .justify-right{
    justify-content:flex-end;
  }
 .c_testimonial-header-r span{
   font-size:14px;
 } 
  .c_testimonial-header-r svg{
    width:auto;
  }
  .slider_items-i {
    width: 100%;
    height: unset;
    padding-block: 20px;
    overflow: hidden;
    background-color: unset;
    padding:10px;
    padding-bottom:0px;
}
  .slider_items-i .swiper-wrapper {
    flex-direction: row;
}
  .review-slider-i {
    padding: 28px 25px;
    {% if settings.enable_radius_allimg %}
   border-radius: calc(0.2rem * {{ settings.radius_allimg_range }});
    {% endif %}
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    height:auto;
    box-shadow: {{ section.settings.border_color }} 0px 0px 0px 1px;
    align-items: flex-start;
    background: #ffffff;
}
  .reviewbox-verified-text-i {
    display: flex;
    align-items: center;
    gap: 5px;
}
  .reviewbox-verified-text-i svg {
    width: 20px;
    height: 20px;
    fill: #9e9e9e;
}
  .reviewbox-verified-text-i span {
    font-size: 12px;
}
.review_footer p{
    margin:0;
}
  .reviewbox-footer-i {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:12px;
}
  .reviewbox-user-info-i {
    display: flex;
    align-items: center;
    gap: 10px;
}
.review-slider-i > p{
    margin:0;
    font-size:18px;
    line-height:1.2;
}

  .reviewbox-user-info-i img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
  .reviewbox-user-info-i-text {
    display: flex;
    flex-direction: column;
}
  .reviewbox-rating-i {
    display: flex;
    align-items:center;
    gap:4px;
    border: .5px solid #e3e1e199;
    padding: 9px;
    border-radius: 5px;
    background:{{ section.settings.stars_background }};
}
.reviewbox-rating-i p{
    margin:0;
}
  .reviewbox-rating-i svg{
    width:16px;
  }
 .review-slider-i .reviewbox-rating-i svg path{
 fill:{{ section.settings.color }};
}
 /* .slider_items-i .swiper-slide {
    opacity: .7;
    scale: .9;
    transition: opacity 0.3s ease-in-out, scale 0.5s ease-in-out !important;
}
  .slider_items-i .swiper-slide-active {
    opacity: 1;
    scale: 1;
    transition: opacity 0.3s ease-in-out, scale 0.5s ease-in-out !important;
}*/
  .slider_items-i .swiper-button-next_r, .slider_items-i .swiper-button-prev_r {
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: 50px;
    height: 50px;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #21212117;
}
   .slider_items-i .swiper-button-prev_r {
    left: 10px;
    right: auto;
}
  .slider_items-i .swiper-button-next_r {
    right: 10px;
    left: auto;
}
  .reviews_link_i{
    display:flex;
    justify-content:center;
    margin-top:24px;
  }
  .reviews_link_i .btn{
    width:fit-content;
  }
  .review_badges{
    display:flex;
    gap:13px;
    flex-wrap:wrap;
    width:100%;
}
.review_badge{
  {% if section.settings.b_bk != blank  %}
        background: {{ section.settings.b_bk }};
  {% else %}
      background: {{ settings.branding_color }};
  {% endif %}
    color: {{ section.settings.b_color }};
    padding: 5.5px 12px;
    border-radius: 4px;
    font-size: 12px;
    margin: 0;
    min-width: calc(50% - 6.5px);
    text-align: center;
}
.review_footer{
    display: flex;
    align-items: center;
    gap: 14px;
    text-align: left;
    font-size: 12px;
    width:100%;
    margin-top:12px;
    border: 1px solid rgba(218,218,218,1);
    padding: 6px 15px;
    border-radius: 5px;
}
.review-slider-is .swiper-pagination{
    position:relative;
    margin-top:30px;
    bottom:0px;
}
.review-slider-is .swiper-pagination-bullet-active{
    background:#000;
}
 .review-slider-is-{{ section.id }}  .swiper-wrapper {
    transition-timing-function: linear;
}
.review-slider-is-{{ section.id }} h3.text-right{
  padding-right:10px;
}
.review-slider-is-{{ section.id }} .rating-custom-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border:1px solid var(--border-color);
    background:var(--background);
    {% if settings.enable_radius_allimg %}border-radius: calc(0.2rem * {{ settings.radius_allimg_range }});{% endif %}
    margin:0;
    margin-bottom:.5rem;
    width:fit-content;
}
.review-slider-is-{{ section.id }} .rating-custom-2.text-center{
  margin:0 auto;
  margin-bottom:.5rem;
}
.review-slider-is-{{ section.id }} .rating-custom-2.text-right{
  margin:0 0 0 auto;
  margin-bottom:.5rem;
}
.review-slider-is-{{ section.id }} .rating-excellent-2 p{
  font-size: var(--font_size);
line-height:1;
color:{{ section.settings.text_color }};
}
.review-slider-is-{{ section.id }} .trustpilot-block-rating-text-2{
      margin: 0;
      padding: 5px 16px;
      display: flex;
      align-items: center;
}
.review-slider-is-{{ section.id }} .stars {
      display: flex;
      gap: 0;
      font-size: 0;
      align-items: center;
        margin: 0 8px 0 0;
  }
.review-slider-is-{{ section.id }} .stars svg{
      color:{{ section.settings.stars_color }};
      height: {{ section.settings.stars_height }}px;
      width: auto;
      vertical-align: middle;
  }
  .opac_item{
    position:absolute;
    top:0;
    height:100%;
    width:20%;
    z-index: 2;
  }
  .review-slider-is-{{ section.id }} .opac_item.left_opac{
    left:0;
        background: linear-gradient(90deg, {{ section.settings.opacity_color }}, transparent);
  }
  .review-slider-is-{{ section.id }} .opac_item.right_opac{
    right:0;
        background: linear-gradient(270deg, {{ section.settings.opacity_color }}, transparent);
    
  }
  @media (max-width:768px){
      .review-slider-is-{{ section.id }}{
         padding-top:{{ section.settings.mobile_padding_top }}px;
          padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
      }
    .slider_items-i {
    padding: 10px 50px;
    padding-bottom:0px;
}
.review-slider-is-{{ section.id }} .rating-excellent-2 p{
  font-size: var(--mobile-font_size);
}
  }
</style>
<div class="review-slider-is review-slider-is-{{ section.id }}" data-aos="{{ section.settings.animation }}">
  <div class="container">
    {% if section.settings.stars_caption != blank %}
      {% comment %}
    <div class="c_testimonial-header-r justify-{{ section.settings.align_heading }}">
        <span>{{ section.settings.stars_caption }}</span>
        <div class="c_testimonial-header-r-stars">
          <div class="reviewbox-rating-i">
                <svg class="trustpilot-star-five" height="15" width="80" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 96"><g fill="none"><g fill="{{ section.settings.stars_color }}"><path d="M0 0h96v96H0zM104 0h96v96h-96zM208 0h96v96h-96zM312 0h96v96h-96zM416 0h96v96h-96z"></path></g><path d="M48 64.7L62.6 61l6.1 18.8zm33.6-24.3H55.9L48 16.2l-7.9 24.2H14.4l20.8 15-7.9 24.2 20.8-15 12.8-9.2zM152 64.7l14.6-3.7 6.1 18.8zm33.6-24.3h-25.7L152 16.2l-7.9 24.2h-25.7l20.8 15-7.9 24.2 20.8-15 12.8-9.2zM256 64.7l14.6-3.7 6.1 18.8zm33.6-24.3h-25.7L256 16.2l-7.9 24.2h-25.7l20.8 15-7.9 24.2 20.8-15 12.8-9.2zM360 64.7l14.6-3.7 6.1 18.8zm33.6-24.3h-25.7L360 16.2l-7.9 24.2h-25.7l20.8 15-7.9 24.2 20.8-15 12.8-9.2zM464 64.7l14.6-3.7 6.1 18.8zm33.6-24.3h-25.7L464 16.2l-7.9 24.2h-25.7l20.8 15-7.9 24.2 20.8-15 12.8-9.2z" fill="#fff"></path></g></svg>
             </div>
        </div>
      </div>
      {% endcomment %}
      <div class="rating-custom-2 product-block text-{{ section.settings.align_heading }}" style="--mobile-font_size:{{ section.settings.mobile_font_size }}px;--font_size:{{ section.settings.font_size }}px;{% if section.settings.stars_border_color != "rgba(0,0,0,0)" %}--border-color:{{ section.settings.stars_border_color }};{% endif %}--stars-color:{{ section.settings.stars_color }};--background:{% if section.settings.stars_background != blank %}{{ section.settings.stars_background }}{% else %}{{ settings.branding_color }}{% endif %};">
          <div class="trustpilot-block-rating-text-2">
            <div class="stars">
              {% assign sanitized_text = section.settings.stars_caption | strip_html | downcase | replace: 'out of', '/' %}
              {% assign pre_slash = sanitized_text | split: '/' | first | strip %}
              {% assign rating_string = pre_slash | split: ' ' | last | strip %}
              {% assign rating = rating_string | replace: ',', '.' | plus: 0.0 %}
              {% if rating == 0 %}{% assign rating = rating_string | plus: 0.0 %}{% endif %}
              {% for ii in (1..5) %}
                {% assign fill_percentage_1 = 0 %}
                {% assign rating_minus = ii | minus: 1 %}
                  {% if rating >= ii %}
                    {% assign fill_percentage_1 = 100 %}
                  {% elsif rating > rating_minus %}
                    {% assign decimal = rating | minus: ii | plus: 1 %}
                    {% assign fill_percentage_1 = decimal | times: 100 %}
                  {% endif %}
                <svg class="star reviews-summary-star" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                      <linearGradient id="grad-2-{{ ii }}-{{ section.id }}">
                        <stop offset="{{ fill_percentage_1 }}%" stop-color="currentColor" />
                        <stop offset="{{ fill_percentage_1 }}%" stop-color="transparent" />
                      </linearGradient>
                    </defs>
                  <path d="M11.5245 3.46353C11.6741 3.00287 12.3259 3.00287 12.4755 3.46353L14.1329 8.56434C14.1998 8.77035 14.3918 8.90983 14.6084 8.90983H19.9717C20.4561 8.90983 20.6575 9.52964 20.2656 9.81434L15.9266 12.9668C15.7514 13.0941 15.678 13.3198 15.745 13.5258L17.4023 18.6266C17.552 19.0873 17.0248 19.4704 16.6329 19.1857L12.2939 16.0332C12.1186 15.9059 11.8814 15.9059 11.7061 16.0332L7.3671 19.1857C6.97524 19.4704 6.448 19.0873 6.59768 18.6266L8.25503 13.5258C8.32197 13.3198 8.24864 13.0941 8.07339 12.9668L3.73438 9.81434C3.34253 9.52964 3.54392 8.90983 4.02828 8.90983H9.39159C9.6082 8.90983 9.80018 8.77035 9.86712 8.56434L11.5245 3.46353Z" fill="url(#grad-2-{{ ii }}-{{ section.id }})"></path>
                </svg>
              {% endfor %}                
            </div>           
            <span class="rating-excellent-2"><p>{{ section.settings.stars_caption }}</p></span>
          </div>
      </div>
    {% endif %}
      {% if section.settings.heading != blank %}
        <h3 class="h3 text-{{ section.settings.align_heading }} mb-2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="{{ forloop.index | times : 200 }}">
        <span>{{ section.settings.heading }}</span>
      </h3>
      {% endif %}
    {% if section.settings.text != blank %}
    <div class="subtop text-{{ section.settings.align_heading }} text-top mb-2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="{{ forloop.index | times : 200 }}" >{{ section.settings.text }}</div>
    {% endif %}
  </div>
  <div class="slider_items-i swiper slider_items-i-{{ section.id }} {{ section.settings.section_width }}">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
          {% case block.type %}
            {% when "review" %}
           
                <div class="swiper-slide review-slider-i review-slider-i-{{ block.id }}">
                   <style>
              .review-slider-i-{{ block.id }} .cs_review,
              .review-slider-i-{{ block.id }} .cs_review *,
              .review-slider-i-{{ block.id }} > p{
                color: {{ block.settings.review_color }}
              }
            </style>
                <div class="reviewbox-footer-i">
                  <div class="reviewbox-user-info-i">
                    <div class="reviewbox-user-info-i-text">
                      <span class="reviewbox-user-info-i-name" style="color:{{ block.settings.name_color }}">{{ block.settings.name }}</span>
                    </div>
                  </div>
                  <div class="reviewbox-rating-i"> 
                        <p>{{ block.settings.rating_text }}</p> 
                        {% comment %}      
                      <svg width="88" height="16" viewBox="0 0 88 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.55078 0L10.5398 5.26229L16.1592 5.52786L11.7692 9.04571L13.2531 14.4721L8.55078 11.384L3.8485 14.4721L5.33241 9.04571L0.942329 5.52786L6.56172 5.26229L8.55078 0Z" fill="#D7E478"></path>
                        <path d="M26.3467 0L28.3357 5.26229L33.9551 5.52786L29.5651 9.04571L31.049 14.4721L26.3467 11.384L21.6444 14.4721L23.1283 9.04571L18.7382 5.52786L24.3576 5.26229L26.3467 0Z" fill="#D7E478"></path>
                        <path d="M44.1436 0L46.1326 5.26229L51.752 5.52786L47.3619 9.04571L48.8458 14.4721L44.1436 11.384L39.4413 14.4721L40.9252 9.04571L36.5351 5.52786L42.1545 5.26229L44.1436 0Z" fill="#D7E478"></path>
                        <path d="M61.9395 0L63.9285 5.26229L69.5479 5.52786L65.1578 9.04571L66.6417 14.4721L61.9395 11.384L57.2372 14.4721L58.7211 9.04571L54.331 5.52786L59.9504 5.26229L61.9395 0Z" fill="#D7E478"></path>
                        <path d="M79.7354 0L81.7244 5.26229L87.3438 5.52786L82.9537 9.04571L84.4376 14.4721L79.7354 11.384L75.0331 14.4721L76.517 9.04571L72.1269 5.52786L77.7463 5.26229L79.7354 0Z" fill="#D7E478"></path>
                        </svg>
                        {% endcomment %}
                        <div class="flex">
                        {% for ii in (1..block.settings.stars_count) %}
                        <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" ><path fill="{{ block.settings.stars_color }}" d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path></svg>
                        {% endfor %}
                        </div>
                </div>
                </div>
                  <p><strong>{{ block.settings.heading }}</strong></p>
                  <div class="cs_review">{{ block.settings.review_body }}</div>
                  <div class="review_badges">
                    {% if block.settings.badge_1 != blank %}
                        <div class="review_badge">{{ block.settings.badge_1 }}</div>
                    {% endif %}
                    {% if block.settings.badge_2 != blank %}
                        <div class="review_badge">{{ block.settings.badge_2 }}</div>
                    {% endif %}
                  </div>
                  <div class="review_footer">
                        {% if block.settings.image != blank %}
                          {% if block.settings.pdp_link != blank %}
                            <a href="{{ block.settings.pdp_link }}">
                          {% endif %}
                              <img src="{{ block.settings.image | image_url: width: 300 }}" height="auto" width="45" loading="lazy" alt="{{ block.settings.name }}">
                          {% if block.settings.pdp_link != blank %}
                            </a>
                          {% endif %}
                    </a>
                    {% endif %}
                    <div class="review_footer_content">
                        <p><strong>{{ block.settings.title }}</strong></p>
                        <p>{{ block.settings.content }}</p>
                         {% if block.settings.add_verified %}
                            <div class="reviewbox-verified-text-i">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256">
                            <path d="M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.72,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.28,240,138.44,240,128S232.49,109.73,225.86,102.82Zm-11.55,39.29c-4.79,5-9.75,10.17-12.38,16.52-2.52,6.1-2.63,13.07-2.73,19.82-.1,7-.21,14.33-3.32,17.43s-10.39,3.22-17.43,3.32c-6.75.1-13.72.21-19.82,2.73-6.35,2.63-11.52,7.59-16.52,12.38S132,224,128,224s-9.15-4.92-14.11-9.69-10.17-9.75-16.52-12.38c-6.1-2.52-13.07-2.63-19.82-2.73-7-.1-14.33-.21-17.43-3.32s-3.22-10.39-3.32-17.43c-.1-6.75-.21-13.72-2.73-19.82-2.63-6.35-7.59-11.52-12.38-16.52S32,132,32,128s4.92-9.15,9.69-14.11,9.75-10.17,12.38-16.52c2.52-6.1,2.63-13.07,2.73-19.82.1-7,.21-14.33,3.32-17.43S70.51,56.9,77.55,56.8c6.75-.1,13.72-.21,19.82-2.73,6.35-2.63,11.52-7.59,16.52-12.38S124,32,128,32s9.15,4.92,14.11,9.69,10.17,9.75,16.52,12.38c6.1,2.52,13.07,2.63,19.82,2.73,7,.1,14.33.21,17.43,3.32s3.22,10.39,3.32,17.43c.1,6.75.21,13.72,2.73,19.82,2.63,6.35,7.59,11.52,12.38,16.52S224,124,224,128,219.08,137.15,214.31,142.11ZM173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34Z"></path>
                            </svg>
                            <span style="color:{{ block.settings.verified_color }}">{{ section.settings.verified_caption }}</span>
                        </div>
                        {% endif %}
                    </div>
                  </div>
                </div>
            {% endcase %}
      {% endfor %}
    </div>
    {% if section.settings.autoplay %}
    <div class="opac_item left_opac"></div>
    <div class="opac_item right_opac"></div>
    {% endif %}
    <div class="swiper-pagination"></div>
        {% if section.settings.autoplay == false %}
    {%  if section.settings.arrows %}
    <div class="swiper-button-next_r swiper-button-next-{{ section.id }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256">
          <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
        </svg>
    </div>
    <div class="swiper-button-prev_r swiper-button-prev-{{ section.id }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256">
          <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path>
        </svg>
      </div>
    {% endif %}
  {% endif %}
  </div>
  {% if section.settings.link != blank %}
  <div class="reviews_link_i">
    <a href="{{ section.settings.link }}" class="btn btn--full btn-theme ">
      {{ section.settings.label }}
    </a>
  </div>
  {% endif %}
</div>
<script>
function initReviewSlider_2(sectionId, autoplayEnabled, autoplaySpeed) {
  const sliderSelector_2 = `.slider_items-i-${sectionId}`;
  const nextBtn_2 = `.swiper-button-next-${sectionId}`;
  const prevBtn_2 = `.swiper-button-prev-${sectionId}`;
  const container_2 = document.querySelector(sliderSelector_2);
  if (!container_2) return;

  // Destroy existing Swiper instance if needed
  if (container_2.swiper) {
    container_2.swiper.destroy(true, true);
  }

  const config_2 = {
    slidesPerView: 1,
    spaceBetween: 18,
    loop: true,
    {%  if section.settings.dots %}
    pagination:{
    el: ".swiper-pagination",
    clickable: true,
  },
{%  endif %}
{%  if section.settings.arrows %}
    navigation: {
      nextEl: nextBtn_2,
      prevEl: prevBtn_2
    },
{%  endif %}
      breakpoints: {
    768: { slidesPerView: {{  section.settings.columns }} }
  },
  };

  if (autoplayEnabled) {
    config_2.freeMode = true,
    config_2.speed = autoplaySpeed * 1000,
    config_2.allowTouchMove = false,
  config_2.simulateTouch = false,  
    config_2.autoplay = {
      delay: 1,
      disableOnInteraction: false,
      pauseOnMouseEnter: true
    };
  }

  new Swiper(sliderSelector_2, config_2);
}
{%- assign speed_multiplier = 51 | minus : section.settings.speed -%}
// Initial load
document.addEventListener('DOMContentLoaded', () => {
  
  initReviewSlider_2('{{ section.id }}', {{ section.settings.autoplay | json }}, {{ speed_multiplier }});
});

// Re-init on section load in Customizer
document.addEventListener('shopify:section:load', (event) => {
  /*const section = event.target.querySelector('[data-section-id]');
  if (!section) return;

  const sectionId = section.dataset.sectionId;
  const autoplayEnabled = section.dataset.autoplay === "true";
  const autoplaySpeed = parseInt(section.dataset.autoplaySpeed || "3");*/

  initReviewSlider_2('{{ section.id }}', {{ section.settings.autoplay | json }}, {{ speed_multiplier }});
});

// Optional: Re-init on resize (if layout depends on viewport)
window.addEventListener('resize', () => {
  initReviewSlider_2('{{ section.id }}', {{ section.settings.autoplay | json }}, {{ speed_multiplier }});
});
</script>

{% schema %}
{
  "name": "Testimonial Slider Auto",
  "settings": [ 
      {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
      {
        "type":"color_background",
        "id":"background",
        "label": "Background Color"
      },
           {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },   
    {
    "type": "header",
    "content": "Review Stars Above Heading"
    },
            {
          "type": "range",
          "id": "stars_height",
          "label": "Stars Height",
          "default": 15,
          "min":10,
          "max":50
        },
        {
          "type": "text",
          "id": "stars_caption",
          "label": "Stars Text",
          "default":"Excellent – 4.92/5"
        },
        {
          "type": "range",
          "id": "font_size",
          "label": "Font Size",
          "default": 12,
          "min":10,
          "max":30
        },  
        {
          "type": "range",
          "id": "mobile_font_size",
          "label": "Mobile Font Size",
          "default": 11,
          "min":10,
          "max":30
        },       
          {
          "type": "color",
          "id": "text_color",
          "label": "Text Color"
        },

        {
          "type": "color",
          "id": "stars_border_color",
          "label": "Stars Border Color"
        },
          {
          "type": "color",
          "id": "stars_color",
          "label": "Stars Color"
        },
         {
          "type": "color_background",
          "id": "stars_background",
          "label": "Stars Background"
        },
  {
    "type": "header",
    "content": "Heading And Subheading"
    },  
         {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default":"Customer Reviews"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "h_s_color",
          "label": "Heading Color"
        },
     {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },   
    {
        "type": "checkbox",
        "id": "arrows",
        "label": "Arrows",
        "default": true
      }, 
       {
        "type": "checkbox",
        "id": "dots",
        "label": "Dots",
        "default": true
      },    
    {
          "type": "color",
          "id": "border_color",
          "label": "Box Border Color"
        },
      {
          "type": "color",
          "id": "color",
          "label": "Reviews Stars Color"
        },
     {
          "type": "text",
          "id": "verified_caption",
          "label": "Verified Text",
       "default":"Verified Review"
        },
         {
          "type": "range",
          "id": "columns",
          "label": "Columns",
           "default":3,
          "min":2,
          "max":4
        },
    {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay",
       "default":true
        },
    {
          "type": "range",
          "id": "speed",
          "label": "Animation Speed",
           "default":6,
          "min":1,
          "max":50
        },
            {
          "type": "color",
          "id": "opacity_color",
          "label": "Blurry Edge Color"
        },
         {
        "type":"paragraph",
        "content":"Match this to the section’s background color for a seamless blend. For example, if the background is white, set it to white. Use 'Transparent' if you want to avoid blurry edges entirely."
        },
    {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        },
      {
          "type": "text",
          "id": "label",
          "label": "Button Label"
        },
          {
        "type":"color_background",
        "id":"b_bk",
        "label": "Badges Background"
      },
      {
        "type":"color",
        "id":"b_color",
        "label": "Badges Color"
      },
    {
      "type":"header",
      "content": "Section Padding"
    },
      {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
     {
      "type": "review",
      "name": "Reviews",
      "settings": [
                {
          "type": "text",
          "id": "name",
          "label": "Name",
           "default":"John Doe"
        },
        {
          "type": "color",
          "id": "name_color",
          "label": "Name Color"
        },
               {
          "type": "text",
          "id": "rating_text",
          "label": "Review Text",
           "default":"5.0"
        },
             {
          "type": "range",
          "id": "stars_count",
          "label": "Stars Count",
           "default":5,
           "min":1,
           "max":5
        },
         {
          "type": "color",
          "id": "stars_color",
          "label": "Stars Color",
          "default":"#D7E478"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
           "default":"Review Title"
        },
        {
          "type": "richtext",
          "id": "review_body",
          "label": "Review",
          "default":"<p>I love this product. It delivers excellent quality, reliable performance, and great value, exceeding expectations consistently while being easy to use and worth every cent.</p>"
        },
        {
          "type": "color",
          "id": "review_color",
          "label": "Review Color"
        },
        {
          "type": "text",
          "id": "badge_1",
          "label": "Badge 1",
           "default":"Value"
        },
           {
          "type": "text",
          "id": "badge_2",
          "label": "Badge 2",
           "default":"Value"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "pdp_link",
          "label": "Product Link"
        },
         {
          "type": "text",
          "id": "title",
          "label": "Image Title",
          "default":"title"
        },
         {
          "type": "text",
          "id": "content",
          "label": "Content",
          "default":"Purchased on April 2nd"
        },
         {
          "type": "checkbox",
          "id": "add_verified",
          "label": "Verified",
          "default":true
        },
        {
          "type": "color",
          "id": "verified_color",
          "label": "Verified Text Color",
          "default":"#34BF49"
        }
         
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial Slider Auto",
      "category": "Testimonials/Reviews",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}