<!-- rich-text.liquid -->
{%-liquid
  assign text_color = section.settings.title_color
-%}
{%- render 'style-section' -%}
<style>
  .customstyle{{ section.id }}{
    background:{%- if section.settings.gradient_bg != blank -%} {{ section.settings.gradient_bg }} {%- else -%} {{ section.settings.background }} {%- endif -%};
    {% if text_color != 'transparent' and text_color != 'rgba(0,0,0,0)' %}
      --g-font-color-subtop: {{ text_color }};
      --g-color-heading :  {{ text_color }};
      --color-body-text : {{ text_color }};
      --color-body-text-rgb: {{ text_color.red }}, {{ text_color.green }},  {{ text_color.blue }} ;
    {% endif %}
  }
   .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
  .hero-img__wrap{
    width: var(--img-in-hero);
  }
</style>
<div class="customstyle{{ section.id }}" data-aos="{{ section.settings.animation }}" >
  <div class="{{ section.settings.section_width }}">
  <div class="section-block">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-12">
        {% if section.settings.replace_reviews %}
            {%  render 'rating-custom', align : "center" %}
        {% else %}
      {%- if section.settings.subtitle_top != blank -%}
        <div class="subtop text-center mb-2" data-aos="{{ section.settings.animation }}" data-aos-duration="300">{{ section.settings.subtitle_top }}</div>
      {%- endif -%}
    {%  endif %}
      {%- if section.settings.title != blank -%}
      <h3 class="section-title-1 text-center mb-3" data-aos="{{ section.settings.animation }}" data-aos-duration="500">
        {{ section.settings.title }}
      </h3>
      {%- endif -%}
      {% if section.settings.text != blank %}
        <div class="rte text-center txt-body-70">
          {{ section.settings.text }}
        </div>
      {% endif %}
      <div class="text-{{ section.settings.align-content }}">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'spacer' -%}
            <div class="hero-image__space" style="--hero-spacer: {{ block.settings.hero-spacer }}px;"></div>
          {%- when 'subtitle' -%}
              {%- if block.settings.subtitle != blank -%}
                <div class="subtop mb-3">{{ block.settings.subtitle }}</div>
              {%- endif -%}
            {%- when 'heading' -%}
              {%- if block.settings.title -%}
                <h2 class="mb-3 {{ block.settings.size_text }}">{{ block.settings.title }}</h2>
              {%- endif -%}
            {%- when 'paragraph' -%}
              {%- if block.settings.description_body != blank -%}
                <div class="m-0 parallax-banner__sub rte mb-3 txt-body">
                  {{ block.settings.description_body }}
                </div>
              {%- endif -%}
            {%- when 'image' -%}
              {%- assign b1_pos = b1_pos | plus: 1 -%}
              <div class="d-flex {% if section.settings.align_heading == 'center' %} justify-content-center {%  elsif  section.settings.align_heading == 'right' %} justify-content-end {% endif %}">
              {%- if block.settings.image != blank -%}
                <div class="image-content__image-container overflow-hidden hero-img__wrap" style="--img-in-hero:{{ block.settings.img-in-hero }}px">
                  <a href="{{ block.settings.image_link }}" class="image-content__image-wrapper"
                      style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                    {% assign img_url = block.settings.image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
                    <img class="image-content__image lazyload scale-in"
                      src="{{ block.settings.image | image_url: width: 1, height: 1 }}"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}">
                    </a >
                </div>
              {%- else -%}
                {%- capture b1_fb -%}{% render 'brand-image', handle: 'rich-text--image', position: b1_pos, width: 1500, class: 'image-content__image scale-in lazyloaded' %}{%- endcapture -%}
                <div class="image-content__image hero-img__wrap" style="--img-in-hero:{{ block.settings.img-in-hero }}px">
                  {%- if b1_fb != blank -%}{{ b1_fb }}{%- else -%}{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}{%- endif -%}
                </div>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {% endfor %}
      <div class="d-flex justify-content-center align-items-center">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'button' -%}
                {%- if block.settings.button != blank and block.settings.link != blank -%}
                  <div class="mt-3 mb-1">
                    <a href="{{ block.settings.link }}" class="btn {{ block.settings.style_btn }}">
                      {{ block.settings.button | escape }}
                    </a>
                  </div>
                {%- endif -%}
            {%- endcase -%}
        {%- endfor -%}
        </div>
    </div>
  </div>
    </div>
  </div>
</div>
</div>



{% schema %}
{
  "name": "Rich Text",
  "class": "index-section-custom",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "id": "gradient_bg",
      "type": "color_background",
      "label": "Background Gradient"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Text Color",
      "default": "transparent"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Subtitle Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Talk about your brand"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "align-content",
      "label": "Content Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "subtitle",
      "name": "Subtitle",
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Subtitle"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "size_text",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "label": "Heading Size"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "HTML / Description",
      "settings": [
        {
          "type": "textarea",
          "id": "description_body",
          "label": "HTML / Description",
          "default": "Protection from the"
        }
      ]
    },
    {
      "type": "spacer",
      "name": "Spacer",
      "settings": [
        {
          "type": "range",
          "id": "hero-spacer",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Padding",
          "default": 8
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "range",
          "id": "img-in-hero",
          "min": 0,
          "max": 300,
          "step": 4,
          "label": "Width Image",
          "default": 200
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image Link To"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button",
          "label": "Button Text",
          "default": "discover now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-underline btn-underline-white",
          "options": [
            {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich Text",
      "category": "Text"
    }
  ]
}
{% endschema %}
