{%- if section.settings.enable_slideshow -%}
{%- liquid 
  assign rotate = section.settings.autorotate
  assign dot = section.settings.slide_dot
-%} 
<style>
    :root{
      --slidebg-arrow:{{ section.settings.bg_arrow.red }},{{ section.settings.bg_arrow.green }},{{ section.settings.bg_arrow.blue }};
      --slide-arrow-color:{{ section.settings.color_arrow }};
      --slide-alpha : {{ section.settings.opacity_arrow }};
      --slide-rotate: {{ section.settings.autorotate_speed }}s;
      --slide-color-dot: {{ section.settings.color_dot_nav.red }},{{ section.settings.color_dot_nav.green }},{{ section.settings.color_dot_nav.blue }};
      --slide-color-dotactive:{{ section.settings.color_dot_active.red }},{{ section.settings.color_dot_active.green }},{{ section.settings.color_dot_active.blue }};
    }
    .slideshow-wrapper {
      position: relative;
      overflow:hidden;
    }
    
    .slideshow {
      position: unset;
      overflow: hidden;
      margin-bottom: 0;
      height: 100vh;
      -webkit-transition: height .6s cubic-bezier(.44,.13,.48,.87);
      -o-transition: height .6s cubic-bezier(.44,.13,.48,.87);
      transition: height .6s cubic-bezier(.44,.13,.48,.87);
    }
    .video-slideshow{
      height:100%;
      width:100%;
    }
    .slideshow__image video{
      height:100%;
      width:100%;
      object-fit:cover;
    }
   .slideshow__text-wrap .text-right .slideshow__btn-wrapper{
    justify-content:flex-end!important;
   }
    .slideshow__text-wrap .text-center .reviews-block{
      margin: 0 auto;
   }
  .slideshow__text-wrap .text-right .reviews-block{
   margin: 0 0 0 auto;
   }
    @media only screen and (min-width:750px) {
      .slideshow {
        position: relative;
      }
    }
    
    .slideshow .slick-list,.slideshow .slick-track,.slideshow .slideshow__slide {
      height: 100%;
    }
    
    .slideshow .slick-dots {
      bottom: 30px;
      z-index: 1;
    }
@media only screen and (max-width:749px) {
  .slideshow .slick-dots {
    bottom: 10px;
  }
  .mobile--slideshow-250{
    height: 250px !important;
  }
  .mobile--slideshow-300{
    height: 300px !important;
  }
  .mobile--slideshow-400{
    height: 400px !important;
  }
  .mobile--slideshow-500{
    height: 500px !important;
  }
   .mobile--slideshow-600{
    height: 600px !important;
  }
  .mobile--slideshow-full{
    height: 100vh !important;
  }
}
  @media only screen and (min-width:750px) {
    .slideshow--desktop-750{
      height: 750px;
    }
    .slideshow--desktop-650{
      height: 650px;
    }
    .slideshow--desktop-550{
      height: 550px;
    }
    .slideshow--desktop-450{
      height: 450px;
    }
    .slideshow--desktop-full{
      height:calc(100vh - var(--height-announbar) - var(--height-header) - var(--height-announcementbar));
    }
    .slideshow--desktop-full-header{
      height:calc(100vh - var(--height-announbar) - var(--height-announcementbar));
    }
  }
    .slideshow__slide {
      position: relative;
      overflow: hidden;
    }
    
    .slideshow__link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    
    .slideshow__link:active,.slideshow__link:focus {
      opacity: 1;
    }
    
    @media only screen and (min-width:750px) {
      .slideshow__overlay::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #3d4246;
        opacity: .4;
        z-index: 2;
      }
    }
    
    .slideshow__image {
      -webkit-transition: opacity .8s cubic-bezier(.44,.13,.48,.87);
      -o-transition: opacity .8s cubic-bezier(.44,.13,.48,.87);
      transition: opacity .8s cubic-bezier(.44,.13,.48,.87);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      height: 100%;
      width: var(--slideshow-width-image);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: transparent;
      z-index: 1;
    }
    @media (max-width: 991px){
      .slideshow__image {
        width: 100%;
      }
    }
    
    .no-js .slideshow__image,.slick-initialized .slideshow__image {
      opacity: 1;
    }
    
    .slideshow__text-wrap {
      height: 100%;
      position: relative;
      width: var(--slideshow-width-txt);
    }
    @media (max-width: 991px){
      .slideshow__text-wrap{
        width: 100%;
      }
    }
    .slideshow__slide.leftimage .slideshow__image {
      left:0;
    }
    .slideshow__slide.leftimage .slideshow__text-wrap{
      float: right;
    }
    .slideshow__slide.rightimage .slideshow__image {
      right:0;
      left: auto;
    }
    .slideshow__slide.rightimage .slideshow__text-wrap{
      float: left;
    }
    .slideshow__link .slideshow__text-wrap {
      cursor: inherit;
    }
    
    .slideshow__text-wrap--mobile {
      display: none;
    }

    
    @media only screen and (min-width:750px) {
      .slideshow__text-content {
        -webkit-transition: .6s cubic-bezier(.44,.13,.48,.87);
        -o-transition: .6s cubic-bezier(.44,.13,.48,.87);
        transition: .6s cubic-bezier(.44,.13,.48,.87);
        -webkit-transition-delay: .3s;
        -o-transition-delay: .3s;
        transition-delay: .3s;
      }
    }
    
.slideshow__text-wrap--desktop .slideshow__text-content {
  position: absolute;
  width: 100%;
  top: 50%;
  opacity: 1;
  z-index: 2;
  padding: 0 50px;
   -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slideshow__text-wrap--desktop .slideshow__text-content li,.slideshow__text-wrap--desktop .slideshow__text-content .slideshow__btn-wrapper{
  overflow: hidden;
}
.slideshow__text-wrap--desktop .slideshow__text-content li .slideshow__toptitle,.slideshow__text-wrap--desktop .slideshow__text-content li .slideshow__title,.slideshow__text-wrap--desktop .slideshow__text-content li .slideshow__subtitle
,.slideshow__text-wrap--desktop .slideshow__text-content .slideshow__btn,.slideshow__text-wrap--desktop .slideshow__text-content .slideshow__toptitle, .slideshow__text-wrap--desktop .slideshow__text-content .slideshow__info{
  transform: translateX(80px);
  opacity: 0;
}

    @media only screen and (min-width:750px) {
      .slideshow__text-content.slideshow__text-content--vertical-top {
        top: 120px;
      }
    
      .slideshow__text-content.slideshow__text-content--vertical-bottom {
        top: auto;
        bottom: 40px;
      }
    }
    
.no-js .slideshow__text-content,.slick-initialized .slick-active .slideshow__text-content {}
.no-js .slideshow__text-content,.slick-initialized .slick-active .slideshow__text-content li .slideshow__toptitle,.slick-initialized .slick-active .slideshow__text-content li .slideshow__title,
.slick-initialized .slick-active .slideshow__text-content li .slideshow__subtitle,.slick-initialized .slick-active .slideshow__text-content .slideshow__btn,.slick-initialized .slick-active .slideshow__text-content li .slideshow__toptitle,
.slick-initialized .slick-active .slideshow__text-content li .slideshow__info{
  transform: translateX(0);
  transition: transform 0.7s cubic-bezier(.29,.63,.44,1) , opacity 0.7s cubic-bezier(.29,.63,.44,1);
  transition-delay: .1s;
  opacity: 1;
}
.slick-initialized .slick-active .slideshow__text-content li .slideshow__toptitle{
  transition-delay: .2s;
}
.slick-initialized .slick-active .slideshow__text-content li .slideshow__title{
  transition-delay: .3s;
}
.slick-initialized .slick-active .slideshow__text-content li .slideshow__subtitle{
  transition-delay: .4s;
}
.slick-initialized .slick-active .slideshow__text-content li .slideshow__info{
  transition-delay: .45s;
}
.slick-initialized .slick-active .slideshow__text-content .slideshow__btn{
  transition-delay: .5s;
}
.no-js .slideshow__text-content.slideshow__text-content--vertical-center,.slick-initialized .slick-active .slideshow__text-content.slideshow__text-content--vertical-center {
  /* -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); */
}
    
html:not(.no-js) .slideshow{
	opacity:0;	
  transform:scale(1.08);
  transition: transform .5s cubic-bezier(.33,0,0,1),opacity .5s cubic-bezier(.33,0,0,1);
}
html:not(.no-js) .slideshow.slick-initialized{
  transform:scale(1);
	opacity:1;
}
html:not(.no-js) .slideshow .slideshow__slide{
	display:none ;
}

html:not(.no-js) .slideshow .slideshow__slide:first-child{
	display:block; visibility:hidden;
} 

html:not(.no-js) .slideshow.slick-initialized .slideshow__slide{
	display:block;visibility:visible!important;
}
    
    @media (min-width:750px) {
      .slideshow__text-content--mobile {
        display: none!important;
      }
    }
    
    .slideshow__text-content--mobile .container{
      padding: 24px 32px 32px 32px;
    }
@media (max-width:749px) {
 .slideshow__text-content--mobile .container{
  padding-top: 20px;
}
.slideshow__title.slideshow__title--mobile{
padding-top:4px!important;
}
}
    
    .slideshow__arrows--mobile~.slideshow__text-content--mobile {
      padding-top: 1.7rem;
    }
    
    @media only screen and (min-width:750px) {
      .slideshow__arrows--mobile~.slideshow__text-content--mobile {
        padding-top: 0;
      }
    }
    
    @media only screen and (min-width:750px) {
      .slideshow__text-content--mobile {
        padding-top: 0;
      }
    
      .slideshow__text-content--mobile::after {
        display: none;
      }
    }
    
    .slideshow__title {
        font-weight: var(--g-slide-font-weight);
        font-size: var(--g-slide-font-size);
        line-height: var(--g-slide-font-lineheight);
        letter-spacing:var(--g-slide-font-spacing);
        text-transform: var(--g-slide-font-transform);
      }
      @media (min-width:992px) {
        .mega-subtitle{
          line-height: 1.6;
        }
      }
      @media (max-width:990px) {
        .slideshow__title {
          font-size: 48px;
        }
      }
    .slideshow__info{
      display: inline-block;
    }
    @media only screen and (max-width:749px) {
      .slideshow__subtitle,.slideshow__title,.slideshow__toptitle,.slideshow__info {
        display: none ;
      }
    }
    
    .slideshow__title--mobile {
      margin-bottom: 0;
      font-size: var(--g-slide-font-size-mobile);
    }
    
    .slideshow__title--mobile~.slideshow__subtitle--mobile {
      margin-top: 7px;
      font-size: var(--g-font-size);
    }
    
    .slideshow__subtitle--mobile,.slideshow__title--mobile {
      display: none;
      color: #3d4246;
    }
    
    @media only screen and (max-width:749px) {
      .slideshow__subtitle--mobile,.slideshow__title--mobile,.slideshow__toptitle--mobile,.slideshow__info--mobile{
        display: block;
      }
    }
    
    .slideshow__btn-wrapper {
      border: none;
      background-color: transparent;
      display:flex;
      column-gap:24px;
    }
    
    @media only screen and (min-width:750px) {
      .slideshow__btn-wrapper--push {
        margin-top: 20px;
      }
    }
    
    @media only screen and (max-width:749px) {
      .slideshow__btn {
        display: none;
      }
    }
    
    .slideshow__btn--mobile {
      display: none;
      margin: 1.3rem auto 0;
    }
    
    @media only screen and (max-width:749px) {
      .slideshow__btn--mobile {
        display: inline-block;
      }
    }
    
    .slideshow .slick-prev {
      left: 25px;
    }
    
    .slideshow .slick-next {
      right: 25px;
    }
    
    .slideshow .slick-arrow {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      color: #fff;
      background: rgba(var(--slidebg-arrow),var(--slide-alpha));
      box-shadow:none;
    }
    
    .slideshow .slick-arrow:before {
      color: {{ section.settings.color_arrow }};
    }
    .slideshow .slick-dots li button{
      border-color:{{ section.settings.color_dot_nav }};
    }
    .slideshow .slick-dots li::hover button{
      background:{{ section.settings.color_dot_active }};
      border-color:{{ section.settings.color_dot_active }};
    }
    .slideshow .slick-dots li.slick-active button{
      border-color:{{ section.settings.color_dot_active }};
      background:{{ section.settings.color_dot_active }};
    }
    .icons_cont{
      display:flex;
      align-items:center;
      justify-content:center;
      gap:var(--spacing);
      flex-wrap:wrap;
    }
    .text-left .icons_cont{
      justify-content:flex-start;
    }
    .text-right .icons_cont{
      justify-content:flex-end;
    }
    .c_icon_item{
      display:flex;
      gap:4px;
      align-items:center;
    }
    .text-center .slideshow__btn-wrapper{
      justify-content:center!important;
    }
    .c_icon_item svg{
      width:var(--icon-size);
      height:var(--icon-size);
      color:var(--icon-color);
    }
        .c_icon_item svg{
      width:var(--icon-size);
      height:var(--icon-size);
      color:var(--icon-color);
      fill: none;
      stroke-width: 4px;
      stroke-linecap: miter;
      stroke-linejoin: miter;
    }
    .c_icon_item span{
      font-size:var(--size);
      color:var(--color);
      font-weight:400;
    }
    @media (max-width:991px) {
      .slideshow .slick-next {
        right:15px;
      }
      .slideshow .slick-prev {
        left:15px;
      }
        .c_icon_item span{
      font-size:var(--mobile-size);
    }
    }
    {%- if dot == 'square' -%}
      @keyframes animright {
        0%   {width: 0%;}
        100% {width: 100%;}
      }
      .dot-square.slideshow  .slick-dots li{
        width: 48px;
        height: 32px;
      }
      @media (max-width:749px) {
        .dot-square.slideshow  .slick-dots li{
          width: 32px;
        }
      }
      .dot-square.slideshow .slick-dots li button{
        width: 100%;
        height: 100%;
        border-radius: 0;
        border:none;
        background-color: transparent;
        position: relative;
      }
      .dot-square.slideshow .slick-dots li button:before{
        height: 2px;
        width: 100%;
        top: calc(50% - 1px);
        background-color: rgba(var(--slide-color-dot),0.5);
        content: "";
        position: absolute;
        left: 0;
      }
      .dot-square.slideshow .slick-dots li.slick-active button::after{
        height: 2px;
        top: calc(50% - 1px);
        background-color: rgba(var(--slide-color-dotactive), 1);
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        {%- if rotate -%}
        animation:animright var(--slide-rotate) linear 1;
        {%- else -%}
        width:100%;
        {%- endif -%}
      }
    {%- elsif dot == 'circle' -%}
    .dot-circle.slideshow .slick-dots li{
      width: 20px;
      height: 20px;
      margin:0 3px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .dot-circle.slideshow .slick-dots li button{
      background-color: rgba(var(--slide-color-dot),0.5);
      border:none;
      transform: scale(0.7);
      transition: transform 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    }
    .dot-circle.slideshow .slick-dots li.slick-active button{
      background-color: rgba(var(--slide-color-dotactive),1);
      transform: scale(1);
    }
    {%- endif -%}
    .slideshow_blurry{
      display:none;
    }
    @media (max-width:749px) {
      [data-section-type="slideshow-section"]:has(.slideshow__text-wrap--mobile) .slideshow__text-wrap--desktop{
        display:none;
        }
        .slideshow_blurry{
          display:block;
          position: absolute;
          bottom: 0;
          height: 20%;
          width: 100%;
          z-index:2;
        }
      }
    </style>
    <!-- slideshow-1.liquid -->
    {%- if section.settings.slideshow_height == 'adapt' -%}
    {%- assign first_block = section.blocks[0] -%}
    {%- if first_block.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.0 -%}
    {%- else -%}
    {%- assign min_aspect_ratio = first_block.settings.image.aspect_ratio -%}
    {%- endif -%}
    {%- assign wrapper_height = 100 | divided_by: min_aspect_ratio -%}
    {%- endif -%}
    <div data-section-id="{{ section.id }}" data-section-type="slideshow-section">
      {%- if section.blocks.size > 0 -%}
      <div id="SlideshowWrapper-{{ section.id }}" class="slideshow-wrapper" role="region" aria-label="slideshow" aria-describedby="slideshow-info" tabindex="-1">
        <div class="slideshow slideshow--desktop-{{ section.settings.slideshow_height }} dot-{{ section.settings.slide_dot }} mobile--slideshow-{{ section.settings.slideshow_height_mobile }}"
             id="Slideshow-{{ section.id }}"
             data-arrow="{{ section.settings.e_arrow }}"
             data-dot="{{ section.settings.e_dot }}"
             data-autorotate="{{ section.settings.autorotate }}"
             data-speed="{{ section.settings.autorotate_speed | times: 1000 }}"
             data-adapt-height="{%- if section.settings.slideshow_height == 'adapt' -%}true{%- else -%}false{%- endif -%}"
             data-slide-nav-a11y="{{ 'sections.slideshow.load_slide' | t: slide_number: '[slide_number]' }}"
             {%- if section.settings.slideshow_height == 'adapt' -%}data-min-aspect-ratio="{{ min_aspect_ratio }}"
             style="height: {{ wrapper_height }}vw"{%- endif -%}>
    
          {%- for block in section.blocks -%}
          {%- assign text_alignments = block.settings.text_alignment | split: ' ' -%}
          {%- assign text_horizontal_alignment = text_alignments.first -%}
          {%- assign text_vertical_alignment = text_alignments.last | strip -%}
          <div class="slideshow__slide slideshow__slide--{{ block.id }} {{ block.settings.posimage }}" {{ block.shopify_attributes }} 
            style="background-color: {{ block.settings.bgwrap }};--slideshow-width-image:{{ block.settings.width_imageslide }}%;--slideshow-width-txt:{{ 100 | minus: block.settings.width_imageslide }}%;">
            {% if block.settings.blurry_transition %}
              <div class="slideshow_blurry" style="background:linear-gradient(360deg, {{ block.settings.blurry_color }}, #ffffff00)"></div>
            {% endif %}
              {% if block.settings.video != blank %}
                <div class="slideshow__image box ratio-container lazyload js{%- unless forloop.first -%} lazypreload{%- endunless -%}">
                {% for source in block.settings.video.sources %}
                  {% if source.url contains 'mp4' %}       
                    {% assign source_url = source.url %}
                  {% endif %}
                {% endfor %}
                  <div class="video-slideshow" data-provider="hosted" data-video-id="{{ block.settings.video.id }}">
                    <video playsinline="playsinline" autoplay="{{ autoplay }}" loop="loop" muted="muted" preload="metadata" {%  if block.settings.image != blank %}poster="{{ block.settings.image | image_url: width: 1920 }}"{% endif %}>
                      <source src="{{ source_url }}" type="video/mp4">
                    </video>
                  </div>
                </div>
              {% elsif block.settings.video_hosted != blank %}
                <div class="slideshow__image box ratio-container lazyload js{%- unless forloop.first -%} lazypreload{%- endunless -%}">
                  {%- liquid
                      assign video = block.settings.video_hosted
                      assign autoplay = true
                    -%}
                  <div class="video-slideshow" data-provider="hosted" data-video-id="{{ video.id }}">
                    {% comment %} {{ video | video_tag: autoplay: autoplay, loop: true, controls: false, muted: true }} {% endcomment %}
                    <video playsinline="playsinline" autoplay="{{ autoplay }}" loop="loop" muted="muted" preload="metadata" {%  if block.settings.image != blank %}poster="{{ block.settings.image | image_url: width: 1920 }}"{% endif %}>
                      <source src="{{ video }}" type="video/mp4">
                    </video>
                  </div>
                </div>
            {%- elsif block.settings.image == blank and block.settings.image_mobile == blank -%}
            <div class="slideshow__image js">
              <div class="placeholder-background">
                {%- capture current -%}{%- cycle 1, 2 -%}{%- endcapture -%}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              {%- if section.settings.show_overlay -%}<div class="slideshow__overlay"></div>{%- endif -%}
            </div>
            {%- else -%}
            <div class="slideshow__image box ratio-container lazyload js{%- unless forloop.first -%} lazypreload{%- endunless -%}"
                 data-bgset="{%- render 'bgset', image: block.settings.image -%}"
                 data-sizes="auto"
                 data-parent-fit="contain"
                 style="background-position: {{ block.settings.alignment }};">
              {%- if section.settings.show_overlay -%}<div class="slideshow__overlay"></div>{%- endif -%}
            </div>
            {%- endif -%}
    
            <div class="slideshow__text-wrap slideshow__text-wrap--desktop">
              <div class="slideshow__text-content slideshow__text-content--vertical-{{ text_vertical_alignment }} text-{{ text_horizontal_alignment }}">
                <div class="container-fluid">
                  
              <ul class="list-unstyled"  >
                          {% if block.settings.replace_reviews %}
                              {%  render 'rating-custom', section: block , align : section.settings.align-heading %}
                          {% else %}
                    {%- unless block.settings.slide_toptitle == blank -%}
                    <li class="mb-3">
                      <p class="slideshow__toptitle subtop" style="{% if block.settings.slide_toptitle_color != blank %}--g-font-color-subtop:{{ block.settings.slide_toptitle_color }}{% else %}--g-font-color-subtop:{{ settings.branding_color }}{% endif %};">
                        {{ block.settings.slide_toptitle }}
                      </p>
                    </li>
                    {%- endunless -%}
                    {% endif %}
                    {%- unless block.settings.slide_title == blank -%}
                    <li class="mb-4">
                      <h2 class=" mega-title slideshow__title " {% if block.settings.slide_title_color != blank and block.settings.slide_title_color != "rgba(0,0,0,0)" %} style="--g-color-heading:{{ block.settings.slide_title_color }};"{% endif %}>
                        {{ block.settings.slide_title }}
                      </h2>
                    </li>
                    {%- endunless -%}
                    {% comment %}
                    {%- unless block.settings.subheading == blank -%}
                    <li class="pb-1 mb-lg-5">
                      <div class="mega-subtitle slideshow__subtitle  d-lg-block fz-2" style="color:{{ block.settings.subheading_color }};">
                        {{ block.settings.subheading }}
                      </div>
                    </li>
                    {%- endunless -%}
                    {% endcomment %}
                    <li class="pb-1 mb-lg-3 icons_cont slideshow__title" style="--spacing:{{ block.settings.spacing }}px">
                      {% for ii in (1..3) %}
                        {% assign icon = "icon_" | append: forloop.index %}
                        {% assign c_icon = "c_icon_" | append: forloop.index %}
                        {% assign icon_text = "icon_text_" | append: forloop.index %}
                        {% if block.settings[icon] != blank or block.settings[c_icon] != blank %}
                          {% if block.settings[icon_text] != blank %}
                          <div class="c_icon_item" style="padding:{{ block.settings.icon_padding }}px {{ block.settings.icon_padding_left_right }}px;background:{{ block.settings.icon_background }};border-radius:{{ block.settings.icon_radius }}px;--icon-size:{{ block.settings.icons_size }}px;--icon-color:{{ block.settings.icons_color }}">
                            <div class="c_item_icon" style="display:flex;--icon-color:{{ block.settings.icon_color }}">
                              {% if block.settings[c_icon] != blank %}
                                  <img src="{{ block.settings[c_icon] | img_url:"100x" }}" alt="{{ block.settings[icon_text] }}" width="{{ block.settings.icons_size }}">
                              {% else %}
                                {% render 'list-svg', block: block ,icon: block.settings[icon] %}
                              {% endif %}
                            </div>
                          <span style="--size:{{ block.settings.text_size_desktop }}px;--mobile-size:{{ block.settings.text_size_mobile }}px;--color:{{ block.settings.text_color }}">{{ block.settings[icon_text] }}</span>
                          </div>
                        {% endif %}
                        {% endif %}
                      {% endfor %}
                    </li>
                  </ul>
    
                  {%-liquid
                    assign show_link_button-1 = false
                    assign show_link_button-2 = false
                    if block.settings.button_label != blank and block.settings.button_link != blank
                    assign show_link_button-1 = true
                    endif
                    if block.settings.button_label_2 != blank and block.settings.button_link_2 != blank
                    assign show_link_button-2 = true
                    endif
                    assign text_alignment = block.settings.text_alignment
                    case text_alignment
                    when 'left top'
                      assign align = 'justify-content-start'
                    when 'center top'
                      assign align = 'justify-content-center'
                    when 'right top'
                      assign align = 'justify-content-start'
                    when 'left center'
                      assign align = 'justify-content-start'
                    when 'center center'
                      assign align = 'justify-content-center'
                    when 'right center'
                      assign align = 'justify-content-start'
                    when 'left bottom'
                      assign align = 'justify-content-start'
                    when 'center bottom'
                      assign align = 'justify-content-center'
                    when 'right bottom'
                      assign align = 'justify-content-start'
                    endcase
                  -%}
                 
              <div class="slideshow__btn-wrapper align-items-center {{ align }} {% if block.settings.slide_title != blank or block.settings.subheading != blank %} slideshow__btn-wrapper--push{% endif %}" >
                  {%- if show_link_button-1 -%}
                  <style>
                    .btn-theme.slideshow__btn-1{{ block.id }}{
                      color:{{ block.settings.color_button }};
                      border: 1px solid {{ block.settings.bg_button }};
                      background-color:{{ block.settings.bg_button }};
                    }
                    .btn-theme.slideshow__btn-1{{ block.id }}:hover{
                      color:{{ block.settings.color_button_hover }};
                      border-color:{{ block.settings.bg_button_hover }};
                      {% unless settings.enable_button_hover %}
                        background-color:{{ block.settings.bg_button_hover }};
                      {% endunless %}
                    }
                    .btn-theme.slideshow__btn-1{{ block.id }}::before{
                      background-color:{{ block.settings.bg_button_hover }};
                    }
                    .btn-outline.slideshow__btn-1{{ block.id }}{
                      color:{{ block.settings.color_button }};
                      border: 2px solid {{ block.settings.bg_button }};
                      background-color:transparent;
                    }
                    .btn-outline.slideshow__btn-1{{ block.id }}:hover{
                      border-color:{{ block.settings.bg_button_hover }};
                      color:{{ block.settings.color_button_hover }};
                      {% unless settings.enable_button_hover %}
                        background-color:{{ block.settings.bg_button_hover }};
                      {% endunless %}
                    }
                    .btn-outline.slideshow__btn-1{{ block.id }}::before{
                      background-color:{{ block.settings.bg_button_hover }};
                    }
                    .btn-underline.slideshow__btn-1{{ block.id }}{
                      color:{{ block.settings.color_button }} !important;
                      border-bottom-color:  {{ block.settings.bg_button }} !important;
                    }
                    .btn-underline.slideshow__btn-1{{ block.id }}:hover{
                      color:{{ block.settings.color_button_hover }} !important;
                      border-bottom-color:  {{ block.settings.bg_button_hover }} !important;
                    }
                  </style>
                  <div class="slideshow__btn">
                    <a href="{{ block.settings.button_link }}" class="btn slideshow__btn-1{{ block.id }} {{ block.settings.stylebtns }}">
                      <span>{{ block.settings.button_label | escape }}</span>
                    </a>
                  </div>
                  {%- endif -%}
                  {%- if show_link_button-2 -%}
                  <style>
                    .btn-theme.slideshow__btn-2{{ block.id }}{
                      color:{{ block.settings.color_button_2 }};
                      border: 1px solid {{ block.settings.bg_button_2 }};
                      background-color:{{ block.settings.bg_button_2 }};
                    }
                    .btn-theme.slideshow__btn-2{{ block.id }}:hover{
                      color:{{ block.settings.color_button_hover_2 }};
                      border-color:{{ block.settings.bg_button_hover_2 }};
                      {% unless settings.enable_button_hover %}
                        background-color:{{ block.settings.bg_button_hover_2 }};
                      {% endunless %}
                    }
                    .btn-theme.slideshow__btn-2{{ block.id }}::before{
                      background-color:{{ block.settings.bg_button_hover_2 }};
                    }
                    .btn-outline.slideshow__btn-2{{ block.id }}{
                      color:{{ block.settings.color_button_2 }};
                      border: 2px solid {{ block.settings.bg_button_2 }};
                      background-color:transparent;
                    }
                    .btn-outline.slideshow__btn-2{{ block.id }}:hover{
                      border-color:{{ block.settings.bg_button_hover_2 }};
                      color:{{ block.settings.color_button_hover_2 }};
                      {% unless settings.enable_button_hover %}
                        background-color:{{ block.settings.bg_button_hover_2 }};
                      {% endunless %}
                    }
                    .btn-outline.slideshow__btn-2{{ block.id }}::before{
                      background-color:{{ block.settings.bg_button_hover_2 }};
                    }
                    .btn-underline.slideshow__btn-2{{ block.id }}{
                      color:{{ block.settings.color_button_2 }} !important;
                      border-bottom-color:  {{ block.settings.bg_button_2 }} !important;
                    }
                    .btn-underline.slideshow__btn-2{{ block.id }}:hover{
                      color:{{ block.settings.color_button_hover_2 }} !important;
                      border-bottom-color:  {{ block.settings.bg_button_hover_2 }} !important;
                    }
                  </style>
                  <div class="slideshow__btn">
                    <a href="{{ block.settings.button_link_2 }}" class="btn slideshow__btn-2{{ block.id }} {{ block.settings.stylebtns_2 }}">
                      <span>{{ block.settings.button_label_2 }}</span>
                    </a>
                  </div>
                {%- endif -%}
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
      <div class="slideshow__text-wrap slideshow__text-wrap--mobile bg-white">
        {%- for block in section.blocks -%}
        {%- assign show_text = false -%}
        {%- unless block.settings.slide_title == blank and block.settings.subheading == blank -%}
        {%- assign show_text = true -%}
        {%- endunless -%}
        {%- assign show_link_button = false -%}
        {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
        {%- assign show_link_button = true -%}
        {%- endif -%}
        {%- if show_text or show_link_button -%}
        <div class="slideshow__text-content slideshow__text-content--mobile slideshow__text-content--mobile-{{ forloop.index0 }} text-center" {% unless forloop.first %}style="display:none"{% endunless %}>
      <div class="container" style="background-color: {{ block.settings.bgwrap }};">
                        {% if block.settings.replace_reviews %}
                            {%  render 'rating-custom', section: block , align : section.settings.align-heading,  rating_c: "0" %}
              {% else %}
            {%- unless block.settings.slide_toptitle == blank -%}
            <p class="slideshow__toptitle slideshow__toptitle--mobile mb-0 subtop" style="--g-font-color-subtop:{{ block.settings.slide_toptitle_color }};">
              {{ block.settings.slide_toptitle }}
            </p>
            {%- endunless -%}
            {% endif %}
            {%- unless block.settings.slide_title == blank -%}
            <h2 class="h1 mega-title slideshow__title slideshow__title--mobile py-3" {% if block.settings.slide_title_color != blank and block.settings.slide_title_color != "rgba(0,0,0,0)" %} style="--g-color-heading:{{ block.settings.slide_title_color }};"{% endif %}>
              {{ block.settings.slide_title }}
            </h2>
            {%- endunless -%}
            {% comment %}
            {%- unless block.settings.subheading == blank -%}
            <div class="mega-subtitle slideshow__subtitle slideshow__subtitle--mobile" style="color:{{ block.settings.subheading_color }};">
              {{ block.settings.subheading }}
            </div>
            {%- endunless -%}
            {% endcomment %}
             <div class="mega-subtitle slideshow__subtitle slideshow__subtitle--mobile icons_cont" style="--spacing:{{ block.settings.spacing }}px">
               {% for ii in (1..3) %}
                  {% assign icon = "icon_" | append: forloop.index %}
                  {% assign c_icon = "c_icon_" | append: forloop.index %}
                  {% assign icon_text = "icon_text_" | append: forloop.index %}
                  {% if block.settings[icon] != blank or block.settings[c_icon] != blank and block.settings[icon_text] != blank %}
                    {% if block.settings[icon_text] != blank %}
                    <div class="c_icon_item" style="padding:{{ block.settings.icon_padding }}px {{ block.settings.icon_padding_left_right }}px;background:{{ block.settings.icon_background }};border-radius:{{ block.settings.icon_radius }}px;--icon-size:{{ block.settings.icons_size }}px;--icon-color:{{ block.settings.icons_color }}">
                      <div class="c_item_icon" style="display:flex;--icon-color:{{ block.settings.icon_color }}">
                      {% if block.settings[c_icon] != blank %}
                          <img src="{{ block.settings[c_icon] | img_url:"100x" }}" alt="{{ block.settings[icon_text] }}" width="{{ block.settings.icons_size }}">
                      {% else %}
                        {% render 'list-svg',block:block, icon: block.settings[icon] %}
                      {% endif %}
                      </div>
                    <span style="--size:{{ block.settings.text_size_desktop }}px;--mobile-size:{{ block.settings.text_size_mobile }}px;--color:{{ block.settings.text_color }}">{{ block.settings[icon_text] }}</span>
                    </div>
                  {% endif %}
                  {% endif %}
                {% endfor %}
            </div>
            {%-liquid
            assign show_link_button-1 = false
            assign show_link_button-2 = false
            if block.settings.button_label != blank and block.settings.button_link != blank
            assign show_link_button-1 = true
            endif
            if block.settings.button_label_2 != blank and block.settings.button_link_2 != blank
            assign show_link_button-2 = true
            endif
            assign text_alignment = block.settings.text_alignment
            case text_alignment
            when 'left top'
              assign align = 'justify-content-start'
            when 'center top'
              assign align = 'justify-content-center'
            when 'right top'
              assign align = 'justify-content-start'
            when 'left center'
              assign align = 'justify-content-start'
            when 'center center'
              assign align = 'justify-content-center'
            when 'right center'
              assign align = 'justify-content-start'
            when 'left bottom'
              assign align = 'justify-content-start'
            when 'center bottom'
              assign align = 'justify-content-center'
            when 'right bottom'
              assign align = 'justify-content-start'
            endcase
          -%}
         
      <div class="slideshow__btn-wrapper align-items-center {{ align }} {% if block.settings.slide_title != blank or block.settings.subheading != blank %} slideshow__btn-wrapper--push{% endif %}" >
          {%- if show_link_button-1 -%}
            <style>
              .btn-theme.slideshow__btn-1{{ block.id }}{
                color:{{ block.settings.color_button }};
                border: 1px solid {{ block.settings.bg_button }};
                background-color:{{ block.settings.bg_button }};
              }
              .btn-theme.slideshow__btn-1{{ block.id }}:hover{
                color:{{ block.settings.color_button_hover }};
                border-color:{{ block.settings.bg_button_hover }};
                {% unless settings.enable_button_hover %}
                  background-color:{{ block.settings.bg_button_hover }};
                {% endunless %}
              }
              .btn-theme.slideshow__btn-1{{ block.id }}::before{
                background-color:{{ block.settings.bg_button_hover }};
              }
              .btn-outline.slideshow__btn-1{{ block.id }}{
                color:{{ block.settings.color_button }};
                border: 2px solid {{ block.settings.bg_button }};
                background-color:transparent;
              }
              .btn-outline.slideshow__btn-1{{ block.id }}:hover{
                border-color:{{ block.settings.bg_button_hover }};
                color:{{ block.settings.color_button_hover }};
                {% unless settings.enable_button_hover %}
                  background-color:{{ block.settings.bg_button_hover }};
                {% endunless %}
              }
              .btn-outline.slideshow__btn-1{{ block.id }}::before{
                background-color:{{ block.settings.bg_button_hover }};
              }
              .btn-underline.slideshow__btn-1{{ block.id }}{
                color:{{ block.settings.color_button }} !important;
                border-bottom-color:  {{ block.settings.bg_button }} !important;
              }
              .btn-underline.slideshow__btn-1{{ block.id }}:hover{
                color:{{ block.settings.color_button_hover }} !important;
                border-bottom-color:  {{ block.settings.bg_button_hover }} !important;
              }
            </style>
          <div>
            <a href="{{ block.settings.button_link }}" class="btn  slideshow__btn--mobile slideshow__btn-1{{ block.id }} {{ block.settings.stylebtns }}">
              <span>{{ block.settings.button_label | escape }}</span>
            </a>
          </div>
          {%- endif -%}
          {%- if show_link_button-2 -%}
          <style>
            .btn-theme.slideshow__btn-2{{ block.id }}{
              color:{{ block.settings.color_button_2 }};
              border: 1px solid {{ block.settings.bg_button_2 }};
              background-color:{{ block.settings.bg_button_2 }};
            }
            .btn-theme.slideshow__btn-2{{ block.id }}:hover{
              color:{{ block.settings.color_button_hover_2 }};
              border-color:{{ block.settings.bg_button_hover_2 }};
              {% unless settings.enable_button_hover %}
                background-color:{{ block.settings.bg_button_hover_2 }};
              {% endunless %}
            }
            .btn-theme.slideshow__btn-2{{ block.id }}::before{
              background-color:{{ block.settings.bg_button_hover_2 }};
            }
            .btn-outline.slideshow__btn-2{{ block.id }}{
              color:{{ block.settings.color_button_2 }};
              border: 2px solid {{ block.settings.bg_button_2 }};
              background-color:transparent;
            }
            .btn-outline.slideshow__btn-2{{ block.id }}:hover{
              border-color:{{ block.settings.bg_button_hover_2 }};
              color:{{ block.settings.color_button_hover_2 }};
              {% unless settings.enable_button_hover %}
                background-color:{{ block.settings.bg_button_hover_2 }};
              {% endunless %}
            }
            .btn-outline.slideshow__btn-2{{ block.id }}::before{
              background-color:{{ block.settings.bg_button_hover_2 }};
            }
            .btn-underline.slideshow__btn-2{{ block.id }}{
              color:{{ block.settings.color_button_2 }} !important;
              border-bottom-color:  {{ block.settings.bg_button_2 }} !important;
            }
            .btn-underline.slideshow__btn-2{{ block.id }}:hover{
              color:{{ block.settings.color_button_hover_2 }} !important;
              border-bottom-color:  {{ block.settings.bg_button_hover_2 }} !important;
            }
          </style>
          <div>
            <a href="{{ block.settings.button_link_2 }}" class="btn  slideshow__btn--mobile slideshow__btn-2{{ block.id }} {{ block.settings.stylebtns_2 }}">
              <span>{{ block.settings.button_label_2 }}</span>
            </a>
          </div>
        {%- endif -%}
          </div>
            
          </div>
        </div>
        {%- endif -%}
        {%- endfor -%}
      </div>
      {%- endif -%}
      {%- if section.blocks.size == 0 -%}
      <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
      </div>
      {%- endif -%}
    </div>
  {%- endif -%}
    {% schema %}
{
  "name": "Slideshow 2",
  "class": "index-section index-section--slideshow",
  "max_blocks": 8,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_slideshow",
      "label": "Enable Slideshow",
      "default": true
    },
    {
    "type":"paragraph",
    "content":"You can choose between two slideshow layouts in the “General Settings” section of the theme settings."
    },
    {
      "type": "select",
      "id": "slideshow_height",
      "label": "Desktop Height",
      "default": "750",
      "info": "Learn more about [slideshow guidelines](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/debut#slideshow-sections-specific)",
      "options": [
        {
          "value": "450",
          "label": "450px"
        },
        {
          "value": "550",
          "label": "550px"
        },
        {
          "value": "650",
          "label": "650px"
        },
        {
          "value": "750",
          "label": "750px"
        },
        {
          "value": "full",
          "label": "Full Screen"
        }
      ]
    },
    {
      "type": "select",
      "id": "slideshow_height_mobile",
      "label": "Mobile Height",
      "default": "500",
      "info": "375x250, 375x300, 375x400, 375x500",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to first image"
        },
        {
          "value": "250",
          "label": "250px"
        },
        {
          "value": "300",
          "label": "300px"
        },
        {
          "value": "400",
          "label": "400px"
        },
        {
          "value": "500",
          "label": "500px"
        },
        {
          "value": "600",
          "label": "600px"
        },
        {
          "value": "full",
          "label": "Full Screen"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show overlay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autorotate",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "Change slides every",
      "max": 9,
      "min": 3,
      "step": 2,
      "unit": " s",
      "default": 5
    },
    {
      "type": "header",
      "content": "Arrow"
    },
    {
      "type": "checkbox",
      "id": "e_arrow",
      "label": "Enable Arrow",
      "default": false
    },
    {
      "type": "color",
      "id": "color_arrow",
      "label": "Color Arrow",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "bg_arrow",
      "label": "Background Arrow",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "opacity_arrow",
      "label": "Opacity Background Arrow",
      "max": 1,
      "min": 0,
      "step": 0.1,
      "unit": " op",
      "default": 1
    },
    {
      "type": "header",
      "content": "Dot"
    },
    {
      "type": "checkbox",
      "id": "e_dot",
      "label": "Enable Dot Nav",
      "default": true
    },
    {
      "type": "select",
      "id": "slide_dot",
      "label": "Style Dot",
      "default": "square",
      "options": [
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_dot_nav",
      "label": "Color Dot",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_dot_active",
      "label": "Color Dot Active",
      "default": "#C99A5C"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image slide",
      "settings": [
        {
          "type": "text",
          "id": "video_hosted",
          "label": "Video"
        },
          {
          "type": "video",
          "id": "video",
          "label": "Or pick your video here"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "posimage",
          "label": "Layout Image and Text",
          "options": [
            {
              "label": "Left Image",
              "value": "leftimage"
            },
            {
              "label": "Right Image",
              "value": "rightimage"
            }
          ]
        },
        {
          "type": "range",
          "id": "width_imageslide",
          "min": 50,
          "max": 80,
          "step": 1,
          "unit": "%",
          "label": "Width Image",
          "default": 50
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image position",
          "default": "center center",
          "options": [
            {
              "label": "Top left",
              "value": "left top"
            },
            {
              "label": "Top center",
              "value": "center top"
            },
            {
              "label": "Top right",
              "value": "right top"
            },
            {
              "label": "Middle left",
              "value": "left center"
            },
            {
              "label": "Middle center",
              "value": "center center"
            },
            {
              "label": "Middle right",
              "value": "right center"
            },
            {
              "label": "Bottom left",
              "value": "left bottom"
            },
            {
              "label": "Bottom center",
              "value": "center bottom"
            },
            {
              "label": "Bottom right",
              "value": "right bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "center center",
          "options": [
            {
              "label": "Middle left",
              "value": "left center"
            },
            {
              "label": "Middle center",
              "value": "center center"
            },
            {
              "label": "Middle right",
              "value": "right center"
            }
          ]
        },
        {
          "type": "color",
          "id": "bgwrap",
          "label": "Background Slide",
          "default": "#F8EDE7"
        },
        {
          "type": "checkbox",
          "id": "blurry_transition",
          "label": "Blurry Transition"
        },
           {
          "type": "color",
          "id": "blurry_color",
          "label": "Blurry color"
        },
        {
          "type": "text",
          "id": "slide_toptitle",
          "label": "Top Title"
        },
        {
          "type": "color_background",
          "id": "slide_toptitle_color",
          "label": "Top title color",
          "default": "#999"
        },
        {
          "type": "checkbox",
          "id": "replace_reviews",
          "label": "Replace Sub Title Top with Review",
        },
         {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘",
    },
            {
          "type": "select",
          "id": "r_type",
          "label": "Reviews type",
          "default": "t_1",
          "options": [
            {
              "value": "t_1",
              "label": "Review Type 1"
            },
            {
              "value": "t_2",
              "label": "Review Type 2"
            },
            {
              "value": "t_3",
              "label": "Review Type 3"
            }
          ]
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Heading",
          "default": "Image slide"
        },
        {
          "type": "color_background",
          "id": "slide_title_color",
          "label": "Heading color",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Icons"
        },
        {
          "type": "select",
          "id": "icon_1",
          "label": "Icon 1",
          "default": "globe",
          "options": [
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "leaf",
              "label": "Feaf"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "ribbon",
              "label": "Ribbon"
            },
            {
              "value": "shield",
              "label": "Shield"
            },
            {
              "value": "tag",
              "label": "Tag"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "checkmark-1",
              "label": "Checkmark 1"
            },
            {
              "value": "checkmark-2",
              "label": "Checkmark 2"
            },
             {
              "value": "checkmark",
              "label": "Checkmark 3"
            },
            {
              "value": "checkmark-4",
              "label": "Checkmark 4"
            },
            {
              "value": "checkmark-5",
              "label": "Checkmark 5"
            },
            {
              "value": "checkmark-6",
              "label": "Checkmark 6"
            },
            {
              "value": "checkmark-7",
              "label": "Checkmark 7"
            },
            {
              "value": "checkmark-8",
              "label": "Checkmark 8"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "c_icon_1",
          "label": "Custom icon 1"
        },
        {
          "type": "text",
          "id": "icon_text_1",
          "label": "text 1"
        },
                {
          "type": "select",
          "id": "icon_2",
          "label": "Icon 2",
          "default": "globe",
          "options": [
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "leaf",
              "label": "Feaf"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "ribbon",
              "label": "Ribbon"
            },
            {
              "value": "shield",
              "label": "Shield"
            },
            {
              "value": "tag",
              "label": "Tag"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "checkmark-1",
              "label": "Checkmark 1"
            },
            {
              "value": "checkmark-2",
              "label": "Checkmark 2"
            },
             {
              "value": "checkmark",
              "label": "Checkmark 3"
            },
            {
              "value": "checkmark-4",
              "label": "Checkmark 4"
            },
            {
              "value": "checkmark-5",
              "label": "Checkmark 5"
            },
            {
              "value": "checkmark-6",
              "label": "Checkmark 6"
            },
            {
              "value": "checkmark-7",
              "label": "Checkmark 7"
            },
            {
              "value": "checkmark-8",
              "label": "Checkmark 8"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "c_icon_2",
          "label": "Custom icon 2"
        },
        {
          "type": "text",
          "id": "icon_text_2",
          "label": "text 2"
        },
                {
          "type": "select",
          "id": "icon_3",
          "label": "Icon 3",
          "default": "globe",
          "options": [
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "leaf",
              "label": "Feaf"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "ribbon",
              "label": "Ribbon"
            },
            {
              "value": "shield",
              "label": "Shield"
            },
            {
              "value": "tag",
              "label": "Tag"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "checkmark-1",
              "label": "Checkmark 1"
            },
            {
              "value": "checkmark-2",
              "label": "Checkmark 2"
            },
             {
              "value": "checkmark",
              "label": "Checkmark 3"
            },
            {
              "value": "checkmark-4",
              "label": "Checkmark 4"
            },
            {
              "value": "checkmark-5",
              "label": "Checkmark 5"
            },
            {
              "value": "checkmark-6",
              "label": "Checkmark 6"
            },
            {
              "value": "checkmark-7",
              "label": "Checkmark 7"
            },
            {
              "value": "checkmark-8",
              "label": "Checkmark 8"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "c_icon_3",
          "label": "Custom icon 3"
        },
        {
          "type": "text",
          "id": "icon_text_3",
          "label": "text 3"
        },
        {
          "type": "range",
          "id": "spacing",
          "label": "Spacing between",
          "min":4,
          "max":32,
          "default":12
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icons color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        },
        {
          "type": "range",
          "id": "icons_size",
          "label": "Icons size",
          "min":10,
          "max":32,
          "default":16
        },
        {
          "type": "color_background",
          "id": "icon_background",
          "label": "Icon background"
        },
         {
          "type": "range",
          "id": "icon_padding",
          "label": "Icons padding top",
          "min":0,
          "max":10,
          "default":0
        },
        {
          "type": "range",
          "id": "icon_padding_left_right",
          "label": "Icons padding left",
          "min":0,
          "max":10,
          "default":0
        },
        {
          "type": "range",
          "id": "icon_radius",
          "label": "Icons radius",
          "min":0,
          "max":50,
          "default":0
        },
         {
          "type": "range",
          "id": "text_size_desktop",
          "label": "Text size desktop",
          "min":10,
          "max":32,
          "default":16
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "label": "Text size mobile",
          "min":10,
          "max":32,
          "default":14
        },
        {
          "type": "header",
          "content": "Button 1 "
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "stylebtns",
          "label": "Style Button",
          "default": "btn-theme",
          "options": [
            {
              "label": "Button Solid",
              "value": "btn-theme"
            },
            {
              "label": "Button Outline",
              "value": "btn-outline"
            },
            {
              "label": "Button Line",
              "value": "btn-underline"
            }
          ]
        },
        {
          "type": "header",
          "content": "Color Button 1"
        },
        {
          "type": "color",
          "id": "bg_button",
          "label": "Background Button",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "color_button",
          "label": "Color Button",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "bg_button_hover",
          "label": "Background Button Hover",
          "default": "#FF6F2E"
        },
        {
          "type": "color",
          "id": "color_button_hover",
          "label": "Color Button Hover",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Button 2 "
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "stylebtns_2",
          "label": "Style Button",
          "default": "btn-theme",
          "options": [
            {
              "label": "Button Solid",
              "value": "btn-theme"
            },
            {
              "label": "Button Outline",
              "value": "btn-outline"
            },
            {
              "label": "Button Line",
              "value": "btn-underline"
            }
          ]
        },
        {
          "type": "header",
          "content": "Color Button 2"
        },
        {
          "type": "color",
          "id": "bg_button_2",
          "label": "Background Button",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "color_button_2",
          "label": "Color Button",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "bg_button_hover_2",
          "label": "Background Button Hover",
          "default": "#FF6F2E"
        },
        {
          "type": "color",
          "id": "color_button_hover_2",
          "label": "Color Button Hover",
          "default": "#ffffff"
        }
      ]
    }
  ]
}
{% endschema %}