<style>
   .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
</style>
 <div class="customstyle{{ section.id }}">
   {%- render 'style-section' -%}
<div class="steam-member__wrap {{ section.settings.setwidth }}">
  <div class="steam-member__content">
   {%- render 'section-heading' -%}
    <div class="smembers row">
      {%- liquid
        assign items = section.settings.items
        assign column = 'col-lg-4 col-12'

        case items
        when '2'
        assign column = 'col-lg-6 col-12'
        when '3'
        assign column = 'col-lg-4 col-12'
        when '4'
        assign column = 'col-lg-3 col-12'
        endcase
      -%}
      {% for block in section.blocks %}
      <div class="smember-wr {{ column }} mb-4 " data-aos="{{ section.settings.animation }}">
        <div class="smember--style{{ section.settings.layout }}">
          <div class="smember-photo ">
            {% if block.settings.image != blank %}
              <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                {% assign img_url = block.settings.image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
                <img src="{{ block.settings.image | image_url: width: 1, height: 1 }}" alt="{{ block.settings.name | handle }}" 
                  class="lazyload" 
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"/>
              </div>
            {% else %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            <div class="smember-icons py-3">
              {% if block.settings.twitter != blank %}
              <a target="_blank" href="{{ block.settings.twitter }}" title="{{ block.settings.name }} in twitter" class="smember-icon">
                <svg aria-hidden="true" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class=""></path></svg>
              </a>
              {% endif %}
              {% if block.settings.google != blank %}
              <a target="_blank" href="{{ block.settings.google }}" title="{{ block.settings.name }} in google plus" class="smember-icon">
                <svg aria-hidden="true" data-prefix="fab" data-icon="google-plus-g" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z" class=""></path></svg>
              </a>
              {% endif %}
              {% if block.settings.facebook != blank %}
              <a target="_blank" href="{{ block.settings.facebook }}" title="{{ block.settings.name }} in facebook" class="smember-icon">
                <svg aria-hidden="true" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512"><path fill="currentColor" d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229" class=""></path></svg>
              </a>
              {% endif %}
              {% if block.settings.linkedin != blank %}
              <a target="_blank" href="{{ block.settings.linkedin }}" title="{{ block.settings.name }} in linkedin" class="smember-icon">
                <svg aria-hidden="true" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M100.3 448H7.4V148.9h92.9V448zM53.8 108.1C24.1 108.1 0 83.5 0 53.8S24.1 0 53.8 0s53.8 24.1 53.8 53.8-24.1 54.3-53.8 54.3zM448 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448h-.1z" class=""></path></svg>
              </a>
              {% endif %}
            </div>
          </div>
          {% if block.settings.name != blank %}
          <div class="smember-info py-4">
            <h3 class="h4 mb-1">{{ block.settings.name }}</h3>
            <span class="smember-role txt-body-60 small">{{ block.settings.position }}</span>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>

{% style %}

  {% comment %}========================   CSS Liquid ========================{% endcomment %}
  
  #shopify-section-{{ section.id }} .smember--style1 .smember-icons:before {background:var(--g-color-heading)}
  #shopify-section-{{ section.id }} .smember--style1 .smember-icons {background:var(--g-color-heading)}
  #shopify-section-{{ section.id }} .smember--style2 .smember-icons {background:var(--g-color-heading)}
  #shopify-section-{{ section.id }} .smember--style2 .smember-icons:before {border-right-color:var(--g-color-heading)}
  #shopify-section-{{ section.id }} .smember--style3 .smember-icons {background:var(--g-color-heading)}
  #shopify-section-{{ section.id }} .smember--style4 .smember-icon{color:var(--g-color-heading);background:var(--g-color-heading)}
  
  {% comment %}========================   Pure CSS  ========================{% endcomment %}

.smember--style1 .smember-name,.smember--style3 .smember-name{font-size:18px;margin:0}.smember--style2 span.smember-role,.smember--style3 span.smember-role{color:#999;font-size:12px;display:block}.smember-photo{text-align:center}.smember-icon svg{height:15px;vertical-align:middle;margin:0 6px;color:#fff}.smember--style1{overflow:hidden}.smember--style1 .smember-photo{overflow:hidden;position:relative}.smember--style1 .smember-photo img{transition:.3s cubic-bezier(0, 0, 0, .1);-webkit-transform:scale(1);transform:scale(1)}.smember--style1 .smember-icons{margin-top:10px;position:absolute;bottom:0px;width:max-content;background:rgba(255,255,255,.13);text-align:center;padding:6px 20px}.smember--style1 .smember-icons:before{content:"";position:absolute;right:-100%;height:1px;width:100%;background:rgba(255,255,255,.13);top:50%;display:none;}.smember--style1 span.smember-role{display:block}.smember--style1:hover .smember-photo img{-webkit-transform:scale(1.1);transform:scale(1.1)}.smember--style2{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:.25s cubic-bezier(.43, .44, .63, .61);transition:.25s cubic-bezier(.43, .44, .63, .61)}.smember--style2 .smember-photo{position:relative}.smember--style2 .smember-icons{position:absolute;top:0;text-align:center;width:40px;padding:10px 0;left:-7px}.smember--style2 .smember-icons:before{content:"";position:absolute;left:-7px;bottom:-7px;border:7px solid transparent}.smember--style2 .smember-name{font-size:18px;margin:0;position:relative;padding-bottom:3px}.smember--style2 .smember-name:before{content:"";position:absolute;right:0;height:1px;width:30px;background:#000;bottom:0}.smember--style4 .smember-icon{height:30px;line-height:30px;text-align:center}.smember--style3{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:.25s cubic-bezier(.43, .44, .63, .61);transition:.25s cubic-bezier(.43, .44, .63, .61)}.smember--style3 .smember-photo{position:relative}.smember--style3 .smember-icons{position:absolute;bottom:0;background:rgba(255,255,255,.1);width:100%;padding:7px 10px;left:0}.smember--style3:hover{-webkit-transform:translateY(-10px);transform:translateY(-10px)}.smember--style3 .smember-icon i:hover{background:#fff;color:#444}.smember--style4{position:relative;border:1px solid var(--g-input-border);background:var(--color-body);padding:16px}.smember--style4 .smember-photo{overflow:hidden;position:relative}.smember--style4 .smember-photo img{-transition:all 0.3s cubic-bezier(0,0,0,0.1);transition:.3s cubic-bezier(0, 0, 0, .1);-webkit-transform:scale(1);transform:scale(1)}.smember--style4 .smember-icons{position:absolute;top:-1px;right:0;width:30px}.smember--style4 .smember-icons a:first-child{-webkit-transition-delay:0.1s;transition-delay:0.1s}.smember--style4 .smember-icons a:nth-child(2){-webkit-transition-delay:0.15s;transition-delay:0.15s}.smember--style4 .smember-icons a:nth-child(3){-webkit-transition-delay:0.2s;transition-delay:0.2s}.smember--style4 .smember-icons a:nth-child(4){-webkit-transition-delay:0.25s;transition-delay:0.25s}.smember--style4 .smember-info{background:var(--color-body);padding-bottom:0!important}.smember--style4 .smember-name{font-size:20px;margin:0;line-height:normal}.smember--style4 span.smember-role{font-size:12px;display:block}.smember--style4:hover .smember-photo img{-webkit-transform:scale(1.1);transform:scale(1.1)}.smember--style4 .smember-icon{-webkit-transform:translateX(50px);transform:translateX(50px);-webkit-transition:-webkit-transform .3s cubic-bezier(0, 0, 0, .2),transform .3s cubic-bezier(0, 0, 0, .2);transition:-webkit-transform .3s cubic-bezier(0, 0, 0, .2),transform .3s cubic-bezier(0, 0, 0, .2);width:30px;margin-bottom:2px;display:inline-block}.smember--style4:hover .smember-icon{-webkit-transform:translateX(0);transform:translateX(0)}

{% endstyle %}

{% schema %}
{
  "name": "Team Member",
  "class": "index-section",
  "max_blocks": 50,
  "settings": [
    {
      "type": "header",
      "content": "Member setting"
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "subtitle_top",
      "label": "Subtitle Top",
      "default": "Sub Title Top"
    },
            {
      "type": "checkbox",
      "id": "replace_reviews",
      "label": "Replace Subtitle Top With Review"
    },
     {
      "type": "paragraph",
      "content": "When activated, the top subtitle is replaced by a review box. This review box can be customized in the Theme Settings under ‘Reviews Above Titles‘"
    },
        {
      "type": "select",
      "id": "reviews_type",
      "label": "Reviews Type",
      "default": "t_1",
      "options": [
        {
          "value": "t_1",
          "label": "Review Type 1"
        },
        {
          "value": "t_2",
          "label": "Review Type 2"
        },
        {
          "value": "t_3",
          "label": "Review Type 3"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Custom content"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "align_heading",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title and Description colors"
    },
    {
      "type": "color_background",
      "id": "subtitle_top_color",
      "label": "Subtitle Top Color"
    },
    {
      "type": "color_background",
      "id": "heading_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color"
    },
    {
      "type": "select",
      "id": "items",
      "label": "Items Per Row",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "1",
          "label": "Style 1"
        },
        {
          "value": "2",
          "label": "Style 2"
        },
        {
          "value": "3",
          "label": "Style 3"
        },
        {
          "value": "4",
          "label": "Style 4"
        }
      ],
      "default": "1"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "member",
      "name": "Member",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "John Smith"
        },
        {
          "type": "text",
          "id": "position",
          "label": "Position",
          "default": "CEO"
        },
        {
          "type": "header",
          "content": "Contact"
        },
        {
          "type": "url",
          "id": "twitter",
          "label": "Twitter"
        },
        {
          "type": "url",
          "id": "google",
          "label": "Google Plus"
        },
        {
          "type": "url",
          "id": "facebook",
          "label": "Facebook"
        },
        {
          "type": "url",
          "id": "linkedin",
          "label": "LinkedIn"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Team Member",
      "category": "Promotional",
      "blocks": [
        {
          "type": "member",
          "settings": {
            "name": "Abdul Khalek",
            "position": "CEO & Founder",
            "twitter": "https://twitter.com/",
            "google": "https://plus.google.com",
            "facebook": "https://www.facebook.com/",
            "linkedin": "https://www.linkedin.com/"
          }
        },
        {
          "type": "member",
          "settings": {
            "name": "UX Designer",
            "position": "CEO & Founder",
            "twitter": "https://twitter.com/",
            "google": "https://plus.google.com",
            "facebook": "https://www.facebook.com/",
            "linkedin": "https://www.linkedin.com/"
          }
        },
        {
          "type": "member",
          "settings": {
            "name": "Abdur Rahman",
            "position": "Developer",
            "twitter": "https://twitter.com/",
            "google": "https://plus.google.com",
            "facebook": "https://www.facebook.com/",
            "linkedin": "https://www.linkedin.com/"
          }
        }
      ]
    }
  ]
}
{% endschema %}