<!-- video.liquid -->


  <style>
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
    #VideoSection--{{ section.id }} .video-section__cover-content .video-text text{
      color: {{ section.settings.color }};
      fill:  {{ section.settings.color }};
    }
    {%- if section.settings.show_overlay -%}
    #VideoSection--{{ section.id }} .video-section__cover-text {
      color: {{ section.settings.overlay_text }};
    }
    #VideoSection--{{ section.id }} .video-section__load-player-button-triangle {
      border-left-color: {{ section.settings.overlay_text }};
    }
    #VideoSection--{{ section.id }} .video-section__load-player-button.animated .video-section__load-player-button-circle,
    #VideoSection--{{ section.id }} .video-section__load-player-button-circle {
      border-color: {{ section.settings.overlay_text }};
    }
    #VideoSection--{{ section.id }} .video-section__cover-overlay {
      background-color: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    }
  {%- endif -%}
  </style>

<div class="customstyle{{ section.id }}" data-aos="{{ section.settings.animation }}" >
<div class="{{ section.settings.section_width }}" >
  {%- render 'style-section' -%}
  <div id="VideoSection--{{ section.id }}" class="video-section video-section--{{ section.settings.cover_image_height }}" data-section-id="{{ section.id }}" data-section-type="video" data-video-id="{{ section.settings.video_url.id }}" data-video-type="{{ section.settings.video_url.type }}">
    <div class="video-section__body-overlay"></div>
    <div class="video-section__modal">
      <div class="video-wrapper">
        <button class="video-section__player-close">
          <span class="visually-hidden">{{ 'video.close' | t }}</span>
          {%- render 'icon-close' -%}
        </button>
        <div class="video-section__player"></div>
      </div>
    </div>
    <div class="video-section__cover" style="--g-height-videosection:{{ section.settings.height_video }}px;--g-height-videosection-mobile:{{ section.settings.height_video_mobile }}px;">
      <div class="video-section__cover-background">
        {%- if section.settings.cover_image == blank -%}
          {%- capture b1_fb -%}{% render 'brand-image', handle: 'video', slot: 1, width: 1920, class: 'image-content__image' %}{%- endcapture -%}
          {%- if b1_fb != blank -%}<div class="position-relative image-content__image-wrapper">{{ b1_fb }}</div>{%- else -%}{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}{%- endif -%}
        {%- else -%}
        <div class="position-relative image-content__image-wrapper" >
          {% assign img_url = section.settings.cover_image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
          <img class="image-content__image lazyload"
              src="{{ section.settings.cover_image | image_url: width: 1920 }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
              data-aspectratio="{{ section.settings.cover_image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ section.settings.cover_image.alt | escape }}"
              loading="lazy"
              width="{{ section.settings.cover_image.width }}"
              height="{{ section.settings.cover_image.height }}">
            
        </div>
        {%- endif -%}
      </div>
      <div class="video-section__cover-overlay"></div>
      <div class="video-section__cover-content">
        <button class="video-section__load-player-button video-section__load-player-button--large position-relative">
          <span class="visually-hidden">{{ 'video.play' | t }}</span>
          {%- if section.settings.circle_caption != blank -%}
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 120 120" class="video-text">
          <defs>
          <path d="M 60, 60 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0" id="txt-path"></path>
          </defs>
          <text>
          <textPath startOffset="0" xlink:href="#txt-path"> {{ section.settings.circle_caption }}</textPath>
          </text>
          </svg>
      {%- endif -%}
          <div class="video-section__load-player-icon">
            <div class="video-section__load-player-mark">
              <!-- <div class="anim-mark"></div>
              <div class="anim-mark anim-mark2"></div> -->
            </div>
            <div class="video-section__load-player-button-circle"></div>
            <div class="video-section__load-player-button-triangle"></div>
          </div>
          
        </button>
        {%- if section.settings.title != blank -%}
          <h3 class="mt-4 {{ section.settings.size_text }}"  style="--g-color-heading:{{ section.settings.color }};">{{ section.settings.title }}</h3>
        {%- endif -%}
        <p class="video-section__error mb-0"></p>
      </div>
    </div>
  </div>
</div>
</div>

{% schema %}
{
  "name": "Video",
  "class": "index-section index-section--video",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Left"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Animation"
    },
    {
      "type": "color",
      "id": "background_section",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "text",
      "id": "circle_caption",
      "label": "Text Circle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "select",
      "id": "size_text",
      "default": "h2",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "label": "Heading Size"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "Video Link",
      "accept": [
        "youtube",
        "vimeo"
      ]
    },
    {
      "type": "header",
      "content": "Cover"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show Overlay",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Opacity",
      "default": 30
    },
    {
      "type": "header",
      "content": "Size Video"
    },
    {
      "type": "range",
      "id": "height_video",
      "min": 300,
      "max": 800,
      "step": 5,
      "unit": "px",
      "label": "Height Video",
      "default": 600
    },
    {
      "type": "range",
      "id": "height_video_mobile",
      "min": 300,
      "max": 800,
      "step": 5,
      "unit": "px",
      "label": "Height Video Mobile",
      "default": 400
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding Top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding Bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Video",
      "category": "Videos"
    }
  ]
}
{% endschema %}
