<!-- wave-section.liquid -->
<style>
    .customstyle{{ section.id }}{
      --g-wave-flip:{%- if section.settings.flip_pos == 'down' -%}rotate(180deg){%- else -%}rotate(0deg){%- endif -%};
      --g-wave-bg: {{ section.settings.bg_wave }};
    }
   .customstyle{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  @media (max-width:768px){
     .customstyle{{ section.id }}{
    padding-top:{{ section.settings.mobile_padding_top }}px;
    padding-bottom:{{ section.settings.mobile_padding_bottom }}px;
  }
  }
    .customstyle{{ section.id }} .border-custom{
        border-top-width: {{ section.settings.wborder }} !important;
        border-color: {{ section.settings.bgborder }} !important;
    }
    .wave-svg svg{
      width: 100%;
      height:auto;
      transform:var(--g-wave-flip);
    }
    .wave-svg svg > g, .wave-svg svg .elementor-shape-fill{
      fill:var(--g-wave-bg);
    }
</style>
<div class="customstyle{{ section.id }}" data-aos="{{ section.settings.animation }}">
    {%- render 'style-section' -%}
    <div class="{{ section.settings.setwidth }}">
      <div class="d-flex flex-column wave-svg">
        {%- case section.settings.wave_style -%}
          {%- when 'style1' -%}
              {% render 'wave-style-1' %}
          {%- when 'style2' -%}
              {% render 'wave-style-2' %}
          {%- when 'style3' -%}
            <div style="transform:rotate(180deg);display:flex">
            {% render 'wave-style-3' %}
            </div>
            {%- when 'style4' -%}
              {% render 'wave-style-4' %}
          {%- else -%}
          {% render 'wave-style-1' %}
        {%- endcase -%}
        
      </div>
    </div>
  </div>
  {% schema %}
{
  "name": "Wave",
  "class": "index-section save-section",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Feft"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "full",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "bgsection",
      "label": "Background Section",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "bg_wave",
      "label": "Background Wave",
      "default": "#ffffff"
    },
    
    {
      "type": "select",
      "id": "flip_pos",
      "label": "Flip",
      "default": "up",
      "options": [
        {
          "value": "up",
          "label": "Up"
        },
        {
          "value": "down",
          "label": "Down"
        }
      ]
    },
    {
      "type": "select",
      "id": "wave_style",
      "label": "Style",
      "default": "style1",
      "options": [
        {
          "value": "style1",
          "label": "Style1"
        },
        {
          "value": "style2",
          "label": "Style2"
        },
        {
          "value": "style3",
          "label": "Style3"
        },
        {
          "value": "style4",
          "label": "Style4"
        }
      ]
    },
      {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 0
    },
    {
      "type": "header",
      "content": "Appearance Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding top",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding bottom",
      "max": 150,
      "min": 0,
      "step": 2,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Wave",
      "category": "Forms"
    }
  ]
}
{% endschema %}
  