{%- liquid 
  assign login_style = section.settings.login_style
  assign image = section.settings.image
-%}
{% if login_style == 'split' %}
<style>
  @media(min-width:992px){
    .ormain-loginsplit{
      display: flex;
    }
    .ormain-loginsplit .page-width, .ormain-login-left{
      max-width: 50%;
      flex:0 0 50%;
      margin:0;
    }
    .ormain-loginsplit .page-width{
      flex-direction: column;
      justify-content: center;
      display: flex;
    }
  }
</style>
{% endif %}
<div class="ormain-login {% if login_style == 'split' %} ormain-loginsplit {% endif %}">
  {% if login_style == 'split' %}
  <div class="ormain-login-left">
    {%- if image != blank -%}
        <noscript>
          <img src="{{ image | image_url: width: 600 }}" alt="{{ image.alt }}" class="image-content__image"
            loading="lazy"
            width="{{ image.width }}"
            height="{{ image.height }}">
        </noscript>
        <div class="image-content__image-container overflow-hidden">
          <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
            {% assign img_url = image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
            <img class="image-content__image scale-in lazyload"
              src="{{ image | image_url: width: 1, height: 1 }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ image.alt | escape }}"
              loading="lazy"
              width="{{ image.width }}"
              height="{{ image.height }}">
          </div>
        </div>
      {%- else -%}
        <div class="image-content__image">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
  </div>
  {% endif %}
  <div class="page-width py-5">
    <div class="grid">
      <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
        <div class="content-block text-center">
          <div class="form-success hide" id="ResetSuccess">
            {{ 'customer.recover_password.success' | t }}
          </div>
          <div id="CustomerLoginForm" class="form-vertical">
            {%- form 'customer_login' -%}

              <h1 class="h3 mb-3">{{ 'customer.login.title' | t }}</h1>
              <p class="mb-5">{{ 'layout.customer.sub_login' | t }}
              </p>
              {{ form.errors | default_errors }}
              <div class="form-group">
                <input
                  class="form-control"
                  type="email"
                  name="customer[email]"
                  id="CustomerEmail"
                  class="{% if form.errors contains 'email' %} input--error{% endif %}"
                  placeholder="{{ 'customer.login.email' | t }}"
                  autocorrect="off"
                  autocapitalize="off"
                  autofocus>
                <label for="CustomerEmail" class="label--hidden">{{ 'customer.login.email' | t }}</label>
              </div>
              {%- if form.password_needed -%}
                <div class="form-group">
                  <input
                    class="form-control"
                    type="password"
                    autocomplete="on"
                    value=""
                    name="customer[password]"
                    id="CustomerPassword"
                    class="{% if form.errors contains 'password' %} input--error{% endif %}"
                    placeholder="{{ 'customer.login.password' | t }}">
                  <label for="CustomerPassword" class="label--hidden">{{ 'customer.login.password' | t }}</label>
                </div>
              {%- endif -%}
              {% if form.password_needed %}
                <p class="text-right mb-3 small">
                  <a
                    href="#recover"
                    id="RecoverPassword"
                    class="disabled-anchor">{{ 'customer.login.forgot_password' | t }}</a>
                </p>
              {% endif %}
              <p>
                <button type="submit" class="btn btn-theme gradient-theme w-100">{{ 'customer.login.sign_in' | t }}</button>
              </p>
              <p class="pt-2">
                <span class="d-inline-block pr-2">{{ 'layout.customer.question_account' | t }}
                </span>
                {{ 'layout.customer.create_account' | t | customer_register_link }}</p>

            {%- endform -%}
          </div>

          <div id="RecoverPasswordForm" class="hide">

            <h2 class="h3">{{ 'customer.recover_password.title' | t }}</h2>
            <p class="mb-3">{{ 'customer.recover_password.subtext' | t }}</p>

            <div class="form-vertical">
              {%- form 'recover_customer_password' -%}

                {{ form.errors | default_errors }}

                {%- if form.posted_successfully? -%}
                  <span class="hide reset-password-success"></span>
                {%- endif -%}
                <div class="form-group">

                  <input
                    class="form-control"
                    type="email"
                    value=""
                    name="email"
                    id="RecoverEmail"
                    placeholder="{{ 'customer.recover_password.email' | t }}"
                    autocorrect="off"
                    autocapitalize="off">
                  <label for="RecoverEmail" class="label--hidden">{{ 'customer.recover_password.email' | t }}</label>
                </div>
                <p>
                  <input
                    type="submit"
                    class="btn btn-theme gradient-theme mt-4"
                    value="{{ 'customer.recover_password.submit' | t }}">
                </p>

                <button
                  type="button"
                  id="HideRecoverPasswordLink"
                  class="text-link link-accent-color">{{ 'customer.recover_password.cancel' | t }}</button>
              {%- endform -%}
            </div>

          </div>

        </div>
        {%- if shop.checkout.guest_login -%}
          <div class="content-block text-center">
            <h2 class="h1">{{ 'customer.login.guest_title' | t }}</h2>
            {%- form 'guest_login' -%}
              <input
                type="submit"
                class="btn"
                value="{{ 'customer.login.guest_continue' | t }}">
            {%- endform -%}
          </div>
        {%- endif -%}
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Main Login",
    "class": "index-section",
    "settings": [
      {
        "type": "select",
        "id": "login_style",
        "label": "Style Page",
        "options": [
          {
          "value": "default",
          "label": "Default"
          },
          {
          "value": "split",
          "label": "Split"
          }
        ],
        "default": "default"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Image for style split"
      }
    ]
  }
{% endschema %}
