<!-- blog-grid-3.liquid -->
<div class="blog__item blog__item--3 {% if template contains 'index' %} mb-0 {% else %} mb-5 {% endif %}">
  <div class="content-block__image position-relative">
    {%- if article.image -%}
    <a href="{{ article.url }}">
      <noscript>
        {{ article | image_url: width: 1024, height: 1024 | image_tag: article.title | escape }}
      </noscript>
      <div class="article__photo-container">
        <div class="article__photo-wrapper {{ image_size }} " style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
          {%- assign img_url = article.image | image_url: width: 1 | replace: 'width=1', 'width={width}' -%}
          <img class="lazyload scale-in"
               src="{{ article.image | image_url: width: 1, height: 1 }}"
               data-src="{{ img_url }}"
               data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ article.image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ article.title | escape }}"
               loading="lazy"
               width="{{ article.image.width }}"
               height="{{ article.image.height }}">
        </div>
      </div>
    </a>
  {%- endif -%}
    <div class="content-block__meta transition d-flex flex-column justify-content-end align-items-start">
    <div class="blog__meta text-white">
      {%- if article.tags.size > 0 and enable_tag -%}
        {%- for tag in article.tags -%}
        <a class="mb-1 mr-1 d-inline-block text-uppercase text-white blog__meta--tag" href="{{ blog.url }}/tagged/{{ tag | handle }}" class="link-body-color">{{ tag }}</a>{% unless forloop.last %}{% endunless %}
        {%- endfor -%}
      {%- endif -%}
    </div>
    <div class="mt-auto">
      <div class="blog__meta d-flex align-items-center">
        {%- if enable_date -%}
          <span class="blog__date blog__meta--child">
            {{ article.published_at | time_tag : '%B %d, %Y' }}
          </span>
        {%- endif -%}
        {%- if enable_comment -%}
          <span class="text-white blog_comment align-items-center d-inline-flex blog__meta--child">
            {% render 'icon-comment' %}
            {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
          </span>
        {%- endif -%}
      </div>
      <h4 class="blog__title-link text-white mt-3" ><a href="{{ article.url }}">{{ article.title | truncatewords: 10 }}  </a></h4>
      {%- if enable_short -%}
        <div class="rte rte--indented-images mb-0 mt-3 text-white d-none d-lg-block">
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt }}
          {%- else -%}
            <p class="text-white mb-0">{{ article.content | strip_html | truncatewords: 15 }}</p>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
  </div>
 
  
</div>