<!-- blog-grid-7.liquid -->
<div class="blog__item blog__item--7">
  {%- if article.image -%}
  <div class="content-block__image">
    <a href="{{ article.url }}">
      <div class="article__photo-container mb-0">
        <div class="article__photo-wrapper {{ image_size }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
          {%- assign img_url = article.image | image_url: width: 1 | replace: 'width=1', 'width={width}' -%}
          <img class="lazyload scale-in"
               src="{{ article.image | image_url: width: 1, height: 1 }}"
               data-src="{{ img_url }}"
               data-widths="[360, 540, 720, 900, 1080]"
               data-aspectratio="{{ article.image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ article.title | escape }}"
               loading="lazy"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}">
        </div>
      </div>
    </a>
    <div class=" article__photo-content d-flex flex-column align-items-start py-4">
      <div class="{% if template != 'index' %} mb-4 {% else %} mt-0{% endif %}">
        <p class=" blog__meta text-uppercase small txt-body-70 mb-0 d-flex">
          {%- if enable_tag and article.tags.size > 0 -%}
            {%- for tag in article.tags limit: 3 -%}
            <span class="blog__meta--child">
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="button">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}
            </span>
            {%- endfor -%}
          {%- endif -%}
          {%- if enable_date -%}
            <span class="blog__meta--child">{{ article.published_at | time_tag: '%m-%d-%Y' }}</span>
          {%- endif -%}
          {%- if enable_comment -%}
            <span class="blog__meta--child">{{ 'blogs.comments.with_count' | t: count: article.comments_count }}</span>
          {%- endif -%}
        </p>
        <h4 class="blog__title-link mt-3 pt-2"><a href="{{ article.url }}">{{ article.title }}</a></h4>
        {%- if enable_short -%}
          <div class="rte rte--indented-images mb-4">
            {%- if article.excerpt.size > 0 -%}
              {{ article.excerpt }}
            {%- else -%}
              <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
      {%- if enable_btn_blog -%}
        <a class="btn {{ style_btn }} mt-auto mb-2" href="{{ article.url }}"> {{ 'blogs.article.read_more' | t }} </a>
      {%- endif -%}
      
    </div>
  </div>
  {%- endif -%}
 
</div>