 <noscript>
{%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form mr-3' -%}
    <div class="localization-form__select">
    <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
        {%- for country in localization.available_countries -%}
        <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
            {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
        </option>
        {%- endfor -%}
    </select>
    {% render 'icon-caret' %}
    </div>
    <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
{%- endform -%}
</noscript>
<localization-form>
    {%- liquid
        if margin == 'topbar'
            assign class_localization = 'localization-form mr-0'
        else
            assign class_localization = 'localization-form mr-3'
        endif
    -%}
{%- form 'localization', id: id, class: class_localization -%}

    <div class="no-js-hidden">
    <div class="disclosure">
        <button type="button" class="disclosure__button localization-form__select localization-selector d-flex align-items-center" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
            {%- if enable_image -%}
                {{ localization.country | image_url: width: 18 | image_tag: class: 'country-flag mr-2 lazyload' }}
            {%- endif -%}
            {%- if enable_name -%}
                {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
            {%- else -%}
                {{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }}
            {%- endif -%}
        {% render 'icon-caret' %}
        </button>
        <div class="disclosure__list-wrapper {{ header-left }}" hidden>
        <ul id="{{ idCountryList }}" role="list" class="disclosure__list list-unstyled {% unless enable_name %} disable_name {% endunless %}">
            {%- for country in localization.available_countries -%}
            <li class="disclosure__item" tabindex="-1">
                <a class="disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} link disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                    {%- if enable_image -%}
                        {{ country | image_url: width: 18 | image_tag: class: 'country-flag mr-2 lazyload' }}
                    {%- endif -%}
                    {%- if enable_name -%}
                     {{ country.name }}  <span class="localization-form__currency"> ({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                     {%- else -%}
                        <span class="localization-form__currency"> {{ country.currency.iso_code }} {{ country.currency.symbol }}</span>
                    {%- endif -%}
                </a>
            </li>
            {%- endfor -%}
        </ul>
        </div>
    </div>
    <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
    </div>
{%- endform -%}
</localization-form>