<div class="modal-body p-0">
    <div class="row m-0">
      <div class="col-12 p-0 bg-newsletter">
        <div class="popup-newsletter--content d-flex  flex-column col py-5 px-4 p-lg-5 justify-content-center text-center"> 
          {%- if subtitle != blank -%}
          <div class="subtop mb-3">{{ subtitle }}</div>
          {%- endif -%}    
        {% if pnewletter_title != blank %}
            <h3 class="modal-title popup-newsletter--title mb-2  {{ pnew_size_heading }}">
              {{ pnewletter_title }}
            </h3>
            {% endif %}
            {% if pnewletter_description != blank %}
            <div class="popup-newsletter--description pb-4 mb-2">
              {{ pnewletter_description }}
            </div>
            {% endif %}
  
            {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
            <p class="form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
            {% else %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            
            <div class="d-flex input-basic row m-0 form-group">
              <input id="popupNewsletter" 
              type="email" 
              value="{% if customer %}{{ customer.email }}{% endif %}" 
              placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" 
              name="contact[email]" 
              class="form-control col-lg col-12 mb-3 mb-lg-0 bg-white" autocapitalize="off">
              <label for="popupNewsletter" class="label--hidden">{{ 'general.newsletter_form.newsletter_placeholder' | t }}</label>
              <div class=" pl-lg-3 popup-btnwrap">
                <button type="submit" class="btn btn-theme js-btnPopupNewsletter" name="commit">
                  <span class="d-sm-inline">{{ button }}</span>
                </button>
              </div>
            </div> 
            {%- if pnewletter_description_sub != bank -%}
                <div class="rte txt-body-60 small pt-4">
                  {{ pnewletter_description_sub }}
                </div>
              {%- endif -%}
            {% endif %}
            {% endform %}
          </div>
      </div>
    </div>
  </div>