<!-- productOption.liquid -->

{%- if product_selector == 'radio' -%}
  {%- liquid
    assign isColor = false
    assign optionName = option.name
    assign option_index = loop
    assign keywords_1  = settings.contain_color
    assign keywords_2  = settings.contain_color_2
  -%}
{%- if  optionName contains keywords_1 or optionName contains keywords_2 -%}
{%- assign isColor = true -%}
{%- endif -%}
<fieldset class="single-option-radio {% if isColor %} {% if siblings_collection != blank and enable_sibling %} d-none {% endif %} single-color {{ size_color }} {% if type_color == 'circle' %} round-color {% elsif type_color == 'square' %} square-color {% else %} square-color-txt {% endif %} {% endif %} "
          name="{{ option.name | handleize }}"
          id="ProductSelect-option-{{ optionName }}-{{ forloop.index0 }}">
  
  {%- for value in option.values -%}
    {%- liquid
      assign variant_label_state = true 
      if product.options.size == 1 
        unless product.variants[forloop.index0].available 
        assign variant_label_state = false 
        endunless 
      endif 
      for variant in product.variants
        assign vOption = 'option' | append: option_index 
        if value == variant[vOption] 
        assign currenVariant = variant 
        break 
        endif 
      endfor 
      assign hasImage = false 
      if isColor and currenVariant.image 
      assign hasImage = true 
      endif 

      assign value_handle = value | escape | handle
      assign palette_config = settings.color_swatch_config | newline_to_br | split: '<br />'
     assign lowercase_value = value | downcase

    assign style_property = '--swatch-bg: ' | append: lowercase_value
    for item in palette_config
      assign parts = item | split: ':'
      assign name = parts.first | downcase | strip
      if lowercase_value == name
        assign val = parts.last | strip
        if val contains '#' 
          assign style_property = '--swatch-bg: ' | append: val 
        elsif images[val] != blank 
          assign image = images[val] | image_url: width: 72 
          assign style_property = '--swatch-bg: url(' | append: image | append: ')' 
        endif 
        break
      endif
    endfor

    -%}

  <input type="radio"
        {% if option.selected_value == value -%} checked="checked"{%- endif %}
        {% unless variant_label_state -%} disabled="disabled"{%- endunless %}
         value="{{ value | escape }}"
         data-index="option{{ option_index }}"
         name="{{ option.name | handleize }}"
         class="single-option-selector-{{ section.id }} single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
         id="ProductSelect-option-{{ option.name | handleize }}-{{ value_handle }}">
    <label {% if hasImage %} title="{{ value | escape }}" 
    {%- if sw_color_product -%} 
    class="st-color-{{ value_handle }} st-tooltip-top"
    style="{{ style_property }}"
    {% else %} 
    class="st-color-image"
    style="background-image:url({{ currenVariant.image.src | image_url: width: 100 }})" 
    {% endif %}{% endif %}
          for="ProductSelect-option-{{ option.name | handleize }}-{{ value_handle }}"{% unless variant_label_state %} class="disabled"{% endunless %}>
      {% comment %} {%- unless hasImage -%}{{ value | escape }}{%- endunless -%} {% endcomment %}
      {%- if isColor -%}
        <span class="st-color-{{ value_handle }} st-color" style="{{ style_property }}" ></span>
        <span class="">{{ value | escape }}</span>
      {%- else -%}
      {{ value | escape }}
      {%- endif -%}
    </label>
  {%- endfor -%}
</fieldset>
{%- else -%}
<select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
        id="SingleOptionSelector-{{ forloop.index0 }}"
        data-name="{{ option.name }}"
        data-index="option{{ loop }}">
  {%- for value in option.values -%}
  <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
  {%- endfor -%}
</select>
{%- endif -%}
