{% if settings.shipping_calculator %}
<style>
    .ship-field label{
        display: block;
    }
    .ship-field select,.ship-field input{
        width: 100%;
        border-radius: var(--g-input-radius);
        background-color: var(--g-input-bg);
        border: 1px solid var(--g-input-border);
        outline: none;
        box-shadow: none;
        color: var(--g-color-heading);
        height: var(--g-input-height);
        line-height: var(--g-input-height);
        padding:0 1rem;
    }
    @media(min-width:750px){
      .shipping-calculator-input{
          display: grid;
          grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
          column-gap: 1.5rem;
      }
    }
   
    .shipping-calculator-input .field:nth-child(1),.shipping-calculator-input .field:nth-child(2){
        grid-column: span 2;
    }
</style>
<div id="shipping-calculator" class="border p-4 bg-content">
  <h5 class="mb-4">{{ settings.shipping_calculator_heading | default: 'cart.general.shipping_title' | t }}</h5>
  <div class="shipping-calculator-input">
    <p class="field ship-field">
      <label for="address_country">Country</label>
      <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
    </p>
    <p class="field ship-field" id="address_province_container" style="display:none;">
      <label for="address_province" id="address_province_label">Province</label>
      <select id="address_province" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
    </p>  
    <p class="field ship-field">
      <label for="address_zip">Zip/Postal Code</label>
      <input type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
    </p>
  </div>
  <p class="field my-3">
      <button type="button" class="get-rates btn btn-theme" >{{ settings.shipping_calculator_submit_button_label | default: 'general.cart.shipping_submit' | t }}</button>
</p>
  <div id="wrapper-response"></div>
</div>
    {% endif %}

<script id="shipping-calculator-response-template" type="text/template">
  {% raw %}
  <p id="shipping-rates-feedback" {{#if success}} class="success" {{else}} class="error" {{/if}}>
  {{#if success}}
    {{#if rates}}
      {{#rates}}
        {{#if @first}}
            Rates start at {{price}}.
        {{/if}}
      {{/rates}}
    {{else}}
      We do not ship to this destination.
    {{/if}}    
  {{else}}
    {{ errorFeedback }}
  {{/if}}
  </p>
  {% endraw %}
</script>

<!--[if lte IE 8]>
<style> #shipping-calculator { display: none; } </style>
<![endif]-->