<!-- site-logo.liquid -->
{%- liquid
  assign logo_max_width = section.settings.logo_max_width
  assign logodark = section.settings.logo
  assign logowhite= section.settings.logo_white
-%}
<style>.site-header__logo img {width: {{ logo_max_width | append: 'px' }};}.site-header__logo.has-logo{font-size: 0;line-height: 0;}.site-header__logo.has-logo a{font-size: 0;line-height: 0;}</style>
{%- if template.name == 'index' -%}
<h1 class="site-header__logo {% if logodark != blank %} has-logo {% endif %}" itemscope itemtype="http://schema.org/Organization">
  {%- else -%}
  <div class="site-header__logo h1" itemscope itemtype="http://schema.org/Organization">
    {%- endif -%}
    {%- if logodark != blank -%}
    {%- capture image_size -%}{{ logo_max_width }}x{%- endcapture -%}
    <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-link">
           {%-liquid
            assign maxlogo =  logo_max_width | times: 2   
          -%}
           {{ logodark | image_url: width: maxlogo | image_tag:
            class: 'logo-dark',
            widths: '50, 100, 150, 200, 250, 300, 400, 500',
            height: logodark.height,
            width: logodark.width,
            alt: shop.name
          }}
          {%- if logowhite != blank -%}
            {{ logowhite | image_url: width: maxlogo | image_tag:
              class: 'logo-white d-none',
              widths: '50, 100, 150, 200, 250, 300, 400, 500',
              height: logowhite.height,
              width: logowhite.width,
              alt: shop.name
            }}
        {%- endif -%}

    </a>
    {%- else -%}
    {%- assign shop_name_length = shop.name.size -%}
    <a href="/" itemprop="url" {% if shop_name_length > 10 %} class="site-header__shop-name--small"{% endif %}>{{ shop.name }}</a>
    {%- endif -%}
    {%- if template.name != 'index' -%}
  </div>
  {%- else -%}
</h1>
{%- endif -%}